<div 
  class="cly-option-swapper"
  :class="{
    'cly-option-swapper--disabled': disabled
  }"
>
  <div
    v-for="(option, index) in options"
    :key="`cly-option-swapper-option-${index}`"
    :data-test-id="`cly-option-swapper-option-${testId}-${option.value.toString().toLowerCase()}`"
    v-tooltip="option.tooltip"
    class="cly-option-swapper__option"
    :class="{
      'cly-option-swapper__option--active': option.value === selectedOption,
      'cly-option-swapper__option--disabled': option.disabled || disabled,
      'cly-option-swapper__option--first': index === 0,
      'cly-option-swapper__option--last': index === (options.length - 1),
      'cly-option-swapper__option--no-highlight': !highlightOnSelect
    }"
    @click="onOptionClick(option)"
  >
      <i
        v-if="option.icon"
        :class="option.icon"
      />
      <span v-else>{{ option.text }}</span>
  </div>
</div>