@font-face {
  font-family: 'Lato';
  src: url('Lato-Regular.eot'); /* IE9 Compat Modes */
  src: url('Lato-Regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('Lato-Regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('Lato-Regular.woff') format('woff'), /* Pretty Modern Browsers */
       url('Lato-Regular.ttf')  format('truetype'), /* Safari, Android, iOS */
}