<div v-bind:class="[componentId]">
    <cly-header
		:title="i18n('resolutions.title')"
		:tooltip="{description}"
	>
		<template v-slot:header-right>
          <cly-more-options v-if="topDropdown" size="small">
			<el-dropdown-item :key="idx" v-for="(item, idx) in topDropdown" :command="{url: item.value}">{{item.label}}</el-dropdown-item>
          </cly-more-options>
        </template>
    </cly-header>
    <cly-main>
		<cly-date-picker-g class="bu-mb-5"></cly-date-picker-g>
		<cly-section>
			<div class="bu-columns bu-is-gapless bu-mt-2 technology-pie-graphs">
				<div class="bu-column bu-is-6">
					<cly-chart-pie test-id="pie-new" :option="pieOptionsNew" :showToggle="false" v-loading="isLoading" :force-loading="isLoading"></cly-chart-pie>
				</div>
				<div class="bu-column bu-is-6">
					<cly-chart-pie test-id="pie-total" :option="pieOptionsTotal" :showToggle="false" v-loading="isLoading" :force-loading="isLoading"></cly-chart-pie>
				</div>
			</div>
		</cly-section>
		<cly-section>
			<cly-datatable-n  test-id="resolutions" :rows="appResolutionRows" :resizable="true" :force-loading="isLoading">
				<template v-slot="scope">
					<el-table-column sortable="custom" prop="resolutions" :label="i18n('resolutions.table.resolution')">
						<template v-slot="rowScope">
							<div :data-test-id="'datatable-resolutions-resolution-' + rowScope.$index">
								{{ rowScope.row.resolutions }}
							</div>
						</template>
					</el-table-column>
					<el-table-column sortable="custom" prop="t" :formatter="numberFormatter" :label="i18n('common.table.total-sessions')">
						<template v-slot="rowScope">
							<div :data-test-id="'datatable-resolutions-total-sessions-' + rowScope.$index">
								{{ rowScope.row.t }}
							</div>
						</template>
					</el-table-column>
					<el-table-column sortable="custom" prop="u" :formatter="numberFormatter" :label="i18n('common.table.total-users')">
						<template v-slot="rowScope">
							<div :data-test-id="'datatable-resolutions-total-users-' + rowScope.$index">
								{{ rowScope.row.u }}
							</div>
						</template>
					</el-table-column>
					<el-table-column sortable="custom" prop="n" :formatter="numberFormatter" :label="i18n('common.table.new-users')">
						<template v-slot="rowScope">
							<div :data-test-id="'datatable-resolutions-new-users-' + rowScope.$index">
								{{ rowScope.row.n }}
							</div>
						</template>
					</el-table-column>
				</template>
			</cly-datatable-n>
		</cly-section>
    </cly-main>
</div>