<div v-bind:class="[componentId]">
    <cly-header
		:title="i18n('resolutions.title')"
		:tooltip="{description}"
	>
		<template v-slot:header-right>
          <cly-more-options v-if="topDropdown" size="small">
            <el-dropdown-item :key="idx" v-for="(item, idx) in topDropdown">
              <!--<span :class="item.icon"></span>-->
              <a :href="item.value" class="bu-ml-1">{{item.label}}</a>
            </el-dropdown-item>
          </cly-more-options>
        </template>
    </cly-header>
    <cly-main>
		<cly-date-picker-g in-the-last-hours class="bu-mb-5"></cly-date-picker-g>
		<cly-section>
			<div class="bu-columns bu-is-gapless bu-mt-2 technology-pie-graphs">
				<div class="bu-column bu-is-6">
					<cly-chart-pie :option="pieOptionsNew" :showToggle="false" v-loading="isLoading" :force-loading="isLoading"></cly-chart-pie>
				</div>
				<div class="bu-column bu-is-6">
					<cly-chart-pie :option="pieOptionsTotal" :showToggle="false" v-loading="isLoading" :force-loading="isLoading"></cly-chart-pie>
				</div>
			</div>
		</cly-section>
		<cly-section>
			<cly-datatable-n  :rows="appResolutionRows" :resizable="true" :force-loading="isLoading">
				<template v-slot="scope">
					<el-table-column sortable="custom" prop="resolutions" :label="i18n('resolutions.table.resolution')"></el-table-column>
					<el-table-column sortable="custom" prop="t" :formatter="numberFormatter" :label="i18n('common.table.total-sessions')"></el-table-column>
					<el-table-column sortable="custom" prop="u" :formatter="numberFormatter" :label="i18n('common.table.total-users')"></el-table-column>
					<el-table-column sortable="custom" prop="n" :formatter="numberFormatter" :label="i18n('common.table.new-users')"></el-table-column>
				</template>
			</cly-datatable-n>
		</cly-section>
    </cly-main>
</div>