.routename-manageUsers {
  .manage-users-wrapper {
    .tab-content {
      padding: 0px 24px;
    }
  }

  .tab-bar {
    .el-tabs__header {
      padding: 24px 24px 0px 24px;
    }
  }

  .cly-vue-header {
    padding: 24px 0px;
    border-bottom: none;
  }

  .create-button {
    background-color: #12AF51;
  }
}