.manage-users-table {
  margin: 0px 25px;

  &__groups {
    display: inline-block;
    color: #32659d;

    a:hover {
      color: #1a75da;
      text-decoration: underline;
    }
  }

  &__groups-label {
    margin: 0px 2px;
  }
}

.user-management-filter-form {
  .select-full-width {
    width: 100%;
  }
}