<div>
    <clyd-datatype v-model="scope.editedObject.data_type" @change="onDataTypeChange"></clyd-datatype>
    <clyd-sourceapps v-model="scope.editedObject.apps" :multiple="false"></clyd-sourceapps>
	<clyd-breakdown v-model="scope.editedObject.breakdowns" type="geo" :appId="scope.editedObject.apps[0]"></clyd-breakdown>
    <clyd-visualization v-model="scope.editedObject.visualization" :enabled-types="enabledVisualizationTypes"></clyd-visualization>
	<clyd-colors v-if="scope.editedObject.visualization === 'bar-chart'" v-model="scope.editedObject.bar_color"></clyd-colors>
    <clyd-metric v-model="scope.editedObject.metrics" :metrics="metrics" :multiple="isMultipleMetric"></clyd-metric>
    <clyd-title v-model="scope.editedObject.title"></clyd-title>
	<clyd-period v-model="scope.editedObject.custom_period"></clyd-period>
</div>