<div class="bu-level bu-pb-3">
    <div class="bu-level-left" :data-test-id="`widget-label-${widget.label.toLowerCase().replaceAll(/\s/g, '-')}`">
        <h2>{{i18n(widget.label)}}</h2>
        <cly-tooltip-icon :data-test-id="`widget-tooltip-${widget.label.toLowerCase().replaceAll(/\s/g, '-')}`" class="bu-ml-2" :tooltip="widget.description" placement="top-center"></cly-tooltip-icon>
    </div>
    <div class="bu-level-right">
        <a v-if="widget.linkTo" class="cly-back-link text-medium" :data-test-id="`widget-link-${widget.linkTo.label.toLowerCase().replaceAll(/\s/g, '-')}`" :href="widget.linkTo.href"><span>{{i18n(widget.linkTo.label)}}<i class="fas fa-arrow-right bu-pl-3" :data-test-id="`widget-arrow-${widget.linkTo.label.toLowerCase().replaceAll(/\s/g, '-')}`"></i></span></a>
    </div>
</div>