/*
    Contains global state classes for DOM elements
*/

@use "../base/typography-variables" as t;
@use "../base/colors" as c;
@use "sass:map";

.font-weight-bold {
    font-weight: t.$font-weight-bold !important;
}

.font-weight-normal {
    font-weight: t.$font-weight-text !important;
}

.font-italic {
    font-style: italic !important;
}

.text-lowercase {
    text-transform: lowercase !important;
}

.text-uppercase {
    text-transform: uppercase !important;
}

.text-big {
    font-size: t.$text-big-size;
    font-weight: t.$font-weight-text;
    line-height: t.$text-big-line-height;
    &.font-weight-bold {
        font-weight: t.$font-weight-primary !important;
    }
}

.text-medium {
    font-size: t.$text-medium-size;
    font-weight: t.$font-weight-text;
    line-height: t.$text-medium-line-height;
    &.font-weight-bold {
        font-weight: t.$font-weight-primary !important;
    }
}

.text-small {
    font-size: t.$text-small-size;
    font-weight: t.$font-weight-text;
    line-height: t.$text-small-line-height;
    &.font-weight-bold {
        font-weight: t.$font-weight-primary !important;
    }
}

.text-smaller {
    font-size: t.$text-smaller-size;
    font-weight: t.$font-weight-text;
    line-height: t.$text-smaller-line-height;
    &.font-weight-bold {
        font-weight: t.$font-weight-primary !important;
    }
}

@each $name, $value in c.$colors {
    .color-#{$name} {
        color: $value;
    }

    .bg-#{$name} {
        background-color: $value;
    }
}

.white-bg {
    background-color: map.get(c.$colors, "white");
}

.no-bg {
    background-color: none;
}

.blinker {
    position: relative;
    top: -1px;
    width: 6px;
    height: 6px;
    border-radius: 8px;
    background-color: #2fa732;
    display: inline-block;
    vertical-align: middle;
    margin-right: 5px;
    animation: blinker 1.5s cubic-bezier(0.5, 0, 1, 1) infinite alternate;
}