@use "../base/element-variables" as e;

.cly-vue-header {
    padding: 12px 0px 12px;
    border-bottom: e.$border-base;

    &:not(:last-child) {
        margin-bottom: 32px;
    }

    .bu-level {
        padding: 0px 24px 12px;
    }
}
