.header {
    padding: 12px 0px 12px;
    border-bottom: $--border-base;

    &:not(:last-child) {
        margin-bottom: 32px;
    }

    &--white {
        background-color: $--color-white;
    }

    &--no-bg {
        background-color: none;
    }
    
    .bu-level {
        padding: 0px 24px 12px;
    }
}
