api/node_modules/
.idea
.vscode
.cache
.npm
.npmrc
.local
bin/config/nginx/
bin/config/supervisord.conf
*_en.properties
frontend/express/node_modules/
api/config.js
countly_marked_version.json
frontend/express/config.js
frontend/express/public/javascripts/countly/countly.config.js
frontend/express/certificates
frontend/express/public/javascripts/min
frontend/express/public/localization/min
frontend/express/public/stylesheets/*.min.css
plugins/*/frontend/public/stylesheets/*.css
plugins/*/frontend/public/stylesheets/*.css.map
plugins/plugins.json
frontend/express/public/sdk/
**/.DS_Store
**/node_modules
bin/scripts/nghttp2
frontend/express/public/userimages/
frontend/express/public/images/*/
!frontend/express/public/images/leaflet/
!frontend/express/public/images/annotation/
!frontend/express/public/images/dashboard/
!frontend/express/public/images/flags/
!frontend/express/public/images/management/
!frontend/express/public/images/pre-login/
!frontend/express/public/images/screenshots
!frontend/express/public/images/heatmap-demos/
!frontend/express/public/images/icons/
!frontend/express/public/images/sidebar/
frontend/express/public/stylesheets/styles/manifest.css
frontend/express/public/stylesheets/vue/clyvue.css
frontend/express/public/stylesheets/styles/manifest.css.map
frontend/express/public/stylesheets/vue/clyvue.css.map
log/
log/supervisord/
plugins/plugins.json.*