api/node_modules/time
.idea
frontend/express/node_modules/time
api/config.js
frontend/express/config.js
frontend/express/public/javascripts/countly/countly.config.js
closure-compiler.jar

# Vagrant-related & test data
.vagrant/
log/
bin/config/nginx.default.backup

