api/node_modules/
.idea
frontend/express/node_modules/
api/config.js
frontend/express/config.js
frontend/express/public/javascripts/countly/countly.config.js
frontend/express/certificates
frontend/express/public/javascripts/min
frontend/express/public/localization/min
frontend/express/public/stylesheets/*.min.css
plugins/plugins.json
frontend/express/public/sdk/
**/.DS_Store
**/node_modules
bin/scripts/nghttp2
frontend/express/public/images/*/
!frontend/express/public/images/dashboard/
!frontend/express/public/images/flags/
!frontend/express/public/images/management/
!frontend/express/public/images/pre-login/