{
  "report-dir": "./CoverageReportDir",
  "exclude": [
    ".git/**",
    "frontend/**",
    "bin/**",
    "frontend/**",
    "test/**",
    "core/**",
    "extend/**",
    "**/tests/**",
    "**/tests.js",
    "CodeCoverageResult/**",
    "CoverageReportDir/**",
    "plugins/*/frontend/**",
    "node_modules/**",
    "**/node_modules/**"

  ],
  "reporter": [
        "html",
        "text"
      ],
  "all": true
}