.app-management-view {
  h2{letter-spacing: 0.3px;}
  h3{letter-spacing: 0.3px;}
  .app-management-details .el-collapse-item__content{
    .cly-vue-drawer__steps-wrapper {
      .cly-vue-drawer__steps-container{
      margin-top: 12px;
        .cly-vue-form-step__section{
          padding-left: 24px !important;
          padding-right: 24px !important;
          padding-top: 12px !important;
          padding-bottom: 12px !important;
        }
      }
    }
  }
  .cly-vue-section__content{
    border: 1px solid #ececec;
    border-radius: 4px;

    .bu-columns{
    }

    .el-collapse {
      border: none;
    }
    .app-section {

      margin-left: 12px;
      margin-right: 4px;

      .cly-vue-form-step__section{
        margin-bottom: 24px !important;
        margin-left: 0 !important;
        margin-right: 0 !important;
        color: #333C48;
        display: flex;
        justify-content: space-between;
        .cly-vue-form-field__inner .el-form-item{
          .el-form-item__content {
            line-height: 0;
          }
        }
        div p {
          font-size: 14px;
          line-height: 14px;
          margin: 0;}
        div p + p {
          font-size: 12px;
          line-height: 16px;
          font-weight: 400; 
          margin-top: 4px;
        }
      }

      span div .bu-columns{
        padding: 0 !important;
        margin: 0;
        .bu-is-4{
          width: 50%;
          margin-right: 48px;
        }
        .bu-is-8{
          width: 37.33%;
        }
      }
    } 
  }

  .account-settings-avatar-box{
    padding: 24px;
    overflow: auto;
    flex: auto;
    .el-upload {display: block;}
  }

  .feedback-settings {
    &__upload{
    .el-upload {display: block;}
    }
    &__colorpicker{
      .picker-body {overflow: auto;}
    }
    &__button{
      &:active, &:focus, &:hover {background-color: unset !important;border-color: unset !important;}
    }

  }

  .app-management-list {
    max-height:681px;
    max-width:223px;
    .cly-vue-listbox__item span{
        margin-left: 8px;
        position: relative;
        top: -8px;
    }
  }

  .app-management-details {
    .bu-columns {
      margin: 0 !important;
      padding: 0 !important;
      border-bottom: 1px solid #ececec;
    }
    .bu-columns:last-child{
      border-bottom: none; 
      margin-bottom: -20px;
    }
    .el-collapse-item__header.is-active {
      border-bottom: 1px solid #ececec;
    }
    .el-collapse-item__content{
      padding-bottom: 0;
      .cly-vue-form-step__section{
        padding-left: 48px !important;
        padding-right: 24px !important;
        padding-top: 12px !important;
        padding-bottom: 12px !important;
        div:nth-child(2){
          .el-form-item__content {
            display: flex !important;
            justify-content: right !important;
            float: right;
            line-height: inherit;
            > div {
              max-width: 232px;
            }
          }
        }  
      }
    }
    .el-collapse-item__arrow {color: #81868D;}
    .el-collapse-item__header {color: #333C48; padding-left: 24px !important; text-transform: uppercase;} 
    .el-collapse-item__wrap {overflow: unset;}
  }
  .box-card{
    background-color: #E6F0FB;
    border: 1px solid #0166D6;
    box-sizing: border-box;
    box-shadow: 0px 1px 0px #ECECEC;
    border-radius: 4px;
    .el-card__body{
      padding: 24px;
      p a {
        color:#0166D6;
      }
      p:nth-of-type(1){
        line-height: 24px;
        font-weight: 500;
        font-size: 16px;
      }
      p{
        font-size: 14px;
      }
    }
  }  
}
.el-dropdown-menu__item--divided{
  &__fix-broken {
    border: none;
    &::before {
      height: 0px;
    }
  }
}
.add-border {
    margin: 0 8px;
    padding: 0;
    border-top: 1px solid #ECECEC;
    > a {
      display: none;
    }
}
@media( max-width: 2133px ) {
	.app-section span div div:nth-last-child(1) .cly-vue-form-step__section{
		display: block !important;
    .el-input{
      width: 268%;
    }
	}
}
@media( max-width: 1280px ) {
	.app-section span div div:nth-last-child(2) .cly-vue-form-step__section{
		display: block !important;
    .el-input{
      width: 177%;
    }
	}
}