.routename-analytics-geo .geo-date-picker-container {
	margin-bottom:32px;
}

// .geo-countries-section .cly-vue-radio-block .radio-wrapper .radio-button {
// 	padding: 95px 33px;
// }

.routename-analytics-geo .radio-column{
	width: 256px;
}