.routename-analytics-geo .geo-date-picker-container {
	margin-bottom: 32px;
}

.routename-analytics-geo .radio-column {
	width: 256px;
}

.leaflet-noclick-map .leaflet-interactive {
    cursor: -webkit-grab;
    cursor: -moz-grab;
    cursor: grab;
}

.leaflet-control-zoom {
  user-select: none;
  border-color: #dcdcdc !important;
  
  a {
    color: #333c48;
    border-bottom-color: #dcdcdc;
  }
}

.geo-analytics-data {
  .cly-vue-button {
    padding: 6px 10px;
    border-radius: 4px;
  }
}