.routename-analytics-geo .geo-date-picker-container {
	margin-bottom:32px;
}

.routename-analytics-geo .cly-vue-radio-block .radio-wrapper .radio-button {
	padding: 66px 33px;
}

.routename-analytics-geo .radio-column{
	width: 256px;
	border-right: 1px solid #ececec;
}