<template>
    <div class="groupcard-container">
      <div class="groupcard-groupcard">
        <div class="groupcard-frame1328">
          <span class="groupcard-text mediumtextNormal-14px">{{ metricPreText }}</span>
          <div class="groupcard-variable">
            <select class="groupcard-buttons" v-model="selectedMetric">
              <option v-for="(metricItem, index) in metric.metrics" :key="index" :value="metricItem.value">
                {{ metricItem.label }}
              </option>
            </select>
          </div>
          <span class="groupcard-text2">{{ metricPostText }}</span>
          <div class="groupcard-variable1">
            <select v-if="showVariable" v-model="selectedVariable">
              <option v-for="(variableItem, index) in variables" :key="index" :value="variableItem.value">
                {{ variableItem.label }}
              </option>
            </select>
          </div>
          <span class="groupcard-text4 mediumtextNormal-14px">{{ variableText }}</span>
          <div class="groupcard-variable2">
            <input v-if="showValue" type="text" v-model="alertValue" />
          </div>
          <span class="groupcard-text6 mediumtextNormal-14px">in the last</span>
          <div class="groupcard-frame842">
            <div class="groupcard-variable3">
              <select v-model="selectedTime">
                <option v-for="(timeOption, index) in timeOptions" :key="index" :value="timeOption.value">
                  {{ timeOption.label }}
                </option>
              </select>
            </div>
            <span class="groupcard-text8 mediumtextNormal-14px">.</span>
          </div>
        </div>
      </div>
    </div>
  </template>
