<div class="cly-vue-drawer"
    :class="rootClasses">
    <div class="sidecars-view" v-show="hasSidecars">
        <slot name="sidecars"
            v-bind="passedScope">
        </slot>
    </div>
    <div class="steps-view">
        <div class="title">
            <span>{{title}}</span>
            <span class="close" v-on:click="doClose">
                <i class="ion-ios-close-empty"></i>
            </span>
        </div>
        <div class="steps-header" v-show="isMultiStep">
            <div class="label" :class="{active: i === currentStepIndex,  passed: i < currentStepIndex}" v-for="(currentContent, i) in stepContents" :key="i">
                <div class="wrapper">
                    <span class="index">{{i + 1}}</span>
                    <span class="done-icon"><i class="fa fa-check"></i></span>
                    <span class="text">{{currentContent.name}}</span>
                </div>
            </div>
        </div>
        <div class="details" :class="{'multi-step':isMultiStep}">
            <slot name="default"
                v-bind="passedScope">
            </slot>
        </div>
        <div class="buttons multi-step" v-if="isMultiStep">
            <div class="controls-left-container">
                <slot name="controls-left"
                    v-bind="passedScope">
                </slot>
            </div>
            <el-button @click="doClose" v-if="hasCancelButton" skin="light">{{cancelButtonLabel}}</el-button>
            <el-button @click="nextStep" v-if="!isLastStep" :disabled="!isCurrentStepValid">{{i18n('common.drawer.next-step')}}</el-button>
            <el-button @click="submit" v-if="isLastStep" :disabled="!isSubmissionAllowed">{{saveButtonLabel}}</el-button>
            <el-button @click="prevStep" v-if="currentStepIndex > 0">{{i18n('common.drawer.previous-step')}}</el-button>
        </div>
        <div class="buttons single-step" v-if="!isMultiStep">
            <el-button @click="doClose" v-if="hasCancelButton">{{cancelButtonLabel}}</el-button>
            <el-button @click="submit" :disabled="!isSubmissionAllowed">{{saveButtonLabel}}</el-button>
        </div>
    </div>
</div>