<div>
    <a href="#" v-for="(cat, idx) in categories">
        {{cat.title}}
        <ul>
            <li v-for="(menu, idx) in categorizedMenus[cat.name]">
                <a :href="menu.url">
                    {{menu.title}}
                </a>
                <ul>
                    <li v-for="(submenu, idx) in categorizedSubmenus[menu.code]">
                        <a :href="submenu.url">
                            {{submenu.title}}
                        </a>
                    </li>
                </ul>
            </li>
        </ul>
    </a>
</div>