<div class="cly-vue-worldmap">
    <div class="bu-columns bu-is-gapless">
        <div class="bu-column bu-is-3">
            <div v-if="inDetail" class="cly-vue-worldmap__country-detail">
                <button @click="goToMain">
                    <- Go back 
                </button>
                <cly-listbox
                    v-if="detailMode === 'regions'"
                    :options="locations"
                    :value="focusedRegion"
                    @input="focusToRegion($event)">
                </cly-listbox>
                <cly-listbox
                    v-else-if="detailMode === 'cities'"
                    :options="locations"
                    :value="focusedCity"
                    @input="focusToCity($event)">
                </cly-listbox>
            </div>
            <div v-else class="cly-vue-worldmap__available-locations">
                <cly-listbox
                    :options="locations"
                    :value="country"
                    @input="goToCountry($event)">
                </cly-listbox>
            </div>
        </div>
        <div class="bu-column bu-is-9">
            <l-map ref="lmap" v-loading="loading" :min-zoom="minZoom" :options="{zoomControl: false}" :max-bounds="maxBounds" style="height: 500px; width: 100%">

                <l-tile-layer pane="tilePane" v-if="showTile" :url="tileFeed" :no-wrap="true" :attribution="tileAttribution"></l-tile-layer>
                
                <l-geo-json
                    pane="tilePane"
                    :geojson="inDetail ? geojsonDetail:geojsonHome"
                    :options="inDetail ? optionsDetail:optionsHome"
                    :options-style="styleFunction">
                </l-geo-json>

                <l-control position="topLeft" pane="markerPane">
                    <div class="cly-vue-worldmap__detail-switch bu-m-3" v-show="inDetail">
                        <el-radio-group v-model="detailMode" size="small">
                            <el-radio-button label="regions">Regions</el-radio-button>
                            <el-radio-button label="cities">Cities</el-radio-button>
                        </el-radio-group>
                    </div>
                </l-control>

                <l-circle-marker
                    v-bind="circleMarkerConfig"
                    :radius="getMarkerRadius(item.value)"
                    :lat-lng="nameToLatLng[name]" 
                    :key="unique(name)"
                    v-for="(item, name) in activeMarkers">
                </l-circle-marker>
            </l-map>
        </div>
    </div>
</div>