.countly-checkbox-native {
  position: relative;
  top: -15px;
  left: -5px;
  opacity: 0;
  cursor: pointer;
}
.countly-checkbox-wrapper {
  height: 11px;
  width: 11px;
  border:1px solid #d0d0d0;
  border-radius: 2px;
  background-color: white;
  text-align: center;
  cursor: pointer;
}
.countly-checkbox-checked {
  background-color: #2FA732;
  border:1px solid #2FA732;
}
.countly-checkbox-icon {
  position: relative;
  color: white;
  font-size:10px;
  top: -1px;
  opacity: 0;
}
.countly-checkbox-label {
  position: relative;
  top: -13px;
  left: -5px;
}
.countly-checkbox-disabled {
  background-color: #2fa73273;
  border: 1px solid transparent;
}