<div class="manage-users-table">
  <cly-datatable-n
    :rows="rows">
      <template v-slot="scope">
          <el-table-column sortable="true" prop="full_name" :label="i18n('management-users.user')">
              <template v-slot="rowScope">
                  <span class="text-medium" v-html="rowScope.row.full_name"></span>
              </template>
          </el-table-column>
          <el-table-column sortable="true" prop="username" :label="i18n('management-users.username')">
            <template v-slot="rowScope">
                <span class="text-medium" v-html="rowScope.row.username"></span>
            </template>
          </el-table-column>
          <el-table-column sortable="true" prop="role" :label="i18n('management-users.role')">
            <template v-slot="rowScope">
                <span class="text-medium" v-html="rowScope.row.global_admin"></span>
            </template>
          </el-table-column>
          <el-table-column sortable="true" prop="email" :label="i18n('management-users.email')">
            <template v-slot="rowScope">
                <span class="text-medium" v-html="rowScope.row.email"></span>
            </template>
          </el-table-column>
          <el-table-column sortable="true" prop="created_at" :label="i18n('management-users.created')">
            <template v-slot="rowScope">
                <span class="text-medium" v-html="rowScope.row.created_at"></span>
            </template>
          </el-table-column>
          <el-table-column sortable="true" prop="last_login" :label="i18n('management-users.last_login')">
            <template v-slot="rowScope">
                <span class="text-medium" v-html="rowScope.row.last_login"></span>
            </template>
          </el-table-column>
      </template>
  </cly-datatable-n>
</div>