<div>
  <cly-drawer
    toggle-transition="stdt-fade"
    ref="userDrawer"
    :title="$props.settings.editMode ? $props.settings.editTitle : $props.settings.createTitle"
    @close="onClose"
    @submit="onSubmit"
    @open="onOpen"
    :requires-async-submit="true"
    :hasCancelButton="$props.settings.hasCancelButton"
    :cancelButtonLabel="$props.settings.cancelButtonLabel"
    :width="$props.settings.drawerWidth"
		:saveButtonLabel="$props.settings.editMode ? $props.settings.saveButtonLabel : $props.settings.createButtonLabel"
		v-bind="$props.controls">
		<template v-slot:default="drawerScope">
      <cly-form-step screen="full">
        <div class="user-management-drawer-content">
          <div class="bu-columns">
            <div class="bu-column">
              <div class="user-management-drawer-content__inputs-area__input-wrapper">
                <div class="user-management-drawer-content__label">
                  <div class="text-small text-heading">Full Name</div>
                  <div class="user-management-drawer-content__help-text"></div>
                </div>
                <div class="user-management-drawer-content__input">
                  <validation-provider rules="required" v-slot="v">
                    <el-input v-model="drawerScope.editedObject.full_name" placeholder="Enter Full Name"></el-input>
                  </validation-provider>
                </div>
              </div>
              <div class="user-management-drawer-content__inputs-area__input-wrapper">
                <div class="user-management-drawer-content__label">
                  <div class="text-small text-heading">Username</div>
                  <div class="user-management-drawer-content__help-text"></div>
                </div>
                <div class="user-management-drawer-content__input">
                  <validation-provider rules="required" v-slot="v">
                    <el-input v-model="drawerScope.editedObject.username" placeholder="Enter User Name"></el-input>
                  </validation-provider>
                </div>
              </div>
              <div class="user-management-drawer-content__inputs-area__input-wrapper">
                <div class="user-management-drawer-content__label">
                  <div class="text-small text-heading">E-mail</div>
                  <div class="user-management-drawer-content__help-text"></div>
                </div>
                <div class="user-management-drawer-content__input">
                  <validation-provider rules="required|email" v-slot="v">
                    <el-input v-model="drawerScope.editedObject.email" placeholder="Enter E-mail"></el-input>
                  </validation-provider>
                </div>
              </div>
            </div>
            <div class="bu-column user-management-drawer-content__profile-picture-area">
              <div class="user-management-drawer-content__label">
                <div class="text-small text-heading">Profile Picture</div>
              </div>
              <cly-dropzone 
                @vdropzone-removed-file="onFileRemoved" 
                @vdropzone-file-added="onFileAdded"
                @vdropzone-sending="onSending"
                @vdropzone-thumbnail="thumbnail"
                @vdropzone-complete="onComplete"
                ref="userDrawerDropzone" 
                id="user-drawer-dropzone"
                :useCustomSlot=true 
                :options="dropzoneOptions">
                    <div class="dropzone-custom-content">
                      <img v-if="$props.settings.editMode" :src="'/memberimages/' + user._id + '.png'" class="user-management-drawer-content__profile-picture-area__upload-section__img-box"/>
                      <div v-if="!$props.settings.editMode" class="user-management-drawer-content__profile-picture-area__upload-section__img-box"></div>
                      <div class="user-management-drawer-content__profile-picture-area__upload-section__description-box">
                        <p class="user-management-drawer-content__profile-picture-area__upload-section__description-box--bold">Drag and drop or <span class="user-management-drawer-content__profile-picture-area__upload-section__description-box--link">browser</span> files to add picture</p>
                        <p class="user-management-drawer-content__profile-picture-area__upload-section__size-warning">JPG, PNG and GIF files allowed. Maximum size is 5 MB.</p>
                      </div>
                    </div>
              </cly-dropzone>
            </div>
          </div>
          <div v-if="drawerScope.editedObject.permission" class="user-management-drawer-content__bottom-section">
            <div class="user-management-drawer-content__drawer-sub-section">
              <div class="user-management-drawer-content__section-title">
                <div>
                  <span class="user-management-drawer-content__section-header">ROLE</span>
                </div>
                <div>
                  <span class="user-management-drawer-content__help-text">
                    Some short description can be placed here.
                  </span>
                </div>
              </div>
              <div class="user-management-drawer-content__section-content user-management-drawer-content__role-section">
                <el-checkbox v-model="drawerScope.editedObject.global_admin">Global Administrator</el-checkbox>
              </div>
            </div>
            <div v-if="!drawerScope.editedObject.global_admin" class="user-management-drawer-content__drawer-sub-title">
              Permission Settings
            </div>
            <div v-if="!drawerScope.editedObject.global_admin" class="user-management-drawer-content__drawer-sub-section">
              <div class="user-management-drawer-content__section-title">
                <div>
                  <span class="user-management-drawer-content__section-header">GRANT ADMIN ACCESS TO APP(S) <cly-tooltip-icon icon="ion ion-help-circled"></cly-tooltip-icon></span>
                </div>
                <div>
                  <span class="user-management-drawer-content__help-text"></span>
                </div>
              </div>
              <div class="user-management-drawer-content__section-content">
                <div class="user-management-drawer-content__label user-management-drawer-content__label--pl-10">
                  <div class="text-small text-heading user-management-drawer-content__label--text-secondary">Some app selection related description can be placed here</div>
                </div>
                <div class="input" v-if="drawerScope.editedObject.permission">
                  <el-select placement="bottom-start" @change="onAdminAppsChanged" class="user-management-drawer-content__app-selector" v-model="drawerScope.editedObject.permission._.a" multiple placeholder="Select apps">
                    <el-option
                      v-for="item in apps"
                      :key="item.value"
                      :label="item.label"
                      :value="item.value">
                    </el-option>
                  </el-select>
                </div>
              </div>
            </div>
            <div v-if="!drawerScope.editedObject.global_admin" :key="index" v-for="(set, index) in permissionSets" class="user-management-drawer-content__drawer-sub-section">
              <div class="user-management-drawer-content__section-title">
                <div>
                  <span class="user-management-drawer-content__section-header">GRANT USER ACCESS TO APP(S) <cly-tooltip-icon icon="ion ion-help-circled"></cly-tooltip-icon></span>
                </div>
                <div>
                  <cly-more-options v-if="index > 0" size="small" @command="handleCommand($event, index)">
                    <el-dropdown-item command="remove-set">Remove permission set</el-dropdown-item>
                  </cly-more-options>
                </div>
              </div>
              <div class="user-management-drawer-content__section-content">
                <div class="user-management-drawer-content__label user-management-drawer-content__label--pl-10">
                  <div class="text-small text-heading user-management-drawer-content__label--text-secondary">Some app selection related description can be placed here</div>
                </div>
                <div class="user-management-drawer-content__input">
                  <el-select placement="bottom-start" @change="onUserAppsChanged(index)" class="user-management-drawer-content__app-selector" v-model="drawerScope.editedObject.permission._.u[index]"  multiple placeholder="Select apps">
                    <el-option
                      v-for="item in apps"
                      :key="item.value"
                      :label="item.label"
                      :value="item.value">
                    </el-option>
                  </el-select>
                </div>
                <div class="user-management-drawer-content__permission-table-header">
                  <div class="user-management-drawer-content__feature-name-col">
                    FEATURE
                  </div>
                  <div class="user-management-drawer-content__permission-type-cols">
                    <div class="user-management-drawer-content__permission-type">
                      <el-checkbox @change="setPermissionByType(index, 'c')" v-model="permissionSets[index].c.all">CREATE</el-checkbox>
                    </div>
                    <div class="user-management-drawer-content__permission-type">
                      <el-checkbox @change="setPermissionByType(index, 'r')" v-model="permissionSets[index].r.all">READ</el-checkbox>
                    </div>
                    <div class="user-management-drawer-content__permission-type">
                      <el-checkbox @change="setPermissionByType(index, 'u')" v-model="permissionSets[index].u.all">UPDATE</el-checkbox>
                    </div>
                    <div class="user-management-drawer-content__permission-type">
                      <el-checkbox @change="setPermissionByType(index, 'd')" v-model="permissionSets[index].d.all">DELETE</el-checkbox>
                    </div>
                  </div>
                </div>
                <div class="user-management-drawer-content__permission-table-content">
                  <div class="user-management-drawer-content__permission-row" v-for="feature in features">
                    <div class="user-management-drawer-content__feature-name">{{featureBeautifier(feature)}}</div>
                    <div class="user-management-drawer-content__feature-permissions">
                      <div class="user-management-drawer-content__permission-box">
                        <el-checkbox @change="setPermissionByFeature(index, 'c', feature)" v-model="permissionSets[index].c.allowed[feature]"></el-checkbox>
                      </div>
                      <div class="user-management-drawer-content__permission-box">
                        <el-checkbox @change="setPermissionByFeature(index, 'r', feature)" v-model="permissionSets[index].r.allowed[feature]"></el-checkbox>
                      </div>
                      <div class="user-management-drawer-content__permission-box">
                        <el-checkbox @change="setPermissionByFeature(index, 'u', feature)" v-model="permissionSets[index].u.allowed[feature]"></el-checkbox>
                      </div>
                      <div class="user-management-drawer-content__permission-box">
                        <el-checkbox @change="setPermissionByFeature(index, 'd', feature)" v-model="permissionSets[index].d.allowed[feature]"></el-checkbox>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div v-if="!drawerScope.editedObject.global_admin" class="user-management-drawer-content__add-permission-set" @click="addPermissionSet">
              + Add Additional User Permission Set
            </div>
          </div>
        </div>
      </cly-form-step>
		</template>
	</cly-drawer>
</div>