<div v-bind:class="[componentId]" class="user-management-view">
	<cly-header :title="i18n('management-users.view-title')">
			<template v-slot:header-right>
					<div class="bu-level-item">
							<el-button  class="manage-users-action-btn" @click="createUser()" type="success" size="small" icon="el-icon-circle-plus">
								{{ i18n('management-users.create-user') }}
							</el-button>
					</div>
			</template>
	</cly-header>
    <cly-main>
        <data-table :loading="loading" @refresh-table="refresh" @edit-user="onEditUser" :rows="users" :group-map="groupMap"></data-table>
    </cly-main>
	<drawer @refresh-table="refresh" :user="user" :features="features" :featuresPermissionDependency="featuresPermissionDependency" :inverseFeaturesPermissionDependency="inverseFeaturesPermissionDependency" :settings="drawerSettings" :controls="drawers.user"></drawer>
</div>