.cly-vue-eldatatable {
	&.silent-loading {
		.el-loading-spinner {
			visibility: hidden;
		}
	}

	&__header {
		height: 56px;
		border: $--border-base;
		border-left: none;
		border-right: none;
		box-sizing: border-box;
		padding: 12px;

		&--white {
			background-color: $--color-white;
			color: $--table-text-color;
			font-size: $--text-smd-size;
		}
	}

	&__search {
		&--grey {
			input {
				background-color: #F6F6F6;
			}
		}
	}

	&__footer {
		height: 40px;
		border: $--border-base;
		border-left: none;
		border-right: none;
		box-sizing: border-box;
		padding: 0px 12px;

		&--white {
			background-color: $--color-white;
			color: $--table-footer-text-color;
			font-size: $--text-smd-size;
		}

		.el-select {
			width: 70px;
		}
	}

	&__vertical-divider {
		border: $--border-base;
		height: 38px;
	}

	.undo-row {
		position: absolute;
		left: 0;
		padding: 9px 0px;
		background-color: #FFD7D6;
		color: #2b2b2b;
		width: 100%;
		height: 100%;
		top: 0;
		z-index: 999;
		vertical-align: middle;
		display: flex;
		align-items: center;
		justify-content: center;
		a {
			color: #017AFF;
			cursor: pointer;
		}
	}
}
