.cly-vue-menubox-new {
    &.menubox-default-skin {
        display: inline-block;
        .menu-toggler {
            max-width: 400px;
            width: auto;
            height: 27px;
            display: flex;
            justify-content: center;
            align-items: center;
            cursor: pointer;

            .text-container {
                overflow: hidden;
                margin-right: 4px;

                .text {
                    font-size: 13px;
                    text-overflow: ellipsis;
                    overflow: hidden;
                    white-space: nowrap;
                    color: #444;
                }
            }

            .arrows-wrapper {
                width: auto;
                height: auto;
                padding: 0;
                margin: 0;

                .up,
                .down {
                    width: auto;
                    opacity: 0.8;
                }

                .down:before,
                .up:before {
                    font-size: 9px;
                    color: #fff;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    width: 12px;
                    height: 12px;
                    border-radius: 4px;
                    background-color: #444;
                }
            }

            div.up {
                display: none;
            }
            &.active div.up {
                display: block;
            }
            &.active div.down {
                display: none;
            }
            &:hover {
                .text {
                    color: #2fa732;
                }

                .up:before,
                .down:before {
                    background-color: #2fa732;
                }

                .drop {
                    opacity: 1;
                    background-color: #2fa732;
                }
            }

            .drop {
                opacity: 0.8;
                width: auto;
                width: 13px;
                height: 12px;
                background-color: #444;
                border-radius: 4px;
                overflow: hidden;
                font-size: 0;
                opacity: 0.8;
                position: relative;

                &:before {
                    content: " ";
                    width: 6px;
                    top: 5px;
                    transform: rotate(40deg);
                    position: absolute;
                    height: 2px;
                    background-color: #fff;
                    left: 2px;
                    border-radius: 1px;
                }

                &:after {
                    content: " ";
                    width: 6px;
                    top: 5px;
                    transform: rotate(140deg);
                    position: absolute;
                    right: 2px;
                    height: 2px;
                    background-color: #fff;
                    border-radius: 1px;
                }

                &:hover {
                    opacity: 1;
                }
            }

            &.active {
                .drop {
                    &:before {
                        transform: rotate(140deg);
                    }

                    &:after {
                        transform: rotate(40deg);
                    }
                }
            }
        }
        .test::placeholder{
            color:black;
        }

        .menu-body {
            box-shadow: 0 3px 7px rgba(0, 0, 0, 0.08);
            background-color: #fff;
            position: absolute;
            top: 55px;
            z-index: 100;
            border: 1px solid #d0d0d0;
            border-radius: 2px;
            padding: 20px;
            table {
                width: 100%;
                tr td {
                    padding: 5px 0px;
                    &:first-child {
                        text-align: right;
                        width: 50px;
                        white-space: nowrap;
                        padding-right: 10px;
                    }
                }
            }
            .cly-vue-select {
                background-color: #fdfdfd;
                width: 100%;
                .select-items {
                    width: 100%;
                }
                .placeholder {
                    color: #d0d0d0;
                }
            }

            .controls {
                float: right;
                margin-top: 10px;
            }
        }
    }
}