@use "../base/typography-variables" as t;

.cly-fields-select {
    &.default-skin {
        display: inline-block;
        .el-input__inner::placeholder{
            color:black;
        }

        .fields-select-body {
            box-shadow: 0 3px 7px rgba(0, 0, 0, 0.08);
            background-color: #fff;
            position: absolute;
            top: 0px;
            z-index: 100;
            border: 1px solid #d0d0d0;
            border-radius: 2px;
            padding: 16px;
            width: max-content;
            .controls {
                float: right;
                margin-top: 10px;
            }
        }

    }
    &__title{
        color: #333C48;
        font-family:  t.$font-family;
        line-height: 24px;
        font-weight: 500;
        font-size: 16px;
	  }
	  &__reset{
		float: right;
		font-size: 12px;
		padding-bottom: 26px;
    padding-top: 0px;
		color: #D23F00;
		cursor: pointer;
    line-height: 20px;
	  }
      &__field{
        color: #333C48;
        font-family:  t.$font-family;
        line-height: 20px;
        font-weight: 500;
        font-size: 12px;
        padding-bottom: 3px;
	  }
      &__field-dropdown{
        width:320px;
        height:32px;
        margin-bottom:16px;
	  }
      &__confirm{
	      	background-color: #12AF51;
		      color: white;
	  }
      &__cancel {
        background: #F6F6F6;
      }
      &__dropdown {
        .el-input__inner::placeholder{
            color:black;
        }
      }
}

.cly-multi-select {
    &.default-skin {
        display: inline-block;

        .el-input__inner::placeholder{
            color: black;
        }

        .cly-multi-select__body {
            box-shadow: 0 3px 7px rgba(0, 0, 0, 0.08);
            background-color: #fff;
            position: absolute;
            top: -2px;
            left: -2px;
            z-index: 100;
            border: 1px solid #d0d0d0;
            border-radius: 4px;
            padding: 16px;
            width: max-content;
        }

        .cly-multi-select__controls {
            float: right;
            margin-top: 10px;
        }
    }

    &__title-wrapper {
        margin-bottom: 30px;
    }

    &__title {
        color: #333C48;
        font-family: t.$font-family;
        line-height: 24px;
        font-weight: 500;
        font-size: 16px;
    }

    &__reset {
        float: right;
        font-size: 12px;
        padding: 4px 8px;
        color: #D23F00;
        cursor: pointer;
        line-height: 20px;

        span {
            height: 20px;
            line-height: 20px;
        }

        &:hover {
            background: #F6F6F6;
        }
    }

    &__field {
        color: #333C48;
        font-family: t.$font-family;
        line-height: 20px;
        font-weight: 500;
        font-size: 12px;
        padding-bottom: 3px;
    }

    .cly-multi-select__confirm-button {
        margin-left: 4px;
    }

    &__field-dropdown{
        width: 320px;
        height: 32px;
        margin-bottom: 16px;
    }

    &__dropdown {
        .el-input__inner::placeholder{
            color: black;
        }
    }
}

.cly-vue-dropdown {
    &__pop {
        padding: 0px;
        width: fit-content;
    }

    &__pop-container {
        word-break: initial;
    }
}

.cly-vue-more-options {
    .el-button {
        border: 1px solid #CFD6E4;
    }
}