/*
    Contains CSS for the following component
    - cly-header
*/

@use "../base/variables" as v;

.cly-vue-header {
    padding: 12px 0px 12px;
    border-bottom: v.$border-base;

    &:not(:last-child) {
        margin-bottom: 32px;
    }

    .bu-level {
        padding: 0px 24px 12px;
    }
}
