.cly-vue-tooltip-icon {
    font-size: 20px;
    color: #A7AEB8;
    vertical-align: middle;
}

.cly-vue-back-link {
    cursor: pointer;
    color: #616161;
    font-size: 12px;
    display: inline-block;
    text-transform: uppercase;
    margin-bottom: 25px;

    &:visited {
        cursor: pointer;
        color: #616161;
        font-size: 12px;
        display: inline-block;
        text-transform: uppercase;
    }

    &:before {
        content: "←";
        margin-right: 5px;
        color: #616161;
    }

    &:hover {
        span {
            text-decoration: underline;
        }
    }
}