@use "../base/colors" as c;
@use "../base/typography-variables" as t;
@use "../base/variables" as v;
@use "sass:map";

.cly-vue-eldatatable {

	&.is-clickable td {
		cursor: pointer;
	}

	&.silent-loading {
		.el-loading-spinner {
			visibility: hidden;
		}
	}

	&__header {
		height: 56px;
		border: v.$border-base;
		border-left: none;
		border-right: none;
		box-sizing: border-box;
		padding: 12px;

		&--white {
			background-color: map.get(c.$colors, "white");
			color: c.$table-text-color;
			font-size: t.$text-smd-size;
		}
	}

	&__search {
		&--grey {
			input {
				background-color: #F6F6F6;
			}
		}
	}

	&__footer {
		height: 40px;
		border: v.$border-base;
		border-left: none;
		border-right: none;
		box-sizing: border-box;
		padding: 0px 12px;

		&--white {
			background-color: map.get(c.$colors, "white");
			color: c.$table-footer-text-color;
			font-size: t.$text-smd-size;
		}

		.el-select {
			width: 70px;
		}
	}

	&__vertical-divider {
		border: v.$border-base;
		height: 38px;
	}

	.undo-row {
		position: absolute;
		left: 0;
		padding: 9px 0px;
		background-color: #FFD7D6;
		color: #2b2b2b;
		width: 100%;
		height: 100%;
		top: 0;
		z-index: 999;
		vertical-align: middle;
		display: flex;
		align-items: center;
		justify-content: center;
		a {
			color: #017AFF;
			cursor: pointer;
		}
	}
}

//plain table
.cly-vue-table {
	width: 100%;
	thead {
		background-color: map.get(c.$colors, "warm-gray-20");
		border-top: 1px solid map.get(c.$colors, "warm-gray-30");
		border-bottom: 2px solid map.get(c.$colors, "warm-gray-30");
		th {
			color: map.get(c.$colors, "cool-gray-100");
			font-weight: t.$font-weight-primary;
			font-size: t.$text-sm-size;
			padding: 9px;
			text-align: left;
		}
	}
	tbody {
		td {
			padding: 0px 9px;
		}
	}
}
