@use "../base/colors" as c;
@use "sass:map";

.cly-vue-chart {
    padding: 20px 24px;
}

.cly-vue-chart-legend {
    &__checkbox {
        background-color: red;
        height: 16px;
        width: 16px;
        border: 1px solid #A7AEB8;
        display: inline-block;
        box-shadow: inset 0 0 0px 1px #fff;
        border-radius: 4px;
        vertical-align: middle;
        box-sizing: border-box;
    }

    &__title {
        display: inline-block;
        vertical-align: middle;
        font-size: 14px;
        color: map.get(c.$colors, "cool-gray-100");
    }

    &__tooltip {
        display: inline-block;
        vertical-align: middle;
        font-size: 15px;
    }

    &__number {
        display: inline-block;
        font-size: 24px;
        font-weight: 500;
        color: map.get(c.$colors, "cool-gray-100");
    }

    &__trend {
        display: inline-block;
        font-size: 14px;
        font-weight: 500;
    }

    &--trend-up {
        color: map.get(c.$colors, "green-80");
    }

    &--trend-down {
        color: map.get(c.$colors, "red-100");
    }
}