<div class="cly-vue-sidebar__menu">
    <div class="cly-vue-sidebar__header">
        <div class="cly-vue-sidebar__app-selector bu-level bu-p-3 cursor-pointer" @click="toggleAppSelection()">
            <div class="bu-level-left">
                <div class="cly-vue-sidebar__app-image" :style="{backgroundImage: 'url(' + activeApp.image + ')'}">
                </div>
                <div class="cly-vue-sidebar__app-name-type bu-is-flex bu-is-flex-direction-column bu-ml-2">
                    <span class="cly-vue-sidebar__app-name">{{activeApp.name}}</span>
                    <span class="text-smaller color-white cly-vue-sidebar__app-type bu-is-capitalized">
                        {{activeApp.type}}</span>
                </div>
            </div>
            <span class="bu-level-right">
                <span>
                    <i v-if="allApps && allApps.length && allApps.length > 1" class="ion-arrow-down-b"></i>
                </span>
            </span>
        </div>
    </div>
    <app-selector @close="toggleAppSelection()" v-if="appSelector && allApps && allApps.length && allApps.length > 1"
        :allApps="allApps"></app-selector>
    <div class="cly-vue-sidebar__main-menu">
        <vue-scroll>
            <div v-for="(cat, idx) in categories" class="bu-mb-4" :data-category="cat.name">
                <ul class="bu-mb-5">
                    <li v-for="(menu, idx) in categorizedMenus[cat.name]" class="bu-px-3 bu-my-1">
                        <div v-if="categorizedSubmenus[menu.name] && categorizedSubmenus[menu.name].length">
                            <el-collapse v-model="selectedAnalyticsMenu" accordion
                                :class="[{'cly-vue-sidebar__el-collapse--selected':  (selectedMenuItem && (selectedMenuItem.parent_code === menu.name))}]">
                                <el-collapse-item :title="i18nM(menu.title)" :name="menu.name"
                                    :icon="{position: 'right', direction: 'down'}">
                                    <ul>
                                        <li v-for="(submenu, idx) in categorizedSubmenus[menu.name]"
                                            class="bu-is-clickable">
                                            <div :class="['cly-vue-sidebar__submenu-items',
                                                     'bu-pl-5', 'bu-my-2',
                                                    {'cly-vue-sidebar__submenu-items--selected': (selectedMenuItem && (selectedMenuItem.name === submenu.name))}]"
                                                @click="onMenuItemClick(submenu)">
                                                <div class="has-ellipsis">{{i18nM(submenu.title)}}</div>
                                            </div>
                                        </li>
                                    </ul>
                                </el-collapse-item>
                            </el-collapse>
                        </div>
                        <div v-else
                            :class="['cly-vue-sidebar__menu-items',
                                {'cly-vue-sidebar__menu-items--selected': (selectedMenuItem && (selectedMenuItem.name === menu.name))}]"
                            @click="onMenuItemClick(menu)">
                            <div class="has-ellipsis bu-is-clickable">{{i18nM(menu.title)}}</div>
                        </div>
                    </li>
                </ul>
            </div>
        </vue-scroll>
    </div>
</div>