<cly-dialog :visible.sync="centerDialogVisible" width="50%" :modal="false" center>
    <cly-listbox skin="jumbo" height="624" :options="selectedApp"
        :searchable="true" :bordered="false" :value="value" @input="switchActiveApp($event)"
        v-model="activeApp">
        <template v-slot:option-prefix="option">
            <img style="width: 26px;" :src="option.image"></img>
        </template>
        <template v-slot:option-suffix="option">
            <span class="bu-pr-2 text-medium">{{option.type}}</span>
        </template>
    </cly-listbox>
</cly-dialog>