<cly-dialog :visible.sync="centerDialogVisible" :custom-class = "app_selector__dialog_box" :show-close = "false" width="35%" :modal="false" center @closed="handleClose()">
    <span slot="title" class="dialog-title bu-level">
        <span class="bu-level-left text-big">Select App</span>
        <el-button class="bu-level-right" type="success">Compare App</el-button>
      </span>
    <cly-listbox skin="jumbo" height="624" :options="allApps"
        :searchable="true" :bordered="false" :value="activeApp.name" @input="switchActiveApp($event)"
        v-model="activeApp.value">
        <template v-slot:option-prefix="option">
            <img style="width: 21px;border-radius: 10px;" :src="option.image"></img>
        </template>
        <template v-slot:option-suffix="option">
            <span class="bu-pr-2 bu-is-capitalized text-medium">{{option.type}}</span>
        </template>
    </cly-listbox>
</cly-dialog>