<div class="cly-vue-sidebar__menu">
    <div class="cly-vue-sidebar__header">
        <span class="cly-vue-sidebar__header-title">Management</span>
    </div>
    <div class="cly-vue-sidebar__main-menu">
        <ul>
            <li v-for="item in menu" :key="item.name" class="bu-px-3 bu-my-3 bu-is-clickable">
                <div
                    :class="['cly-vue-sidebar__menu-items',
                    {'cly-vue-sidebar__menu-items--selected': (selectedMenuItem && (selectedMenuItem.name === item.name))}]"
                    @click="onMenuItemClick(item)">
                    <div class="has-ellipsis">{{i18nM(item.title)}}</div>
                </div>
            </li>
        </ul>
    </div>
</div>