<div class="cly-vue-sidebar bu-is-flex">
    <div class="cly-vue-sidebar__menu-options bu-is-flex bu-is-flex-direction-column bu-is-align-items-center bu-is-justify-content-space-between">
        <ul class="bu-is-flex bu-is-flex-direction-column bu-is-flex-align-items-center bu-is-flex-justify-content-center">
            <li v-for="item in mainMenuOptions" v-tooltip.top-center="item.tooltip" :key="item.name" @click="onClick(item)" class="cly-vue-sidebar__menu-option bu-is-flex bu-is-justify-content-center bu-is-align-items-center">
                <div v-if="item.name === 'app'" class="cly-vue-sidebar__menu-option-app"></div>
                <div v-if="item.name === 'divider'" class="cly-vue-sidebar__menu-option-divider"></div>
                <i v-else :class="[item.icon, {'cly-vue-sidebar__menu-option--selected': item.name === selectedMenuOption}]"></i>
            </li>
        </ul>
        <ul class="bu-is-flex bu-is-flex-direction-column bu-is-align-items-center bu-is-justify-content-center">
            <li v-for="item in otherMenuOptions" :key="item.name" @click="onClick(item)" v-tooltip.top-center="item.tooltip" :class="[{'cly-vue-sidebar__menu-option-toggle': item.name === 'toggle'}, 'cly-vue-sidebar__menu-option bu-is-flex bu-is-justify-content-center bu-is-align-items-center']">
                <users-menu v-if="item.name === 'user'" :item="item"></users-menu>
                <el-select v-else-if="item.name === 'language'" v-model="selLang" :adaptive-length="true" :borderless="true" :arrow="false">
                    <el-option v-for="lang in allLanguages" :key="lang.code" :value="lang.code" :label="lang.code"></el-option>
                </el-select>
                <i v-else :class="[item.icon, {'cly-vue-sidebar__menu-option--selected': item.name === selectedMenuOption}]"></i>
            </li>
        </ul>
    </div>

    <analytics-menu v-show="selectedMenuOption === 'analytics'"></analytics-menu>
    <management-menu v-show="selectedMenuOption === 'management'"></management-menu>
    <component v-for="item in components" :is="item.component" v-show="selectedMenuOption === item.name" :key="item.name"></component>
</div>
