<div class="cly-vue-sidebar__users-menu">
    <el-popover
        placement="right"
        width="224"
        trigger="manual"
        :visible-arrow="false"
        v-model="visible"
        v-click-outside="clickOutside"
        popper-class="cly-vue-sidebar__user-popper">
        <div>
            <div class="bu-level">
                <div class="bu-level-left">
                    <div class="bu-level-item">
                        <div class="cly-vue-sidebar__user-info">
                            <p class="has-ellipsis">{{member.full_name}}</p>
                            <p class="has-ellipsis">{{member.email}}</p>
                        </div>
                    </div>
                </div>
                <div class="bu-level-right">
                    <div class="bu-level-item">
                        <div v-if="member.image.found"
                            :class="['cly-vue-sidebar__user-image']"
                            :style="{
                                backgroundImage: 'url(' + member.image.url + '?now=' + Date.now() + ')',
                                backgroundSize: '100%'
                            }">
                        </div>
                        <div v-else
                            :class="['cly-vue-sidebar__user-image','bu-is-flex',
                                    'bu-is-align-items-center', 'bu-is-justify-content-center']"
                            :style="{
                                    backgroundImage: 'url(' + member.image.url + '?now=' + Date.now() + ')',
                                    backgroundPosition: member.image.position + 'px',
                                    backgroundSize: '1020px 60px'
                                }">
                            <span class="cly-vue-sidebar__user-initials has-ellipsis">{{member.image.initials}}</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="bu-level">
                <div class="bu-level-left">
                    <div class="bu-level-item">
                        <div class="cly-vue-sidebar__user-api">
                            <p class="has-ellipsis">{{i18nM('sidebar.api_key')}}</p>
                            <p class="has-ellipsis">{{member.api_key}}</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </el-popover>
</div>
