@font-face {
  font-family: 'Ubuntu';
  font-weight: 400;
  font-style: normal;
  src: url('../fonts/Ubuntu-regular/Ubuntu-regular.eot');
  src: url('../fonts/Ubuntu-regular/Ubuntu-regular.eot?#iefix') format('embedded-opentype'),
       local('Ubuntu'),
       local('Ubuntu-regular'),
       url('../fonts/Ubuntu-regular/Ubuntu-regular.woff2') format('woff2'),
       url('../fonts/Ubuntu-regular/Ubuntu-regular.woff') format('woff'),
       url('../fonts/Ubuntu-regular/Ubuntu-regular.ttf') format('truetype'),
       url('../fonts/Ubuntu-regular/Ubuntu-regular.svg#Ubuntu') format('svg');
}

@font-face {
  font-family: 'Ubuntu';
  font-weight: 500;
  font-style: normal;
  src: url('../fonts/Ubuntu-500/Ubuntu-500.eot');
  src: url('../fonts/Ubuntu-500/Ubuntu-500.eot?#iefix') format('embedded-opentype'),
       local('Ubuntu Medium'),
       local('Ubuntu-500'),
       url('../fonts/Ubuntu-500/Ubuntu-500.woff2') format('woff2'),
       url('../fonts/Ubuntu-500/Ubuntu-500.woff') format('woff'),
       url('../fonts/Ubuntu-500/Ubuntu-500.ttf') format('truetype'),
       url('../fonts/Ubuntu-500/Ubuntu-500.svg#Ubuntu') format('svg');
}

@font-face {
  font-family: 'Ubuntu';
  font-weight: 400;
  font-style: italic;
  src: url('../fonts/Ubuntu-italic/Ubuntu-italic.eot');
  src: url('../fonts/Ubuntu-italic/Ubuntu-italic.eot?#iefix') format('embedded-opentype'),
       local('Ubuntu Italic'),
       local('Ubuntu-italic'),
       url('../fonts/Ubuntu-italic/Ubuntu-italic.woff2') format('woff2'),
       url('../fonts/Ubuntu-italic/Ubuntu-italic.woff') format('woff'),
       url('../fonts/Ubuntu-italic/Ubuntu-italic.ttf') format('truetype'),
       url('../fonts/Ubuntu-italic/Ubuntu-italic.svg#Ubuntu') format('svg');
}

@font-face {
  font-family: 'Ubuntu';
  font-weight: 500;
  font-style: italic;
  src: url('../fonts/Ubuntu-500italic/Ubuntu-500italic.eot');
  src: url('../fonts/Ubuntu-500italic/Ubuntu-500italic.eot?#iefix') format('embedded-opentype'),
       local('Ubuntu Medium Italic'),
       local('Ubuntu-500italic'),
       url('../fonts/Ubuntu-500italic/Ubuntu-500italic.woff2') format('woff2'),
       url('../fonts/Ubuntu-500italic/Ubuntu-500italic.woff') format('woff'),
       url('../fonts/Ubuntu-500italic/Ubuntu-500italic.ttf') format('truetype'),
       url('../fonts/Ubuntu-500italic/Ubuntu-500italic.svg#Ubuntu') format('svg');
}
body { padding:20px; background-color:#1A1A1A; font-family:Ubuntu,Helvetica,sans-serif; }
input { outline:none; }
input[type=text], input[type=password] { font:20px Ubuntu,Helvetica,sans-serif; box-shadow:inset 0 0 4px 0 #333, 0 1px 0 0 #555; border-radius:5px; border:1px solid #000; padding:8px; background-color:#E0EDE0; color:#CCC; width:210px; margin:0 0 5px 0; }
input[type=text]:active, input[type=text]:focus, input[type=password]:active, input[type=password]:focus { background-color:#FFF; box-shadow:inset 0 2px 2px 0 #BBB, 0 0 20px 0 #000; transition: background-color 1s; outline:none; color:#666; }
a { color:inherit; text-decoration:none; }
a:visited { color:inherit; }
a:hover { color:inherit; }
a:active { color:inherit; }
#login-form { width:480px; height:180px; margin-left:-240px; left:50%; top:50%; margin-top:-90px; position:absolute; background-image:url('../../images/pre-login/cly_login_bg.png'); background-position:220px 0px; background-repeat:no-repeat; }
#login-left { margin-right:30px; padding-right:30px; height:100%; float:left; }
#forgot-form { width:558px; height:218px; margin-left:-278px; left:50%; top:50%; margin-top:-109px; position:absolute; }
#forgot-left { margin-bottom:28px; }
#reset-form { width:704px; height:218px; margin-left:-352px; left:50%; top:50%; margin-top:-109px; position:absolute; } 
#login-button { font:16px Ubuntu,Helvetica,sans-serif; box-shadow:inset 0 1px 0 0 #AFE7B3; border-radius:5px; border:1px solid #1A691C; padding:11px 26px; padding-left:0; background-color:#6BB96E; background-image: url('../../images/pre-login/cly_login.png'), linear-gradient(top, #6BB96E 10%, #58985A 100%); background-image: url('../../images/pre-login/cly_login.png'), linear-gradient(to bottom, #6BB96E 10%, #58985A 100%); background-position:right; background-repeat:no-repeat; color:#FFF; text-shadow:0 -1px #666; font-weight:400; cursor:pointer; width:227px; margin-top:0; }
	#login-button:hover { background-image:url('../../images/pre-login/cly_login.png'), linear-gradient(top, #76CC79 10%, #58985A 100%); background-image:url('../../images/pre-login/cly_login.png'), linear-gradient(to bottom, #76CC79 10%, #58985A 100%); }
	#login-button:active { box-shadow:inset 0 0 3px 0 #145016; }
#top-container { position:absolute; top:20px; right:20px; min-width: 200px; }
.top-button { float:right; margin-left:5px; color:#888; padding:9px 20px; display:block; text-shadow:0 -1px #000000; background:linear-gradient(top, #242424 0%, #111111 100%); background:linear-gradient(to bottom, #242424 0%, #111111 100%); border-radius:6px; cursor:pointer; font-size:15px; box-shadow:inset 0 1px 0 #2e2e2e; border:1px #080808 solid; }
	.top-button:hover { background:linear-gradient(top, #1a1a1a 0%, #1b1b1b 100%); background:linear-gradient(to bottom, #1a1a1a 0%, #1b1b1b 100%); }
	.top-button:active { background:#161616; box-shadow:inset 0 0 2px #010101; }
	a.top-button:visited { color:#888; }
	a.top-button:hover { color:#888; }
	a.top-button:active { color:#888; }
#select-lang { padding:9px 10px; }
	#select-lang.active #langs { display:block; }
	#select-lang.active { background:#161616; box-shadow:inset 2px 0 4px -3px #010101, inset -2px 0 4px -3px #010101, inset 0 2px 4px -3px #010101; }
	#select-lang.active:hover { background:#161616; box-shadow:inset 2px 0 4px -3px #010101, inset -2px 0 4px -3px #010101, inset 0 2px 4px -3px #010101; }
	#select-lang.active:active { background:#161616; box-shadow:inset 2px 0 4px -3px #010101, inset -2px 0 4px -3px #010101, inset 0 2px 4px -3px #010101; }
	#select-lang .item  { padding-bottom:3px; padding-top:3px; cursor:pointer; display:block; font-size:13px; }
	#select-lang .item:hover { color:#A2A2A2; }
#active-lang { text-align:right; }
	#langs { display:none; margin-top:8px; }
	#langs .group { float:left; margin-right:17px; }
	#langs .group:last-child { margin-right:0; }
#login-logo { margin-top:38px; width:189px; height:57px; font-size:30px; background-image:url('../../images/pre-login/logo.png'); }
#forgot-logo { margin:0 auto; width:189px; height:57px; font-size:30px; background-image:url('../../images/pre-login/logo.png'); }
#create-account { overflow:auto; }
	#create-account div { float:left; margin-right:10px; }
	#create-account div:last-child { margin-right:0; }
#message { position:absolute; top:50px; text-align:center; left:50%; width:400px; margin-left:-200px; color:#CCC; font:20px Ubuntu,Helvetica,sans-serif; }
#forgot-password { color:#666; font-size:13px; cursor:pointer; }
	#forgot-password:hover { color:#58985A; transition:color 1s; }

body.mobile { padding-top:0; min-height:300px; }

.mobile #login-form { background-image: none; height:210px; width:300px; margin-left:-150px; margin-top:-105px; }
.mobile #login-logo { margin: 0 auto; }
.mobile #login-left { float:none; margin:0 auto; margin-bottom:30px; padding:0; width:250px; text-align: center; }
.mobile #login-right { margin:0 auto; width:250px; text-align: center; }