/* inter-300 - vietnamese_latin-ext_latin_greek-ext_greek_cyrillic-ext_cyrillic */
@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url('../../fonts/Inter/inter-v7-vietnamese_latin-ext_latin_greek-ext_greek_cyrillic-ext_cyrillic-300.eot'); /* IE9 Compat Modes */
  src: local(''),
       url('../../fonts/Inter/inter-v7-vietnamese_latin-ext_latin_greek-ext_greek_cyrillic-ext_cyrillic-300.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../../fonts/Inter/inter-v7-vietnamese_latin-ext_latin_greek-ext_greek_cyrillic-ext_cyrillic-300.woff2') format('woff2'), /* Super Modern Browsers */
       url('../../fonts/Inter/inter-v7-vietnamese_latin-ext_latin_greek-ext_greek_cyrillic-ext_cyrillic-300.woff') format('woff'), /* Modern Browsers */
       url('../../fonts/Inter/inter-v7-vietnamese_latin-ext_latin_greek-ext_greek_cyrillic-ext_cyrillic-300.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../../fonts/Inter/inter-v7-vietnamese_latin-ext_latin_greek-ext_greek_cyrillic-ext_cyrillic-300.svg#Inter') format('svg'); /* Legacy iOS */
}
/* inter-regular - vietnamese_latin-ext_latin_greek-ext_greek_cyrillic-ext_cyrillic */
@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('../../fonts/Inter/inter-v7-vietnamese_latin-ext_latin_greek-ext_greek_cyrillic-ext_cyrillic-regular.eot'); /* IE9 Compat Modes */
  src: local(''),
       url('../../fonts/Inter/inter-v7-vietnamese_latin-ext_latin_greek-ext_greek_cyrillic-ext_cyrillic-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../../fonts/Inter/inter-v7-vietnamese_latin-ext_latin_greek-ext_greek_cyrillic-ext_cyrillic-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('../../fonts/Inter/inter-v7-vietnamese_latin-ext_latin_greek-ext_greek_cyrillic-ext_cyrillic-regular.woff') format('woff'), /* Modern Browsers */
       url('../../fonts/Inter/inter-v7-vietnamese_latin-ext_latin_greek-ext_greek_cyrillic-ext_cyrillic-regular.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../../fonts/Inter/inter-v7-vietnamese_latin-ext_latin_greek-ext_greek_cyrillic-ext_cyrillic-regular.svg#Inter') format('svg'); /* Legacy iOS */
}
/* inter-500 - vietnamese_latin-ext_latin_greek-ext_greek_cyrillic-ext_cyrillic */
@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url('../../fonts/Inter/inter-v7-vietnamese_latin-ext_latin_greek-ext_greek_cyrillic-ext_cyrillic-500.eot'); /* IE9 Compat Modes */
  src: local(''),
       url('../../fonts/Inter/inter-v7-vietnamese_latin-ext_latin_greek-ext_greek_cyrillic-ext_cyrillic-500.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../../fonts/Inter/inter-v7-vietnamese_latin-ext_latin_greek-ext_greek_cyrillic-ext_cyrillic-500.woff2') format('woff2'), /* Super Modern Browsers */
       url('../../fonts/Inter/inter-v7-vietnamese_latin-ext_latin_greek-ext_greek_cyrillic-ext_cyrillic-500.woff') format('woff'), /* Modern Browsers */
       url('../../fonts/Inter/inter-v7-vietnamese_latin-ext_latin_greek-ext_greek_cyrillic-ext_cyrillic-500.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../../fonts/Inter/inter-v7-vietnamese_latin-ext_latin_greek-ext_greek_cyrillic-ext_cyrillic-500.svg#Inter') format('svg'); /* Legacy iOS */
}

@font-face {
font-family: 'Roboto Mono';
font-weight: 400;
font-style: normal;
src: url('../../fonts/Roboto-Mono/RobotoMono-VariableFont_wght.ttf') format('truetype'),
     local('Roboto Mono');
}

@font-face {
font-family: 'Ubuntu';
font-weight: 400;
font-style: normal;
src: url('../../fonts/Ubuntu-Regular/Ubuntu-Regular.eot');
src: url('../../fonts/Ubuntu-Regular/Ubuntu-Regular.eot?#iefix') format('embedded-opentype'),
    local('Ubuntu'),
    local('Ubuntu-Regular'),
    url('../../fonts/Ubuntu-Regular/Ubuntu-Regular.woff2') format('woff2'),
    url('../../fonts/Ubuntu-Regular/Ubuntu-Regular.woff') format('woff'),
    url('../../fonts/Ubuntu-Regular/Ubuntu-Regular.ttf') format('truetype'),
    url('../../fonts/Ubuntu-Regular/Ubuntu-Regular.svg#Ubuntu') format('svg');
}

@font-face {
font-family: 'Ubuntu';
font-weight: 500;
font-style: normal;
src: url('../../fonts/Ubuntu-500/Ubuntu-500.eot');
src: url('../../fonts/Ubuntu-500/Ubuntu-500.eot?#iefix') format('embedded-opentype'),
    local('Ubuntu Medium'),
    local('Ubuntu-500'),
    url('../../fonts/Ubuntu-500/Ubuntu-500.woff2') format('woff2'),
    url('../../fonts/Ubuntu-500/Ubuntu-500.woff') format('woff'),
    url('../../fonts/Ubuntu-500/Ubuntu-500.ttf') format('truetype'),
    url('../../fonts/Ubuntu-500/Ubuntu-500.svg#Ubuntu') format('svg');
}

@font-face {
font-family: 'Ubuntu';
font-weight: 400;
font-style: italic;
src: url('../../fonts/Ubuntu-italic/Ubuntu-italic.eot');
src: url('../../fonts/Ubuntu-italic/Ubuntu-italic.eot?#iefix') format('embedded-opentype'),
    local('Ubuntu Italic'),
    local('Ubuntu-italic'),
    url('../../fonts/Ubuntu-italic/Ubuntu-italic.woff2') format('woff2'),
    url('../../fonts/Ubuntu-italic/Ubuntu-italic.woff') format('woff'),
    url('../../fonts/Ubuntu-italic/Ubuntu-italic.ttf') format('truetype'),
    url('../../fonts/Ubuntu-italic/Ubuntu-italic.svg#Ubuntu') format('svg');
}

@font-face {
font-family: 'Ubuntu';
font-weight: 500;
font-style: italic;
src: url('../../fonts/Ubuntu-500italic/Ubuntu-500italic.eot');
src: url('../../fonts/Ubuntu-500italic/Ubuntu-500italic.eot?#iefix') format('embedded-opentype'),
    local('Ubuntu Medium Italic'),
    local('Ubuntu-500italic'),
    url('../../fonts/Ubuntu-500italic/Ubuntu-500italic.woff2') format('woff2'),
    url('../../fonts/Ubuntu-500italic/Ubuntu-500italic.woff') format('woff'),
    url('../../fonts/Ubuntu-500italic/Ubuntu-500italic.ttf') format('truetype'),
    url('../../fonts/Ubuntu-500italic/Ubuntu-500italic.svg#Ubuntu') format('svg');
}
@font-face {
font-family: 'Oswald';
font-weight: 300;
font-style: normal;
src: url('../../fonts/Oswald-300/Oswald-300.eot');
src: url('../../fonts/Oswald-300/Oswald-300.eot?#iefix') format('embedded-opentype'),
    local('Oswald Light'),
    local('Oswald-300'),
    url('../../fonts/Oswald-300/Oswald-300.woff2') format('woff2'),
    url('../../fonts/Oswald-300/Oswald-300.woff') format('woff'),
    url('../../fonts/Oswald-300/Oswald-300.ttf') format('truetype'),
    url('../../fonts/Oswald-300/Oswald-300.svg#Oswald') format('svg');
}

@font-face {
font-family: 'Oswald';
font-weight: 400;
font-style: normal;
src: url('../../fonts/Oswald-regular/Oswald-regular.eot');
src: url('../../fonts/Oswald-regular/Oswald-regular.eot?#iefix') format('embedded-opentype'),
    local('Oswald Regular'),
    local('Oswald-regular'),
    url('../../fonts/Oswald-regular/Oswald-regular.woff2') format('woff2'),
    url('../../fonts/Oswald-regular/Oswald-regular.woff') format('woff'),
    url('../../fonts/Oswald-regular/Oswald-regular.ttf') format('truetype'),
    url('../../fonts/Oswald-regular/Oswald-regular.svg#Oswald') format('svg');
}

@font-face {
font-family: 'Oswald';
font-weight: 700;
font-style: normal;
src: url('../../fonts/Oswald-700/Oswald-700.eot');
src: url('../../fonts/Oswald-700/Oswald-700.eot?#iefix') format('embedded-opentype'),
    local('Oswald Bold'),
    local('Oswald-700'),
    url('../../fonts/Oswald-700/Oswald-700.woff2') format('woff2'),
    url('../../fonts/Oswald-700/Oswald-700.woff') format('woff'),
    url('../../fonts/Oswald-700/Oswald-700.ttf') format('truetype'),
    url('../../fonts/Oswald-700/Oswald-700.svg#Oswald') format('svg');
}
body { background-color:#FFFFFF; font-family:inter; -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale; }
input { outline:none; }
input[type=text], input[type=password], input[type=email] { font-size:15px; border-radius:3px; border:none; padding:10px; color:#CCC; width:280px; background: #FBFDFE; border: 1px solid #CFD6E4; border-radius: 4px;}
input[type=text]:active, input[type=text]:focus, input[type=password]:active, input[type=password]:focus { outline:none; color:#666; }
a { color:inherit; text-decoration:none; }
a:visited { color:inherit; }
a:hover { color:inherit; }
a:active { color:inherit; }
#login-form { text-align:center; width:480px; height:270px; margin-left:-240px; left:50%; position:absolute; }
#login-left { margin-right:30px; padding-right:30px; height:100%; float:left; }
#forgot-form { text-align:center; width:480px; height:270px; margin-left:-240px; left:50%;}
#forgot-left { margin-bottom:28px; }
#reset-form { width:704px; height:174px; margin-left:-352px; left:50%; top:50%; margin-top:-87px; position:absolute; }
#login-button { line-height:14px !important; font-size:14px; border:none; border-radius:3px; padding: 11px 26px 12px 26px; background-color:#2FA732; color:#FFF; font-weight:500; cursor:pointer; width:300px; margin-top:32px;font-family:Inter; height: 40px; }
	#login-button:hover { background-color: #2f9732; }
	#login-button:active { }
#alt-login-button {
  border: none;
  background: none;
  line-height: 14px;
  font-size: 14px;
  color: #017AFF;
  margin-top: 26px;
  cursor: pointer;
}
    #forgot-form #login-button {}
.back-button{padding: 10px 12px;text-align: center; font-size: 14px;color: #0166D6;margin-top: 24px;font-weight: 500;}
.back-to-login {
  width:250px !important;
  margin:auto;
  margin-top:32px !important;
  text-align:center;
  align-items:center;
  display:grid;
  height:17px !important;
}
.wrapper {
  position:relative;padding-top:20px;
}
input.error{
  background: #FFF4CE;
  border: 1px solid #E49700;
  border-radius: 4px;
  color: #333C48;
}
#formRegister label.error{
  color: #E49700;
  font-size: 14px;
  position: relative;
  display: inline-block;
}
#account-form label.error{
  color: #E49700;
  font-size: 14px;
  position: relative;
  float: left;
}
.footer{
  font-size: 14px;border-top: 1px solid #E2E4E8; position: fixed; left: 0; bottom: 0; width: 100%; text-align: center; background-color: #fff;
}
.footer a {
  margin-left: 24px;
}
.footer > div {
  display: flex; justify-content: space-between; margin: 32px 72px;
}
#top-container { position:fixed; top: 30px; right: 64px; max-width: 150px; z-index: 1;}
#top-left-container { position:absolute; top:20px; left:20px; min-width: 200px; z-index: 1; }
.top-button { }
    #top-left-container .top-button {float: left;}
#select-lang {}
	#select-lang.active #langs { 
    display:block; 
    text-align:left; 
    float:right;
    margin-left:5px; 
    color:#6F6F6F; 
    padding:24px 8px;
    display:block; 
    border: 1px solid #81868D;
    box-shadow: 0px 2px 7px rgba(0, 0, 0, 0.18815);
    border-radius: 4px;
    cursor:pointer; 
    font-size:14px;
    background-color: #FFFFFF;
  }
	#select-lang .item  { padding: 8px; cursor:pointer; display:block; font-size:14px; }
	#select-lang .item:hover { 
    background: #F1F3F4;
    border-radius: 4px;
    color:#0166D6;
    padding: 8px; 
  }
  #active-lang { 
    text-align:right;
    float:right;
    margin-left:14px;
    color:#333C48; 
    padding:12px; 
    display:block; 
    border: 1px solid #E2E4E8;
    box-sizing: border-box;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.0485635);
    border-radius: 4px;
    cursor:pointer; 
    font-size:14px;
   }
#active-lang:hover{
   border: 1px solid #81868D;
  }
	#langs { display:none; margin-top:4px; }
	#langs .group:last-child { margin-right:0; }
#login-logo { margin-top: 38px; margin-left: 72px; width:165px; height:50px; background-image:url('../../images/pre-login/countly-logo-dark.svg'); background-repeat: no-repeat; background-size: contain;position: fixed; left: 0px; top: 0px; }
#forgot-logo { margin:0 auto; width:180px; height:55px; background-image:url('../../images/pre-login/countly-logo.svg'); background-repeat: no-repeat; background-size: contain; }
#create-account { overflow:auto; }
	#create-account div { float:left; margin-right:10px; }
	#create-account div:last-child { margin-right:0; }
#message { }
#forgot-password { color:#0166D6; font-size:13px; cursor:pointer; transition:color 1s; }
	/*#forgot-password:hover { color:#2f9732; transition:color 1s; }*/

body.mobile { padding-top:0; min-height:300px; }

.mobile #login-form { background-image: none; height:210px; width:300px; margin-left:-150px; margin-top:-105px; }
.mobile #login-logo { margin: 0 auto; }
.mobile #login-left { float:none; margin:0 auto; margin-bottom:30px; padding:0; width:250px; text-align: center; }
.mobile #login-right { margin:0 auto; width:250px; text-align: center; }
#password-requirements {
    text-align: left;
    color: #A7A7A7;
    font-size: 12px;
    margin-top:-10px;
}
#password-requirements ul {
    padding-left: 0;
    width:300px;
    color: #333C48;
    list-style: none;
}
#password-requirements ul li {line-height: 16px; margin-bottom: 8px; }
.dot {
  height: 8px;
  width: 8px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  float: left;
  margin-right: 8px;
  margin-top: 4px;
}
.register-form #login-button {width: 300px;}

.register-form input[type=text], .register-form input[type=password],.register-form input[type=email] { font-size:15px; border-radius:3px; border:none; padding:12px; background-color:#FFF; color:#CCC; width:280px; margin:0 0 16px 0; }

.register-form .passwd-check-pass {color:#2FA732}
.register-form .hint-password-good {
    color: #fff;
    width: 280px;
    margin: 12px 0 12px 0;
    text-align: center;
}
.register-form .password-hint-valid {
    color:#A7A7A7;
    transition:all 0.25s ease-in-out 0s;
}

