<div v-bind:class="[componentId]">
	<div class="cly-vue-events-header bu-is-flex bu-mb-4">
		<h2> {{i18n('events.all.title.new')}} 
		</h2>
		<cly-tooltip-icon :tooltip="i18n('events.all.title.tooltip')" class="cly-vue-events-header--tooltip" icon="ion-help-circled"></cly-tooltip-icon>
	  </div>
	<cly-main class="bu-pt-4">
	  <div class="bu-columns bu-is-gapless">
		<div class="bu-column white-bg bu-is-3 bu-mr-5" style="max-height:681px">
		  <cly-listbox
			skin="jumbo"
			height="624"
			:searchPlaceholder="searchPlaceholder"
			:options="allEvents"
			:searchable="true"
			expandOnHover
			v-model="selectedEventFromSearchBar">
			<template v-slot:option-suffix="option">
			  <span class="cly-vue-events-group" v-if="option.custom.value">{{option.custom.value}}</span>				
			</template>
		  </cly-listbox>
		</div>
		<div class="bu-column bu-is-9">
			<div class="bu-mr-5 cly-vue-events-alerts" v-for="item in limitAlerts" :key="item" :value="item">
		    	<cly-notification v-if="item.show" class="bu-mb-5 cly-vue-events-all__alerts" :text="item.message" color="light-warning">
				</cly-notification>
			</div>
		  <div class="cly-vue-events-all" v-if="!groupData.isGroup">
			{{decode(selectedEventName)}}<span v-if="category!=''" class="cly-vue-events-group bu-ml-4">{{decode(category)}}</span>
		  </div>
		  <div class="cly-vue-events-all" v-else>
			{{decode(groupData.name)}}<span class="cly-vue-events-group bu-ml-4">{{i18n('events.all.group')}}</span>
		  </div>
		  <div  class="cly-vue-events-all__subheading bu-pt-3" v-if="groupData.isGroup && groupData.description" v-html="groupData.description"></div>
		  <div  class="cly-vue-events-all__subheading bu-pt-3" v-if="!groupData.isGroup && eventDescription" v-html="eventDescription"></div>
		  <div class="bu-is-flex cly-vue-events-all--padding">
			<div class="bu-is-align-items-center bu-is-flex" v-if="hasSegments">
			  <span class="bu-is-flex cly-vue-events-all-placeholder-text bu-pr-2">{{i18n('events.all.segmentation')}}</span>
			  <el-select v-model="selectedSegment" class="cly-vue-events-all--margin">
				<el-option v-for="item in availableSegments" :key="item.value" :value="item.value" :label="item.label">
				</el-option>
			  </el-select>
			</div>
			<div class="bu-is-align-items-center bu-is-flex">
			  <span class="cly-vue-events-all-placeholder-text bu-pr-2">{{i18n('events.all.period')}}</span>
			  <cly-date-picker-g class="cly-vue-events-all-date-picker"></cly-date-picker-g>
			</div>
		  </div>
		  <div  class="color-cool-gray-100 font-weight-normal text-medium bu-pt-4" v-if="segmentDescription!=''" v-html="segmentDescription"></div>
		  <cly-section class="bu-mt-5 bu-mr-5">
			<cly-chart-bar v-if="currentActiveSegmentation !== 'segment'" :option="barData" :legend="lineLegend" :force-loading="isChartLoading" v-loading="isChartLoading">	
			</cly-chart-bar>
			<cly-chart-time v-else  :option="chartData" :legend="lineLegend" :force-loading="isChartLoading" v-loading="isChartLoading" :category="graphNotesCategory"></cly-chart-time>
		  </cly-section>
		  <cly-section class="bu-mt-5 bu-mr-5">
			<detail-tables></detail-tables>
		  </cly-section>
		</div>
	  </div>
	</cly-main>
  </div>