<script type="text/x-template" id="compare-events">
	<div v-bind:class="[componentId]">
		<div class="cly-vue-compare-events__header bu-is-flex">
		  <h2> {{i18n('events.compare.title')}} 
		  </h2>
		  <cly-tooltip-icon class="cly-vue-compare-events__header--tooltip" icon="ion-help-circled"></cly-tooltip-icon>
		</div>
		<cly-main>
		  <div class="bu-mb-4 cly-vue-compare-events">
			<el-select
			  style="width:480px"
			  v-model="value"
			  multiple
			  filterable
			  allow-create
			  default-first-option
			  :multiple-limit=maxLimit
			  placeholder="Select maximum 20 events to compare">
			  <el-option
				v-for="item in allEventsList"
				:key="item.value"
				:label="item.label"
				:value="item.value">
			  </el-option>
			</el-select>
			<el-button @click="compareEvents" class="cly-vue-compare-events__button" size="small" >{{i18n('events.compare')}}
			</el-button>
		  </div>
		  <div class="bu-pt-4 bu-mb-4">
			<cly-date-picker class="cly-vue-events-all-date-picker" v-model="selectedDatePeriod" timestampFormat="ms"></cly-date-picker>
		  </div>
		  <cly-section>
			<div class="cly-vue-compare-events__graph-section">
			  <div class="cly-vue-compare-events__graph-section__dropdown">
				<span class="cly-vue-compare-events__graph-section--text" >METRIC</span>
				<el-select v-model="selectedGraph">
				  <el-option v-for="item in availableMetrics" :key="item" :value="item">
				  </el-option>
				</el-select>
			  </div>
			  <cly-chart-time :option="lineChartData" :legend="lineLegend"></cly-chart-time>
			</div>
		  </cly-section>
		  <cly-section>
			<detail-tables></detail-tables>
		  </cly-section>
		</cly-main>
	  </div>
</script>
<script type="text/x-template" id="events-pages">
	<div>
		<cly-dynamic-tabs skin="primary" v-model="dynamicTab" :tabs="tabs">
		</cly-dynamic-tabs>
	</div>
</script>
<script type="text/x-template" id="compare-events-table">
	<div>
		<cly-datatable-n  ref="compareEvents" :rows="eventsTableRows" @select="handleCurrentChange" :keyFn="function(row) {return row.id}" @select-all="handleAllChange" >
		  <template v-slot:header-left="selectScope">
		  </template>
		  <template v-slot="scope">
			<el-table-column fixed="left" type="selection" :reserve-selection="true" width="55">
			</el-table-column>
			<el-table-column sortable="true" prop="event" :label="i18n('events.compare.event')">
			  <template v-slot="rowScope">
				<div>
				  {{rowScope.row.name}}
				</div>
			  </template>
			</el-table-column>
			<el-table-column sortable="true" prop="count" :label="i18n('events.compare.count')">
			  <template v-slot="rowScope">
				<div>
				  {{rowScope.row.c}}
				</div>
			  </template>
			</el-table-column>
			<el-table-column sortable="true" prop="sum" :label="i18n('events.compare.sum')">
			  <template v-slot="rowScope">
				<div>
				  {{rowScope.row.s}}
				</div>
			  </template>
			</el-table-column>
			<el-table-column sortable="true" prop="duration" :label="i18n('events.compare.duration')">
			  <template v-slot="rowScope">
				<div>
				  {{rowScope.row.dur}}
				</div>
			  </template>
			</el-table-column>
		  </template>
		</cly-datatable-n>
	  </div>
</script>