<div v-bind:class="[componentId]">
    <cly-datatable-n :rows="eventsTableRows" v-loading="isTableLoading">
      <template v-slot:header-left="selectScope">
      </template>
      <template v-slot="scope">
        <el-table-column v-if="selectedSegment !== 'segment'" sortable="true" prop="segment" :label="i18n('events.table.segmentation')">
          <template v-slot="rowScope">
            <div>
              {{rowScope.row.curr_segment}}
            </div>
          </template>
        </el-table-column>
        <el-table-column v-else sortable="true" prop="date" :label="i18n('common.date')">
          <template
          date v-slot="rowScope">
            <div>
              {{rowScope.row.date}}
            </div>
          </template>
        </el-table-column>
        <el-table-column v-if="isColumnAllowed('count')" sortable="true" prop="count" :label="labels.count">
          <template v-slot="rowScope">
            <div>
              {{rowScope.row.c}}
            </div>
          </template>
        </el-table-column>
        <el-table-column v-if="isColumnAllowed('sum')" sortable="true" prop="sum" :label="labels.sum">
          <template v-slot="rowScope">
            <div>
              {{rowScope.row.s}}
            </div>
          </template>
        </el-table-column>
        <el-table-column v-if="isColumnAllowed('dur')" sortable="true" prop="duration" :label="labels.dur">
          <template v-slot="rowScope">
            <div>
              {{rowScope.row.dur}}
            </div>
          </template>
        </el-table-column>
        <el-table-column v-if="isColumnAllowed('AvgSum')" sortable="true" prop="avgSum" :label="i18n('events.table.avg-sum')">
          <template v-slot="rowScope">
            <div>
              {{rowScope.row.avgSum}}
            </div>
          </template>
        </el-table-column>
        <el-table-column v-if="isColumnAllowed('AvgDur')" sortable="true" prop="avgDur" :label="i18n('events.table.avg-dur')">
          <template v-slot="rowScope">
            <div>
              {{rowScope.row.avgDur}}
            </div>
          </template>
        </el-table-column>
      </template>
    </cly-datatable-n>
  </div>