<div v-bind:class="[componentId]">
	<div class="bu-level">
		<div class="bu-level-left">
			<h4 class="bu-pt-2 bu-mb-4 cly-vue-events-overview-subheadings--font">{{i18n('events.overview.top.events.by.count')}} </h4>
		</div>
		<div class="bu-level-right">
			<a v-if="linkTo" class="cly-back-link text-medium" :href="linkTo.href"><span>{{linkTo.label}}<i class="fas fa-arrow-right bu-pl-3"></i></span></a>
		</div>
	</div>
	<cly-section>
		<cly-metric-cards v-loading="isLoading">
			<cly-metric-card formatting="long" color="#097EFF" numberClasses="bu-is-flex bu-is-align-items-center" :key="idx" v-for="(item, idx) in items">
				{{item.name}}
				<cly-tooltip-icon v-if="item.info" icon="ion-help-circled" :tooltip="item.info"></cly-tooltip-icon>
				<template v-slot:number>{{item.value}}</template>
				<span v-if="item.trend=='d'" slot="description" class="cly-trend-down"><i class="bu-pr-1 fas fa-arrow-circle-down"></i>{{item.change}}</span>
				<span v-else slot="description" class="cly-trend-up"><i class="bu-pr-1 fas fa-arrow-circle-up"></i>{{item.change}}</span>
			</cly-metric-card>
		</cly-metric-cards>
	</cly-section>
</div>