<script type="text/x-template" id="events-overview">
	<div v-bind:class="[componentId]">
		<cly-header>
		  <template v-slot:header-left>
			<h2 class="cly-vue-overview-events-header"> {{i18n('events.overview.title.new')}} 
			</h2>
			<cly-tooltip-icon icon="ion-help-circled"></cly-tooltip-icon>
		  </template>
		  <template v-slot:header-bottom>
			<i class="far fa-clock cly-vue-events-header__subheading--widget"></i>
			<span class="cly-vue-events-header__subheading--text">{{updatedAt}}</span>
		  </template>
		</cly-header>
		<cly-main>
		  <div>
			<cly-date-picker class="bu-mb-4"  v-model="disabledDatePicker" type="daterange" placeholder="Last 30 Days"  timestampFormat="ms" :disabled="true"></cly-date-picker>
		  </div>
		  <cly-section>
			<cly-metric-cards>
			  <cly-metric-card :number=eventsOverview[0].value color="#097EFF" numberClasses="bu-is-flex bu-is-align-items-center">
				{{eventsOverview[0].name}}
				<cly-tooltip-icon class="cly-vue-events-overview-top-events--tooltip" icon="ion-help-circled"></cly-tooltip-icon>
				<span v-if="eventsOverview[0].trend='d'" slot="description" class="cly-vue-events-overview-top-events__description cly-trend-down"><i class="cly-vue-events-overview-top-events__trend fas fa-arrow-circle-down"></i>{{eventsOverview[0].change}}</span>
				<span v-else slot="description" class="cly-vue-events-overview-top-events__description cly-trend-up"><i class="cly-vue-events-overview-top-events__trend fas fa-arrow-circle-up"></i>{{eventsOverview[0].change}}</span>
			  </cly-metric-card>
			  <cly-metric-card :is-percentage="true" :number=eventsOverview[1].value color="#097EFF" :label=eventsOverview[1].name numberClasses="bu-is-flex bu-is-align-items-center">
				{{eventsOverview[1].name}}
				<cly-tooltip-icon class="cly-vue-events-overview-top-events--tooltip" icon="ion-help-circled"></cly-tooltip-icon>
				<div slot="number">{{eventsOverview[1].value}}</div>
				<span v-if="eventsOverview[1].trend='d'" slot="description" class="cly-vue-events-overview-top-events__description cly-trend-down"><i class="cly-vue-events-overview-top-events__trend fas fa-arrow-circle-down"></i>{{eventsOverview[1].change}}</span>
				<span v-else slot="description" class="cly-vue-events-overview-top-events__description cly-trend-up"><i class="cly-vue-events-overview-top-events__trend fas fa-arrow-circle-up"></i>{{eventsOverview[1].change}}</span>
			  </cly-metric-card>
			  <cly-metric-card :number=eventsOverview[2].value color="#097EFF" numberClasses="bu-is-flex bu-is-align-items-center">
				{{eventsOverview[2].name}}
				<cly-tooltip-icon class="cly-vue-events-overview-top-events--tooltip" icon="ion-help-circled"></cly-tooltip-icon>
				<span v-if="eventsOverview[2].trend='d'" slot="description" class="cly-vue-events-overview-top-events__description cly-trend-down"><i class="cly-vue-events-overview-top-events__trend fas fa-arrow-circle-down"></i>{{eventsOverview[2].change}}</span>
				<span v-else slot="description" class="cly-vue-events-overview-top-events__description cly-trend-up"><i class="cly-vue-events-overview-top-events__trend fas fa-arrow-circle-up"></i>{{eventsOverview[2].change}}</span>
			  </cly-metric-card>
			</cly-metric-cards>
		  </cly-section>
		  <h4 class="bu-pt-2 bu-mb-4 cly-vue-events-overview-subheadings--font">{{i18n('events.overview.top.events.by.count')}} </h4>
		  <div class="bu-columns bu-is-gapless bu-is-mobile bu-is-multiline white-bg">
			<events-breakdown-horizontal-tile 
			  :trend="item.trend"
			  :change="item.change"
			  :key="idx"
			  v-for="(item, idx) in topEvents">
			  <h4 slot="title" class="text-medium">{{item.name}}</h4>
			  <div slot="countValue" class="cly-events-breakdown-horizontal-tile__value">{{item.value}}</div>
			  <div class="bu-level-right" slot="totalPercentage">
				<div class="bu-level-item cly-events-breakdown-horizontal-tile__percentage">
				  {{item.percentage}}{{i18n("events.percentage.of.total")}}
				</div>
			  </div>
			  <div slot="progressBar">
				<progress class="bu-progress bu-is-link" :value="item.percentage" max="100">{{item.percentage}}%</progress>
			  </div>
			</events-breakdown-horizontal-tile>
		  </div>
		  <div class="bu-is-flex bu-mt-2 bu-mb-4">
			<h3 class="cly-vue-events-overview-subheadings">{{i18n('events.overview.metrics')}} </h3>
			<cly-tooltip-icon class="cly-vue-events-overview-subheadings--tooltip" icon="ion-help-circled"></cly-tooltip-icon>
		  </div>
		  <cly-section>
			<detail-tables></detail-tables>
		  </cly-section>
		  <div class="bu-is-flex bu-mb-4">
			<h3 class="cly-vue-events-overview-subheadings">{{i18n('events.overview.monitor')}} </h3>
			<cly-tooltip-icon class="cly-vue-events-overview-subheadings--tooltip" icon="ion-help-circled"></cly-tooltip-icon>
			<div class="cly-vue-events-overview-monitor-events__configure--position">
				<el-button @click="configureOverview" size="small">{{i18n('events.overview.events.configure.events')}}
				</el-button>  
			</div>
		  </div>
		  <cly-section class="cly-vue-events-overview-monitor-events">
			<div>
			  <div class="cly-vue-events-overview-monitor-events__datepicker-section">
				<span class="cly-vue-events-overview-monitor-events--grey">{{i18n('events.overview.time.period')}}</span>
				<cly-date-picker v-model="selectedDatePeriod" timestampFormat="ms" class="cly-vue-events-overview-date-picker"></cly-date-picker>
			  </div>
			  <div class="bu-columns bu-is-gapless bu-is-mobile bu-is-multiline">
				<monitor-events-breakdown-horizontal-tile
				  :trend="item.trend"
				  :change="item.change"
				  :key="idx"
				  v-for="(item, idx) in monitorEventsData">
				  <h4 slot="title" class="text-medium">{{item.name}}</h4>
				  <div slot="countValue" class="cly-monitor-events-breakdown-horizontal-tile__overviewvalue">{{item.total}}</div>
				  <div slot="propertyName" class="cly-monitor-events-breakdown-horizontal-tile__eventproperty">{{item.eventProperty}}</div>
				  <div slot="barGraph">
					<cly-chart-bar class="cly-vue-events-overview-monitor-events__charts" :legend="monitorEventsLegend" :height=100 :option="item.barData" :autoresize=false :showZoom=false :showToggle=false :showDownload=false>			
					</cly-chart-bar>
				  </div>
				</monitor-events-breakdown-horizontal-tile>
			  </div>
			</div>
		  </cly-section>
		  <overview-drawer :controls="drawers.configureDrawer" :selectedEvents=selectedEvents ></overview-drawer>
		</cly-main>
	  </div>		
</script>
  <script type="text/x-template" id="overview-tables-events">
	<div>
		<cly-datatable-n :rows="eventsTableRows.data">
		  <template v-slot:header-left="selectScope">
		  </template>
		  <template v-slot="scope">
			<el-table-column sortable="true" prop="event" :label="i18n('events.overview.event')">
			  <template v-slot="rowScope">
				<div>
				  <span :style="{'background-color': rowScope.row.bgColor}" class="nps-dot"></span>
				  {{rowScope.row.name}}
				</div>
			  </template>
			</el-table-column>
			<el-table-column sortable="true" prop="count" :label="i18n('events.overview.count')">
			  <template v-slot="rowScope">
				<div>
				  {{rowScope.row.count}}
				</div>
			  </template>
			</el-table-column>
			<el-table-column sortable="true" prop="sum" :label="i18n('events.overview.sum')">
			  <template v-slot="rowScope">
				<div>
				  {{rowScope.row.sum}}
				</div>
			  </template>
			</el-table-column>
			<el-table-column sortable="true" prop="duration" :label="i18n('events.overview.duration')">
			  <template v-slot="rowScope">
				<div>
				  {{rowScope.row.duration}}
				</div>
			  </template>
			</el-table-column>
		  </template>
		</cly-datatable-n>
	  </div>
  </script>