<div class="preset-list">

    <div class="preset-list__header">
        <div class="bu-level">
            <el-button @click="createNewPreset" type="primary" size="small" plain v-if="allowCreate">+ {{ i18n('management.preset.create-button') }}</el-button>
            <el-button @click="navigateToManagement" type="text" size="small" v-tooltip="i18n('management.preset.manage-button-tooltip')">{{ i18n('common.manage') }}</el-button>
        </div>
    </div>

    <div class="preset-list__body" :style="{height: containerHeight}" v-loading="isLoading">
        <vue-scroll :ops="scrollOps">
            <draggable
                handle=".drag-handler"
                v-model="presets"
                @change="onChange"
            >
                <div class="preset drag-handler bu-mx-4" :key="idx" v-for="(preset, idx) in presets" @click="onPresetClick(preset)" :class="{'preset--selected':  preset._id === selectedPresetId}">
                    <div class="bu-mb-1 bu-is-flex">
                        <span class="has-ellipsis text-medium font-weight-bold color-cool-gray-100">{{ preset.name }}</span>
                        <cly-check
                            class="bu-pl-1"
                            element-loading-spinner="el-icon-loading"
                            @input="toggleFav(preset)"
                            :value="preset.fav"
                            skin="star"
                        >
                        </cly-check>
                    </div>
                    <div class="text-medium color-cool-gray-50">{{ preset.range_label }}</div>
                </div>
            </draggable>
        </vue-scroll>
    </div>

    <preset-drawer :controls="drawers['preset']" @open-drawer="onOpenDrawer" @close-drawer="onCloseDrawer"></preset-drawer>
</div>