<div v-bind:class="[componentId]">
    <cly-header
        :title="i18n('management.preset')"
    >
        <template #header-top><cly-back-link link="/" :title="i18n('management.preset.back-to-home')"></cly-back-link></template>
        <template v-slot:header-right>
            <el-button type="success" icon="el-icon-circle-plus" @click="createNewPreset" data-test-id="new-date-preset-button">{{i18n('management.preset.create-button')}}</el-button>
        </template>
    </cly-header>

    <cly-main>
        <cly-datatable-n 
            test-id="datatable-date-presets"
            :rows="rows" 
            :resizable="true" 
            :force-loading="isLoading" 
            :hide-top="true"
            :hide-bottom="true"
            :sortable="true"
            :default-sort="{prop: 'sort_order', order: 'ascending'}"
            :display-mode="'list'"
            @drag-start="onDragStart"
            @drag-end="reorderPresets"
        >
            <template v-slot="scope">
                <el-table-column prop="drag-icon" width="32" class-name="drag-icon">
                    <template v-slot="rowScope">
                        <img class="drag-icon" v-if="rowScope.row.hover" src="images/drill/drag-icon.svg" />
                    </template>
                </el-table-column>
                <el-table-column prop="name" :label="i18n('management.preset.column.name')">
                    <template v-slot="rowScope">
                        <div class="bu-is-flex">
                            <span class="has-ellipsis bu-has-text-weight-medium" :data-test-id="'datatable-date-presets-name-' + rowScope.$index">{{ unescapeHtml(rowScope.row.name) }}</a></span>
                            <cly-check
                                :data-test-id="'datatable-date-presets-star-icon-' + rowScope.$index"
                                class="bu-pl-1"
                                element-loading-spinner="el-icon-loading"
                                @input="toggleFav(scope, rowScope.row)"
                                :value="rowScope.row.fav"
                                skin="star">
                            </cly-check>
                        </div>
                    </template>
                </el-table-column>
                <el-table-column prop="range_label" :label="i18n('management.preset.column.range')">
                    <template v-slot="rowScope">
                        <span class="has-ellipsis" :data-test-id="'datatable-date-presets-range-' + rowScope.$index">{{ rowScope.row.range_label }}</span>
                    </template>
                </el-table-column>
                <el-table-column prop="owner_name" :label="i18n('management.preset.column.owner')">
                    <template v-slot="rowScope">
                        <span class="has-ellipsis" :data-test-id="'datatable-date-presets-owner-' + rowScope.$index">{{ rowScope.row.owner_name }}</span>
                    </template>
                </el-table-column>
                <el-table-column prop="share_with" :formatter="sharingOption" :label="i18n('management.preset.column.visibility')">
                    <template v-slot="rowScope">
                        <span class="has-ellipsis" :data-test-id="'datatable-date-presets-visibility-' + rowScope.$index">{{ rowScope.row.share_with }}</span>
                    </template>
                </el-table-column>
                <el-table-column type="options" width="90">
                    <template v-slot="rowScope">
                        <cly-more-options v-if="rowScope.row.hover" size="small" @command="handleCommand($event, rowScope.row)" :test-id="'datatable-date-presets-' + rowScope.$index">
                            <el-dropdown-item v-if="hasWritePermissions(rowScope.row)" :data-test-id="'datatable-more-button-edit-select-' + rowScope.$index" command="edit">{{ i18n('common.edit') }}</el-dropdown-item>
                            <el-dropdown-item v-if="hasWritePermissions(rowScope.row)" :data-test-id="'datatable-more-button-duplicate-select-' + rowScope.$index" command="duplicate">{{ i18n('common.duplicate') }}</el-dropdown-item>
                            <el-dropdown-item v-if="hasWritePermissions(rowScope.row)" :data-test-id="'datatable-more-button-delete-select-' + rowScope.$index" command="delete">{{ i18n('common.delete') }}</el-dropdown-item>
                        </cly-more-options>
                    </template>
                </el-table-column>
            </template>
        </cly-datatable-n>
    </cly-main>
    
    <preset-drawer :controls="drawers['preset']" @refresh-presets="refresh"></preset-drawer>
</div>