<div v-bind:class="[componentId]">
    <cly-header
        :title="i18n('sidebar.management.jobs')"
    >
    </cly-header>
    <cly-main>
		<cly-section>
			<cly-datatable-n :data-source="remoteTableDataSource" v-on:row-click="goTo" :isClickable="true" :default-sort="{prop: 'name', order: 'ascending'}">
                <template v-slot="scope">
                    <el-table-column sortable="custom" prop="name" :label="i18n('jobs.job-name')" type="clickable">
                    </el-table-column>
                    <el-table-column sortable="custom" prop="status" :label="i18n('jobs.job-status')">
                        <template slot-scope="scope">   
                            <cly-status-tag :text="scope.row.status" :color="getColor(scope.row)"></cly-status-tag>
                        </template>
                    </el-table-column>
                    <el-table-column sortable="custom" prop="schedule" :label="i18n('jobs.job-schedule')">
                        <template slot-scope="scope">
                            <p>{{scope.row.scheduleLabel}}</p>
                            <p style="color:#A7AEB8; font-size: 12px;">{{scope.row.scheduleDetail}}</p>
                        </template>
                    </el-table-column>
                    <el-table-column sortable="custom" prop="next" :label="i18n('jobs.job-next-run')">
                        <template slot-scope="scope">
                            <p>{{scope.row.nextRunDate}}</p>
                            <p style="color:#A7AEB8; font-size: 12px;">{{scope.row.nextRunTime}}</p>
                        </template>
                    </el-table-column>
                    <el-table-column sortable="custom" prop="finished" :label="i18n('jobs.job-last-run')">
                        <template slot-scope="scope">
                            <p v-html="scope.row.lastRun"></p>
                        </template>
                    </el-table-column>
                    <el-table-column sortable="custom" prop="total" :label="i18n('jobs.job-total-scheduled')">
                    </el-table-column>
                    <el-table-column align="center" type="options">
                        <template v-slot="scope">
                            <cly-more-options v-if="scope.row.hover" @command="handleCommand($event, scope.row)" placement="bottom-end">
                                <el-dropdown-item v-if="canSuspendJob" command="change-job-status">{{scope.row.status === 'SUSPENDED' ? i18n('jobs.schedule') : i18n('jobs.suspend')}}</el-dropdown-item>
                            </cly-more-options>
                        </template>
                    </el-table-column>
                </template>
            </cly-datatable-n>
		</cly-section>
    </cly-main>
</div>