<div class="widget">
	<div class="widget-header">
		<div class="left">
			<div class="title">{{page-title}}</div>
		</div>
        <div class="right btn-header">
			<div class="icon-button green" id="add-user-mgmt" data-localize="management-users.create-new-user"></div>
		</div>
	</div>
</div>
<div class="manage-users-table" data-help-localize="help.{{{chart-helper}}}">
<div class="create-user-row user-details datatablesubrow d-table">
	<div class="row help-zone-vs" data-help-localize="help.manage-users.full-name">
		<div class="title" data-localize="management-users.full-name"></div>
		<div class="detail"><input class="full-name-text" type="text" value="" readonly onfocus="if (this.hasAttribute('readonly')) {this.removeAttribute('readonly'); this.blur(); this.focus();}"/></div>
	</div>
	<div class="row help-zone-vs" data-help-localize="help.manage-users.username">
		<div class="title" data-localize="management-users.username"></div>
		<div class="detail"><input class="username-text" type="text" value="" readonly onfocus="if (this.hasAttribute('readonly')) {this.removeAttribute('readonly'); this.blur(); this.focus();}"/></div>
	</div>
	<div class="row">
		<div class="title" data-localize="management-users.password"></div>
		<div class="detail">
			<input class="password-text" type="text" value=""/><br/>
			<div class="small-link generate-password" data-localize="management-users.generate-password"></div>
		</div>
	</div>
	<div class="row help-zone-vs" data-help-localize="help.manage-users.email">
		<div class="title" data-localize="management-users.email"></div>
		<div class="detail"><input class="email-text" type="text" value="" readonly onfocus="if (this.hasAttribute('readonly')) {this.removeAttribute('readonly'); this.blur(); this.focus();}"/></div>
	</div>
	<div class="row help-zone-vs" data-help-localize="help.manage-users.global-admin">
		<div class="title" data-localize="management-users.global-admin"></div>
		<div class="detail">
			<div class="option">
				<div class="global-admin checkbox"></div>
				<div class="text"></div>
			</div>
		</div>
	</div>
	<!--
	<div class="row admin-apps help-zone-vs" data-help-localize="help.manage-users.admin-of">
		<div class="title" data-localize="management-users.admin-of"></div>
		<div class="select-apps">
            <i class="fa fa-plus-circle"></i>
			<input type="hidden" value="" class="app-list"/>
		</div>
		<div class="detail user-admin-list">
			<span data-localize="management-users.admin-of.tip"></span>
		</div>
		<div class="no-apps" data-localize="management-users.admin-of.tip"></div>
	</div>
	<div class="row user-apps help-zone-vs" data-help-localize="help.manage-users.user-of">
		<div class="title" data-localize="management-users.user-of"></div>
		<div class="select-apps">
            <i class="fa fa-plus-circle"></i>
			<input type="hidden" value="" class="app-list"/>
		</div>
		<div class="detail user-admin-list">
			<span data-localize="management-users.user-of.tip"></span>
		</div>
		<div class="no-apps" data-localize="management-users.user-of.tip"></div>
	</div>
	-->
	<div class="row help-zone-vs member-permission" data-help-localize="help.manage-users.permissions">
		<div class="title" data-localize="management-users.permissions"></div>
		<div class="detail">
			<div class="permission-app-select">
				<select id="permission-app-selector">
					
				</select>
			</div>
			<div class="permission-box">
				<label>Core Features</label>
				<div class="core-features">
				</div>
				<label>Plugins</label>
				<div class="plugins-features">
				</div>
			</div>
		</div>
	</div>
	<div class="button-container">
		<a class="icon-button light create-user" data-localize="management-users.create-user"></a>
		<a class="icon-button light cancel-user-row" data-localize="common.cancel"></a>
	</div>
</div>
<table id="user-table" cellspacing="0" class="d-table"></table>
<div id="listof-apps">
    <div class="search">
        <i class="fa fa-search"></i>
        <input type="search" readonly onfocus="if (this.hasAttribute('readonly')) {this.removeAttribute('readonly'); this.blur(); this.focus();}">
    </div>
	<div class="scrollable">
		{{#eachOfObjectValue apps}}
		<div class="app searchable">
			<div class="image" style="background-image: url('/appimages/{{this._id}}.png');"></div>
			<div class="name">{{this.name}}</div>
			<input class="app_id" type="hidden" value="{{this._id}}"/>
		</div>
		{{/eachOfObjectValue}}
	</div>
	<div class="button-container">
		<a class="icon-button green" id="done" data-localize="common.done"></a>
		<a class="icon-button dark" id="select-all" data-localize="common.select-all"></a>
		<a class="icon-button dark" id="deselect-all" data-localize="common.deselect-all"></a>
	</div>
</div>
</div>
<div class="cly-drawer create-user-drawer">
    <div class="title" style="position: fixed; width: 100%;top: 0px; box-sizing:border-box">
        <span id="create-user-drawer-title" data-localize="management-users.create-new-user"></span>
        <div class="close"><i class="ion-ios-close-empty"></i></div>
    </div>
    <div class="details create-user-drawer-detail" style="height:100%;overflow-y:auto">
    	<div class="left-area">
    		<label>Full name</label>
	    	<input class="drawer-input full-name-text" placeholder="Enter full name" autocomplete="off" type="text"/>
	    	<label>User name</label>
	    	<input class="drawer-input username-text" placeholder="Enter user name" autocomplete="off" type="text"/>
	    	<label>E-mail</label>
	    	<input class="drawer-input email-text" placeholder="Enter e-mail" autocomplete="new-password" type="email"/>
	    </div>
	    <div class="right-area">
	    	<label>Profile Picture</label>
	    	<div class="img-upload" id="user-avatar-upload-drop">
	    		<div class="upload-message">Drag & drop or <span style="font-weight:bolder;color:#2EB52B;cursor:pointer;">browse</span> files to add picture</div>
	    	</div>
	    </div>
	    <div style="clear:both"></div>
	    <div class="access-area role-section">
	    	<div class="header">
	    		<div class="section-title">Role</div>
	    	</div>
	    	<div class="content">
	    		<div class="checkbox-container">
                    <input id="is-global-admin" data-state="0" type="checkbox">
                    <div class="is-global-admin-checkbox fa fa-square-o check-green"></div>
                    <div class="checkbox-label">Global Administrator</div>
                    <div style="clear:both"></div>
                </div>
	    	</div>
	    </div>
	    <div id="sub-header-1th">
	    	<div class="drawer-header">Permission Settings</div>
	    	<div class="drawer-information">User has access to <span id="accessible-app-count">0</span> apps</div>
	    	<div style="clear:both"></div>
	    </div>
	    <div class="admin-access access-area">
	    	<div class="header">
	    		<div class="section-title">Grant Admin Access to App(s)</div>
	    		<div class="subtitle">User will have admin access to selected app(s)</div>
	    	</div>
	    	<div class="app-selector access-area">
	    		<div class="selector-label">Apps</div>
	    		<div class="selector-wrapper">
                    <input type="text" id="admin-app-selector">
                </div>
                <div style="clear:both"></div>
	    	</div>
	    </div>
<!--
	    <div class="user-access access-area">
	    	<div class="header">
	    		<div class="section-title">Grant User Access to App(s)</div>
	    	</div>
	    	<div class="app-selector access-area">
	    		<div class="selector-label">Apps</div>
	    		<div class="selector-wrapper">
                    <input type="text" id="user-app-selector">
                </div>
                <div style="clear:both"></div>
	    	</div>
	    	<div class="permission-header">
	    		<div class="table-description first-description">Feature</div>
	    		<div class="table-description">
	    			<div class="checkbox-container">
	                    <input id="mark-all-create" data-state="0" type="checkbox">
	                    <div class="mark-all-create-checkbox fa fa-square-o check-green"></div>
	                    <div class="checkbox-label">Create</div>
	                    <div style="clear:both"></div>
	                </div>
	    		</div>
	    		<div class="table-description">
	    			<div class="checkbox-container">
	                    <input id="mark-all-read" data-state="0" type="checkbox">
	                    <div class="mark-all-read-checkbox fa fa-square-o check-green"></div>
	                    <div class="checkbox-label">Read</div>
	                    <div style="clear:both"></div>
	                </div>
	    		</div>
	    		<div class="table-description">
	    			<div class="checkbox-container">
	                    <input id="mark-all-update" data-state="0" type="checkbox">
	                    <div class="mark-all-update-checkbox fa fa-square-o check-green"></div>
	                    <div class="checkbox-label">Update</div>
	                    <div style="clear:both"></div>
	                </div>
	    		</div>
	    		<div class="table-description">
	    			<div class="checkbox-container">
	                    <input id="mark-all-delete" data-state="0" type="checkbox">
	                    <div class="mark-all-delete-checkbox fa fa-square-o check-green"></div>
	                    <div class="checkbox-label">Delete</div>
	                    <div style="clear:both"></div>
	                </div>
	    		</div>
	    	</div>
	    	<div class="permission-table" id="permission-table-0">
	    	</div>
	    </div>
-->
	    <button class="add-new-permission-set icon-button">
    		+ Add a new permission set
    	</button>
    	<div class="create-user-drawer-bottom">
    		<button id="create-user-button" class="icon-button green create-new-user">
    			Create user
    		</button>
    	</div>
    </div>
</div>