<div v-bind:class="[componentId]" class="aggregator-status-view">
    <cly-header>
        <template v-slot:header-left>
            <div class="header">
                <h1>State of current data aggregators</h1>
            </div>
        </template>      
    </cly-header>
    <cly-main>
        <cly-section>
            <cly-datatable-n :rows="aggregatorRows" :resizable="true" >
                <template v-slot="scope"> 
                    <el-table-column  column-key="name" prop="name" sortable="custom" :label="i18n('common.name')"></el-table-column>
                    <el-table-column  column-key="last_cd" prop="last_cd" sortable="custom" label="Acknowledged"></el-table-column>
                    <el-table-column  column-key="drill" prop="drill" sortable="custom" label="Drill"></el-table-column>
                    <el-table-column  column-key="diffDrill" prop="diffDrill" sortable="custom" label="Diff(drill)"></el-table-column>
                    <el-table-column  column-key="diff" prop="diff" sortable="custom" label="Diff(now)"></el-table-column>
                </template>
            </cly-datatable-n>
        </cly-section>
    </cly-main>
</div>

