<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<!--
   ______                  __  __
  / ____/___  __  ______  / /_/ /_  __
 / /   / __ \/ / / / __ \/ __/ / / / /
/ /___/ /_/ / /_/ / / / / /_/ / /_/ /
\____/\____/\__,_/_/ /_/\__/_/\__, /
              http://count.ly/____/
-->
<html>
<head>
	<title><%- countlyTitle %></title>
    <meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate" />
    <meta http-equiv="Pragma" content="no-cache" />
    <meta http-equiv="Expires" content="0" />
    <meta name="referrer" content="no-referrer">
    <script><%- javascript %></script>
	<link rel="icon" type="image/png" href="<%- cdn %><%- countlyFavicon %>">
    <!-- Pace.js - Load early to track page loading progress -->
    <link rel="stylesheet" href="<%- cdn %><%= getViteAsset('pace.js', 'css') %>" />
    <script language="javascript" type="text/javascript" src="<%- cdn %><%= getViteAsset('pace.js', 'js') %>"></script>
    <script type="text/javascript">
        // Restore URL hash preserved during OAuth2 authentication flow
        // The hash was saved in sessionStorage on the login page before OAuth2 redirect.
        // After successful authentication and redirect back to the dashboard, we restore it here
        // so users land on the page they originally intended to visit (e.g., #/analytics/sessions).
        // NOTE: The key 'countly_oauth_return_hash' must match the key used in login.html
        (function() {
            var OAUTH_HASH_KEY = 'countly_oauth_return_hash';
            try {
                var savedHash = sessionStorage.getItem(OAUTH_HASH_KEY);
                if (savedHash && savedHash.length > 1) {
                    // Clear the saved hash immediately to prevent reuse
                    sessionStorage.removeItem(OAUTH_HASH_KEY);

                    // Validate hash format: must start with # and contain only safe URL characters
                    // Allow: alphanumeric, forward slash, hyphen, underscore, dot, question mark, equals, ampersand, percent
                    var hashPattern = /^#[a-zA-Z0-9\/_\-\.?=&%]+$/;

                    if (hashPattern.test(savedHash)) {
                        // Additional check: ensure no javascript: or data: protocol
                        var lowerHash = savedHash.toLowerCase();
                        if (lowerHash.indexOf('javascript:') === -1 &&
                            lowerHash.indexOf('data:') === -1 &&
                            lowerHash.indexOf('<script') === -1) {
                            // Restore the hash to the current URL
                            if (window.location.hash !== savedHash) {
                                window.location.hash = savedHash;
                            }
                        }
                    }
                }
            } catch(e) {
                // Ignore if sessionStorage is not available
            }
        })();

        //no one should really need this
        window.eval = function(){
            console.log("eval not available");
            window.Countly = window.Countly || {};
            Countly.q = Countly.q || [];
            Countly.q.push(['log_error', new Error("eval not available")]);
        };
        window.loadPlugin = function(plugin, callback, args){
            if (typeof plugin !== "string") {
                console.log("when loading plugin, provided plugin was not a string, but a", plugin);
            }
            if (typeof callback !== "function") {
                console.log("when loading plugin", plugin, "provided callback was not a function, but a", callback);
            }
            if (countlyGlobal.plugins.indexOf(plugin) !== -1) {
                if (Array.isArray(args)){
                    callback.apply(window, args);
                }
                else {
                    callback(args);
                }
            }
        };
    </script>
    <link rel="stylesheet" href="<%- cdn %>stylesheets/font-awesome/css/font-awesome.min.css?<%= countlyVersion %>" />
	 <link rel="stylesheet" href="<%- cdn %>stylesheets/countly-icons/style.css?<%= countlyVersion %>" />
    <link rel="stylesheet" href="<%- cdn %>stylesheets/ionicons/css/ionicons.min.css?<%= countlyVersion %>" />
    <link rel="stylesheet" href="<%- cdn %>stylesheets/material/material-icons.css?<%= countlyVersion %>" />
    <link rel="stylesheet" href="<%- cdn %>stylesheets/vue/element-ui.css?<%= countlyVersion %>" />

    <% if (themeFiles && themeFiles.css) { %>
        <% for(var i=0, l=themeFiles.css.length; i<l; i++) {%>
    <link href='<%= themeFiles.css[i]%>?<%= countlyVersion %>' rel='stylesheet' type='text/css'>
        <% } %>
    <% } %>
    <script type="text/javascript">
	window.production = <%= production ? true : false %>;
    </script>
    <% if (typeof inject_template.css != 'undefined') { %>
	<style><%- inject_template.css %></style>
	<% } %>
</head>
<body>
	<div id="main-views-container" class="bu-is-flex">
        <div id="cly-vue-sidebar" data-test-id="dashboard-sidebar">
            <div id="sidebar-x"></div>
        </div>
        <div class="main-view">
            <div id="content"></div>
        </div>
	</div>
	<div id="vue-modal-manager"></div>

    <% if (themeFiles && themeFiles.js) { %>
        <% for(var i=0, l=themeFiles.js.length; i<l; i++) {%>
    		<script language="javascript" type="text/javascript" src="<%=themeFiles.js[i]%>?<%= countlyVersion %>"></script>
        <% } %>
    <% } %>

    <% var vendorJs = getViteAsset('vendor-entrypoint.js', 'js'); %>
    <% var vendorCss = getViteAsset('vendor-entrypoint.js', 'css'); %>
    <% if (vendorCss) { %><link rel="stylesheet" href="<%- cdn %><%= vendorCss %>" /><% } %>
    <% if (vendorJs) { %><script language="javascript" type="text/javascript" src="<%- cdn %><%= vendorJs %>"></script><% } %>
    <link rel="stylesheet" href="<%- cdn %><%= getViteAsset('entrypoint.js', 'css') %>" />
    <script language="javascript" type="text/javascript" src="<%- cdn %><%= getViteAsset('entrypoint.js', 'js') %>"></script>

    <% if (typeof inject_template.html != "undefined") { %>
        <%- inject_template.html %>
    <% } %>
    <% if (typeof inject_template.js != 'undefined') { %>
	<script><%- inject_template.js %></script>
	<% } %>
    <!-- The last countly script to load -->
    <script language="javascript" type="text/javascript" src="<%- cdn %>javascripts/countly/countly.loaded.js?<%= countlyVersion %>"></script>
</body>
</html>
