<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<!--
   ______                  __  __     
  / ____/___  __  ______  / /_/ /_  __
 / /   / __ \/ / / / __ \/ __/ / / / /
/ /___/ /_/ / /_/ / / / / /_/ / /_/ / 
\____/\____/\__,_/_/ /_/\__/_/\__, /  
              http://count.ly/____/   
-->
<html> 
<head> 
	<title>Countly</title> 
	<link rel="icon" type="image/png" href="/images/favicon.png">
	<link href='http://fonts.googleapis.com/css?family=Ubuntu:400,500&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
	<link rel="stylesheet" href="/javascripts/tablesorter/style.css" />
	<link rel="stylesheet" href="/javascripts/tipsy/tipsy.css" />
	<link rel="stylesheet" href="/stylesheets/jqueryui/jquery.ui.all.css" />
	<link rel="stylesheet" href="/stylesheets/main.css" />
	<link rel="stylesheet" href="/stylesheets/webfonts.css" />
	<script><%- javascript %></script>
</head>
<body> 
	<div id="sidebar">
		<div id="new-install-overlay"></div>
		<div id="sidebar-top">
			<a href="#/"><div id="sidebar-logo"></div></a>
			<div id="sidebar-app-select">
				<div class="logo"<% if (userOfApps[0]){ %>style="background-image:url('/appimages/<%= userOfApps[0]._id %>.png')"<% } %>></div>
				<div class="text"><% if (userOfApps[0]){ %><%= userOfApps[0].name %><% } %></div>
			</div>
		</div>
		<div id="sidebar-menu">
			<a href="#/" class="item active">
				<div class="logo dashboard"></div>
				<div class="text">Dashboard</div>
			</a>
			<a class="item" id="analytics-menu">
				<div class="logo analytics"></div>
				<div class="text">Analytics</div>
			</a>
			<div class="sidebar-submenu" id="analytics-submenu">
				<a href="#/analytics/users" class="item active">
					<div class="logo users"></div>
					<div class="text">Users</div>
				</a>
				<a href="#/analytics/loyalty" class="item">
					<div class="logo loyalty"></div>
					<div class="text">User loyalty</div>
				</a>
				<a href="#/analytics/sessions" class="item">
					<div class="logo sessions"></div>
					<div class="text">Sessions</div>
				</a>
				<a href="#/analytics/frequency" class="item">
					<div class="logo frequency"></div>
					<div class="text">Session frequency</div>
				</a>
				<a href="#/analytics/countries" class="item">
					<div class="logo country"></div>
					<div class="text">Countries</div>
				</a>
				<a href="#/analytics/devices" class="item">
					<div class="logo devices"></div>
					<div class="text">Devices</div>
				</a>
				<a href="#/analytics/carriers" class="item">
					<div class="logo carrier"></div>
					<div class="text">Carriers</div>
				</a>
			</div>
			<% if(member['global_admin'] || adminOfApps.length) { %>
			<a class="item" id="management-menu">
				<div class="logo management"></div>
				<div class="text">Management</div>
			</a>
			<div class="sidebar-submenu" id="management-submenu">
				<a href="#/manage/apps" class="item active">
					<div class="logo applications"></div>
					<div class="text">Applications</div>
				</a>
				<% if(member['global_admin']) { %>
				<a href="#/manage/users" class="item">
					<div class="logo mgmt-users"></div>
					<div class="text">Users</div>
				</a>
				<% } %>
			</div>
			<% } %>
		</div>
		<div id="sidebar-bottom-container">
			<div class="menu">
				<a class="item" id="account-settings">Settings</a>
				<a class="item" href="/logout">Logout</a>
			</div>
			<div class="username" id="menu-username"><%= member['username'] %></div>
			<div class="reveal-menu"></div>
		</div>
	</div>
	<div id="app-nav">
		<div id="app-nav-head">
			APPS
		</div>
		<div class="scrollable">
			<% for (var i = 0; i < userOfApps.length; i++) { %>
				<div class="app-container app-navigate" data-key="<%= userOfApps[i].key %>" data-id="<%= userOfApps[i]['_id'] %>">
					<div class="logo" style="background-image: url('/appimages/<%= userOfApps[i]['_id'] %>.png');"></div>
					<div class="name"><%= userOfApps[i].name %></div>
				</div>
			<% } %>
		</div>
		<div id="sidebar-new-app">
			<div class="app-container app-navigate" id="">
				<div class="logo"></div>
				<div class="name"></div>
			</div>
		</div>
	</div>
	<div></div>
	<div id="overlay"></div>
	<div id="cly-popup" class="dialog black">
		<div class="indicator"></div>
		<div class="content"></div>
	</div>
	<div id="cly-alert" class="dialog">
		<div class="indicator"></div>
		<div class="message"></div>
		<div class="buttons">
				<a id="dialog-ok" class="icon-button light">OK</a>
		</div>
	</div>
	<div id="cly-confirm" class="dialog">
		<div class="indicator"></div>
		<div class="message"></div>
		<div class="buttons">
				<a id="dialog-continue" class="icon-button light">Continue</a>
				<a id="dialog-cancel" class="icon-button light">Cancel</a>
		</div>
	</div>
	<div id="edit-account-details" style="display:none;">
		<div class="message">
			<div>
				<div style="float:left; width:100px;">Username</div>
				<div style="margin-left:105px;"><input id="username" type="text" value=""/></div>
			</div>
			<div style="margin-top:15px;">
				<div style="float:left; width:100px;">Change password</div> 
				<div style="margin-left:105px;">
					<div><input id="old_pwd" type="password" placeholder="Old password..."/></div>
					<div style="margin-top:10px;"><input id="new_pwd" type="password" placeholder="New password..."/></div>
					<div style="margin-top:5px;"><input id="re_new_pwd" type="password" placeholder="Again..."/></div>
				</div>
			</div>
		</div>
		<div class="buttons">
			<div id="settings-save-result" class="result-message"></div>
			<a id="save-account-details" class="icon-button light">Save</a>
			<a id="dialog-cancel" class="icon-button light">Close</a>
		</div>
	</div>
	<div id="content"></div>
	<script id="template-date-selector" type="text/x-handlebars-template">
		<div id="date-selector">
			<div class="calendar" id="date-picker-button"></div>
			<div id="date-picker" style="display:none; position:absolute; z-index:10; margin-top:38px; margin-left:-175px; padding:2px 3px 6px 3px; background-color:rgba(85,85,85,1); border:1px solid #333; box-shadow: inset 0 0 0 1px #777; border-radius:5px; background-image:url('/images/dashboard/calendar_bg.png');">
				<div style="width:14px; margin:0 auto; margin-top:-10px; height:9px; background-image:url('/images/dashboard/calendar_tip.png'); z-index:20;"></div>
				<div style="overflow: auto; box-shadow: inset 0 0 1px 1px #999, 0 1px 0 0 #777; padding: 6px; background-color: #CCC; border-radius: 4px; border: 1px solid #333; margin:3px; margin-top:5px;">
					<div id="date-from" style="float:left; margin-right:3px; border:1px solid #666; border-radius:3px;"></div>
					<div id="date-to" style="float:left; margin-left:3px; border:1px solid #666; border-radius:3px;"></div>
				</div>			
				<div style="overflow:auto; margin-top:6px; padding:3px;">
					<div id="date-submit" style="float:right;" class="cly-button-dark">Apply</div>
				</div>
			</div>
			<div class="button" id="month">2012</div>
			<div class="button" id="hour">Today</div>
			<div class="button" id="7days">7 days</div>
			<div class="button" id="30days">30 days</div>
			<div class="button" id="60days">60 days</div>
			<div class="button" id="90days">90 days</div>
		</div>
	</script>
	
	<script id="template-app-categories" type="text/x-handlebars-template">
		<div data-value="1" class="item">Books</div>
		<div data-value="2" class="item">Business</div>
		<div data-value="3" class="item">Education</div>
		<div data-value="4" class="item">Entertainment</div>
		<div data-value="5" class="item">Finance</div>
		<div data-value="6" class="item">Games</div>
		<div data-value="7" class="item">Health &amp; Fitness</div>
		<div data-value="8" class="item">Lifestyle</div>
		<div data-value="9" class="item">Medical</div>
		<div data-value="10" class="item">Music</div>
		<div data-value="11" class="item">Navigation</div>
		<div data-value="12" class="item">News</div>
		<div data-value="13" class="item">Photography</div>
		<div data-value="14" class="item">Productivity</div>
		<div data-value="15" class="item">Reference</div>
		<div data-value="16" class="item">Social Networking</div>
		<div data-value="17" class="item">Sports</div>
		<div data-value="18" class="item">Travel</div>
		<div data-value="19" class="item">Utilities</div>
		<div data-value="20" class="item">Weather</div>
	</script>
	
	<script id="template-analytics-common"  type="text/x-handlebars-template">
		<div class="widget">
			<div class="widget-header">
				<div class="left">
					<div class="logo {{logo-class}}"></div>
					<div class="title">{{page-title}}</div>
				</div>
				{{> date-selector }}
			</div>
			<div class="widget-content" style="height:300px; padding-top:20px; padding-bottom:10px;">
				<div id="dashboard-graph" class="graph" style="height:100%; margin-left:-10px;"></div>
			</div>
			{{#if big-numbers}}
			<div class="widget-footer" style="background-color:#EEEEEE;">
				<div id="big-numbers-container">
					{{#each big-numbers.items}}
					<div class="big-numbers three-column">
						<div class="inner">
							<div class="select">{{this.title}}</div>
							<div class="color"></div>
							<div class="number">{{getFormattedNumber this.total}}</div>
							<div class="trend" style="background-image:url('/images/dashboard/{{this.trend}}trend.png');"></div>
						</div>
					</div>
					{{/each}}
				</div>
			</div>
			{{/if}}
		</div>
		<table class="d-table sortable" cellpadding="0" cellspacing="0">
			<thead>
			<tr>
				{{#eachOfArray chart-data.columns}}
				<th style="width:25%">{{value}}</th>
				{{/eachOfArray}}
			</tr>
			</thead>
			<tbody>
				{{#if chart-data.rows}}
				{{#each chart-data.rows}}
				<tr>
					{{#eachOfObject this}}
						<td>{{getFormattedNumber value}}</td>
					{{/eachOfObject }}
				</tr>
				{{/each}}
				{{else}}
				<tr>
					<td colspan="{{chart-data.columnCount}}" class="table-no-data">No data</td>
				</tr>
				{{/if}}
			</tbody>
		</table>
	</script>
	
	<script id="template-analytics-carriers"  type="text/x-handlebars-template">
		<div class="widget">
			<div class="widget-header">
				<div class="left">
					<div class="logo {{logo-class}}"></div>
					<div class="title">{{page-title}}</div>
				</div>
				{{> date-selector }}
			</div>
			<div class="widget-content" style="overflow:hidden;">
				<div style="float:left; width:50%; position:relative;">
					<div style="border-right:1px solid #CCC;">
						<div style="position:absolute; z-index:2; width:248px; height:248px; left:50%; margin-left:-119px; top:56px; background-image:url('/images/dashboard/total-user.png'); background-position:center; background-repeat:no-repeat;"> </div>
						<div id="dashboard-graph" class="graph" style="width:500px; margin:0 auto; height:360px; font-family:'Ubuntu';"></div>	
					</div>
				</div>
				<div style="float:left; width:50%; position:relative;">
					<div style="position:absolute; z-index:2; width:248px; height:248px; left:50%; margin-left:-119px; top:56px; background-image:url('/images/dashboard/new-users.png'); background-position:center; background-repeat:no-repeat;"> </div>
					<div id="dashboard-graph2" class="graph" style="width:500px; margin:0 auto; height:360px; font-family:'Ubuntu';"></div>
				</div>
			</div>
		</div>
		<table class="d-table sortable" cellpadding="0" cellspacing="0">
			<thead>
			<tr>
				{{#eachOfArray chart-data.columns}}
				<th style="width:25%">{{value}}</th>
				{{/eachOfArray}}
			</tr>
			</thead>
			<tbody>
				{{#if chart-data.rows}}
				{{#each chart-data.rows}}
				<tr>
					{{#eachOfObject this}}
						<td>{{value}}</td>
					{{/eachOfObject }}
				</tr>
				{{/each}}
				{{else}}
				<tr>
					<td colspan="{{chart-data.columnCount}}" class="table-no-data">No data</td>
				</tr>
				{{/if}}
			</tbody>
		</table>
	</script>
	
	<script id="template-analytics-countries"  type="text/x-handlebars-template">
		<div class="widget">
			<div class="widget-header">
				<div class="left">
					<div class="logo {{logo-class}}"></div>
					<div class="title">{{page-title}}</div>
				</div>
				{{> date-selector }}
			</div>
			<div class="widget-content" style="height:495px; background-color:#FFF;">
				<div id="geo-chart-outer"><div id="geo-chart" style="margin:0 auto; padding:20px;"></div></div>
			</div>
			<div class="widget-footer" style="background-color:#EEEEEE;">
				<div id="big-numbers-container">
					{{#each big-numbers.items}}
					<div class="big-numbers three-column">
						<div class="inner">
							<div class="select">{{this.title}}</div>
							<div class="number" style="margin-top: 10px;">{{getFormattedNumber this.total}}</div>
							<div class="trend" style="background-image:url('/images/dashboard/{{this.trend}}trend.png');"></div>
						</div>
					</div>
					{{/each}}
				</div>
			</div>
		</div>
		<table class="d-table sortable" cellpadding="0" cellspacing="0">
			<thead>
			<tr>
				{{#eachOfArray chart-data.columns}}
				<th style="width:25%">{{value}}</th>
				{{/eachOfArray}}
			</tr>
			</thead>
			<tbody>
				{{#if chart-data.rows}}
				{{#each chart-data.rows}}
				<tr>
					<td>
						<div class="flag" style="background-image:url('/images/flags/{{this.code}}.png');"></div>
						{{this.country}}
					</td>
					<td>{{getFormattedNumber this.t}}</td>
					<td>{{getFormattedNumber this.u}}</td>
					<td>{{getFormattedNumber this.n}}</td>
				</tr>
				{{/each}}
				{{else}}
				<tr>
					<td colspan="{{chart-data.columnCount}}" class="table-no-data">No data</td>
				</tr>
				{{/if}}
			</tbody>
		</table>
	</script>
	
	<script id="dashboard-template" type="text/x-handlebars-template">
		<div class="widget">
			<div class="widget-header">
				<div class="title" style="letter-spacing:-1px; font-size:19px; margin-top:10px; margin-left:5px;">{{toUpperCase page-title}}</div>
				{{> date-selector }}
			</div>
			<div class="widget-content" style="border:none;">				
				<div id="big-numbers-container" class="dashboard">
					<div class="big-numbers six-column">
						<div class="inner">
							<div class="logo one"></div>
							<div class="number">{{getShortNumber usage.total-sessions.total}}</div>
							<div class="trend" style="background-image:url('/images/dashboard/{{usage.total-sessions.trend}}trend.png');">
								<div class="change">{{usage.total-sessions.change}}</div>
							</div>
							<div class="spark"><span class="{{usage.total-sessions.trend}}sparkline">{{usage.total-sessions.sparkline}}</span></div>
							<div class="select" id="draw-total-sessions">TOTAL SESSIONS</div>
							<div class="arrow"></div>
						</div>
					</div>
					<div class="big-numbers six-column">
						<div class="inner">
							<div class="logo two"></div>
							<div class="number">{{getShortNumber usage.total-users.total}}</div>
							<div class="trend" style="background-image:url('/images/dashboard/{{usage.total-users.trend}}trend.png');">
								<div class="change">{{usage.total-users.change}}</div>
							</div>
							<div class="spark"><span class="{{usage.total-users.trend}}sparkline">{{usage.total-users.sparkline}}</span></div>
							<div class="select" id="draw-total-users">TOTAL USERS</div>
							<div class="arrow"></div>
						</div>
					</div>
					<div class="big-numbers six-column">
						<div class="inner">
							<div class="logo three"></div>
							<div class="number">{{getShortNumber usage.new-users.total}}</div>
							<div class="trend" style="background-image:url('/images/dashboard/{{usage.new-users.trend}}trend.png');">
								<div class="change">{{usage.new-users.change}}</div>
							</div>
							<div class="spark"><span class="{{usage.new-users.trend}}sparkline">{{usage.new-users.sparkline}}</span></div>
							<div class="select" id="draw-new-users">NEW USERS</div>
							<div class="arrow"></div>
						</div>
					</div>
					<div class="big-numbers six-column">
						<div class="inner">
							<div class="logo six"></div>
							<div class="number">{{usage.avg-duration-per-session.total}}</div>
							<div class="trend" style="background-image:url('/images/dashboard/{{usage.avg-duration-per-session.trend}}trend.png');">
								<div class="change">{{usage.avg-duration-per-session.change}}</div>
							</div>
							<div class="spark"><span class="{{usage.avg-duration-per-session.trend}}sparkline">{{usage.avg-duration-per-session.sparkline}}</span></div>
							<div class="select" id="draw-time-spent">AVG. TIME SPENT</div>
							<div class="arrow"></div>
						</div>
					</div>
					<div class="big-numbers six-column">
						<div class="inner">
							<div class="logo four"></div>
							<div class="number">{{getShortNumber usage.events.total}}</div>
							<div class="trend" style="background-image:url('/images/dashboard/{{usage.events.trend}}trend.png');">
								<div class="change">{{usage.events.change}}</div>
							</div>
							<div class="spark"><span class="{{usage.events.trend}}sparkline">{{usage.events.sparkline}}</span></div>
							<div class="select" id="draw-events-served">EVENTS SERVED</div>
							<div class="arrow"></div>
						</div>
					</div>
					<div class="big-numbers six-column">
						<div class="inner">
							<div class="logo five"></div>
							<div class="number">{{getShortNumber usage.avg-events.total}}</div>
							<div class="trend" style="background-image:url('/images/dashboard/{{usage.avg-events.trend}}trend.png');">
								<div class="change">{{usage.avg-events.change}}</div>
							</div>
							<div class="spark"><span class="{{usage.avg-events.trend}}sparkline">{{usage.avg-events.sparkline}} </span></div>
							<div class="select" id="draw-avg-events-served">AVG. EVENTS SERVED</div>
							<div class="arrow"></div>
						</div>
					</div>
				</div>
			</div>
			<div class="widget-footer" style="height:220px; padding-top:20px; padding-bottom:10px; overflow:visible; box-shadow:none;">
				<div id="dashboard-graph" class="graph" style="height:100%; margin-left:-10px;"></div>
			</div>
		</div>
		<div class="dashboard-summary">
			<div class="item">
				<div class="inner">
					<div class="title">TOP PLATFORM</div>
					{{#if bars.platforms}}
					<div class="bar">
						{{#each bars.platforms}}
							<div class="bar-inner" style="width:{{this.percent}}%;" data-item="{{this.name}}"></div>
						{{/each}}
					</div>
					<div class="number" data-item="{{bars.platforms.0.name}}">{{bars.platforms.0.name}}</div>
					{{else}}
					<div class="no-data">NO DATA</div>
					{{/if}}
				</div>
			</div>
			<div class="item">
				<div class="inner">
					<div class="title">TOP RESOLUTION</div>
					{{#if bars.resolutions}}
					<div class="bar">
						{{#each bars.resolutions}}
							<div class="bar-inner" style="width:{{this.percent}}%;" data-item="{{this.name}}"></div>
						{{/each}}
					</div>
					<div class="number" data-item="{{bars.resolutions.0.name}}">{{bars.resolutions.0.name}}</div>
					{{else}}
					<div class="no-data">NO DATA</div>
					{{/if}}
				</div>
			</div>
			<div class="item">
				<div class="inner">
					<div class="title">TOP CARRIER</div>
					{{#if bars.carriers}}
					<div class="bar">
						{{#each bars.carriers}}
							<div class="bar-inner" style="width:{{this.percent}}%;" data-item="{{this.name}}"></div>
						{{/each}}
					</div>
					<div class="number" data-item="{{bars.carriers.0.name}}">{{bars.carriers.0.name}}</div>
					{{else}}
					<div class="no-data">NO DATA</div>
					{{/if}}
				</div>
			</div>
			<div class="item">
				<div class="inner">
					<div class="title">TOP USERS</div>
					{{#if bars.users}}
					<div class="bar">
						{{#each bars.users}}
							<div class="bar-inner" style="width:{{this.percent}}%;" data-item="{{this.name}}"></div>
						{{/each}}
					</div>
					<div class="number" data-item="{{bars.users.0.name}}">{{bars.users.0.name}}</div>
					{{else}}
					<div class="no-data">NO DATA</div>
					{{/if}}
				</div>
			</div> 
		</div>
		<!--
		<div class="widget" style="width:28%; float:left; box-shadow:none;">
			<div class="widget-header">
				<div class="left">
					<div class="title">Key Events</div>
				</div>
			</div>
			<div>
				<table class="d-table" cellpadding="0" cellspacing="0" style="border-top-right-radius:0px; border-top-left-radius:0px;">
					<tbody id="key-events">
						<tr>
							<td class="table-no-data">No data</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
		-->
		<div class="widget map-list" style="float:right; width:100%;">
			{{#if country-data}}
			<div id="map-list-right" style="max-height:236px; overflow:hidden;">
				<div>
					{{#each country-data}}
					<div class="map-list-item">
						<div class="flag" style="background-image:url('/images/flags/{{this.code}}.png');"></div>
						<div class="country-name">{{this.country}}</div>
						<div class="total">{{getShortNumber this.t}}</div>
					</div>
					{{/each}}
				</div>
			</div>
			{{/if}}
			<div id="geo-chart-outer" style="padding-bottom: 8px;"><div id="geo-chart" {{#if country-data}}style="margin-right:240px;"{{/if}}></div></div>
		</div>
	</script>
	
	<script id="template-management-applications" type="text/x-handlebars-template">
		<% if(member['global_admin'] || adminOfApps.length) { %>
		<div id="app-management-bar">
			<div id="app-nav-head">
				APPS
				<% if(member['global_admin']) { %>
				<div style="float:right; overflow:hidden; margin-top:-2px;">
					<div class="icon-button dark" id="add-app-button">
						<div class="icon" style="background-image:url('/images/management/add.png'); width:17px; height:18px;"></div>
						<div class="text">Add</div>
					</div>
				</div>
				<% } %>
			</div>
			<div class="scrollable">
				{{#eachOfObjectValue admin_apps}}
				<div class="app-container" data-key="{{this.key}}" data-id="{{this._id}}">
					<div class="logo" style="background-image: url('/appimages/{{this._id}}.png');"></div>
					<div class="name">{{this.name}}</div>
				</div>
				{{/eachOfObjectValue}}
			</div>
			<% if(member['global_admin']) { %>
			<div id="manage-new-app">
				<div class="app-container">
					<div class="logo"></div>
					<div class="name">My new app</div>
				</div>
			</div>
			<% } %>
		</div>
		<% } %>
		<div class="widget" style="margin-left:187px;">
			<% if(member['global_admin']) { %>
			<div id="add-new-app">
				<div class="widget-header">
					<div class="left">
						<div class="title new-app-name">My new app</div>
					</div>
				</div>
				<div>
					<table class="d-table horizontal" cellpadding="0" cellspacing="0">
						<tbody>
							<tr>
								<td>Application Name</td>
								<td>
									<input type='text' value='' placeholder='Enter application name...' id="app-add-name">
								</td>
							</tr>
							<tr>
								<td>Category</td>
								<td>
									<div class="cly-select" style="width:280px;">
										<div class="select-inner">
											<div class="text-container">
												<div class="text" id="app-add-category">Select a category</div>
											</div>	
											<div class="right combo"></div>
										</div>
										<div class="select-items square" style="width:280px;">
											<div class="scrollable">
												{{> app-categories }}
											</div>
										</div>
									</div>
								</td>
							</tr>
							<tr>
								<td>Time Zone</td>
								<td id="app-add-timezone" >
									<div style="float:left;">
										<div id="country-select" class="cly-select" style="width:280px;">
											<div class="select-inner">
												<div class="text-container">	
													<div class="text">Select a country</div>
												</div>
												<div class="right combo"></div>
											</div>
											<div class="select-items square" style="width:280px;">
												<div id="country-items" class="scrollable">
					
												</div>
											</div>
										</div>
										<div id="timezone-select" class="cly-select" style="width:200px; display:none;">
											<div class="select-inner">
												<div class="text-container">	
													<div class="text"></div>
												</div>
												<div class="right combo"></div>
											</div>
											<div class="select-items square" style="width:200px;">
												<div id="timezone-items" class="scrollable">
					
												</div>
											</div>
										</div>
									</div>
									<div id="selected" style="float:left; font-size:14px; padding:5px 10px; padding-top:6px; color:#666; font-family:'Ubuntu';"></div>
									<input type="hidden" value="" id="app-timezone"/>
									<input type="hidden" value="" id="app-country"/>
								</td>
							</tr>
							<tr>
								<td>Icon</td>
								<td>
									<form action="/apps/icon" enctype="multipart/form-data" id="add-app-image-form" method="post">
										<input type="file" id="app_image" name="app_image" />
										<input type="hidden" id="app_image_id" name="app_image_id" />
									</form>
								</td>
							</tr>
							<tr class="table-add">
								<td colspan="2">
									<a id="save-app-add" class="icon-button light">Add Application</a>
									<a id="cancel-app-add" class="icon-button light">Cancel</a>
								</td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
			<% } %>
			<% if(!member['global_admin'] && adminOfApps.length == 0) { %>
			<div class="user-noapps">Oops... There are no apps to view on this dashboard right now. You will have to wait until a global administrator creates an app...</div>
			<% } %>
			<div id="view-app">
				<div class="widget-header">
					<div class="left">
						<div class="title"></div>
					</div>
					<div style="float:right; overflow:hidden; margin-top:6px;">
						<% if(member['global_admin']) { %>
						<div class="icon-button delete-app" id="delete-app">
							<div class="icon" style="width:0px; height:19px; margin-right:0px;"></div>
							<div class="text">Delete</div>
						</div>
						<% } %>
						<div class="icon-button light" id="edit-app">
							<div class="icon" style="background-image:url('/images/management/edit.png'); width:22px; height:19px;"></div>
							<div class="text">Edit</div>
						</div>
					</div>
				</div>
				<div class="app-details">
					<input type="hidden" id="app-edit-id"/>
					<table class="d-table horizontal" cellpadding="0" cellspacing="0">
						<tbody>
							<tr>
								<td>Application Name</td>
								<td id="app-edit-name">
									<div class="read"></div>
									<div class="edit">
										<input type='text' value=''>
									</div>
								</td>
							</tr>
							<tr>
								<td>Category</td>
								<td id="app-edit-category">
									<div class="read"></div>
									<div class="edit">
										<div class="cly-select">
											<div class="select-inner">
												<div class="text-container">
													<div class="text"></div>
												</div>	
												<div class="right combo"></div>
											</div>
											<div class="select-items square">
												<div class="scrollable">
													{{> app-categories }}
												</div>
											</div>
										</div>
									</div>
								</td>
							</tr>
							<tr>
								<td>App Key</td>
								<td id="view-app-key"></td>
							</tr>
							<tr>
								<td>Time Zone</td>
								<td id="app-edit-timezone">
									<div class="read">
											<div class='flag'></div>
											<div class='country'></div>
											<div class='timezone'></div>
									</div>
									<div class="edit">
										<div style="float:left;">
											<div id="country-select" class="cly-select" style="width:280px;">
												<div class="select-inner">
													<div class="text-container">	
														<div class="text">Select a country</div>
													</div>
													<div class="right combo"></div>
												</div>
												<div class="select-items square" style="width:280px;">
													<div id="country-items" class="scrollable">
					
													</div>
												</div>
											</div>
											<div id="timezone-select" class="cly-select" style="width:200px; display:none;">
												<div class="select-inner">
													<div class="text-container">	
														<div class="text"></div>
													</div>
													<div class="right combo"></div>
												</div>
												<div class="select-items square" style="width:200px;">
													<div id="timezone-items" class="scrollable">
					
													</div>
												</div>
											</div>
										</div>
										<div id="selected" style="float:left; font-size:14px; padding:5px 10px; padding-top:6px; color:#666; font-family:'Ubuntu';"></div>
										<input type="hidden" value="" id="app-timezone"/>
										<input type="hidden" value="" id="app-country"/>
									</div>
								</td>
							</tr>
							<tr class="table-edit-prev">
								<td>Icon</td>
								<td id="app-edit-image">
									<div class="read">
										<div class="logo"></div>
									</div>
									<div class="edit">
										<form action="/apps/icon" enctype="multipart/form-data" id="add-edit-image-form" method="post">
											<input type="file" id="app_image" name="app_image" />
											<input type="hidden" id="app_image_id" name="app_image_id" />
										</form>
									</div>
								</td>
							</tr>
							<tr class="table-edit">
								<td colspan="2">
									<a id="save-app-edit" class="icon-button light">Save Changes</a>
									<a id="cancel-app-edit" class="icon-button light">Cancel</a>
								</td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
			</div>
			<% if(member['global_admin']) { %>
			<div id="no-app-warning" style="display:none; margin-left:187px;" class="alert danger">In order to start collecting data you need to add an application to your account.</div>
			<div id="first-app-success" style="display:none; margin-left:187px;" class="alert success">Great! You can now embed our Android or iOS SDK into your application and start viewing your stats instantly. Don't forget to get your App Key from above.</div>
			<% } %>
		</div>
	</script>
	
	<script language="javascript" type='text/javascript' src='https://www.google.com/jsapi'></script>
	<!--
	<script language="javascript" type="text/javascript" src="/javascripts/countly.js"></script>
	-->
	<script language="javascript" type="text/javascript" src="/javascripts/jquery-1.7.1.min.js"></script>
	<script language="javascript" type="text/javascript" src="/javascripts/jquery.form.js"></script>
	<script language="javascript" type="text/javascript" src="/javascripts/tipsy/jquery.tipsy.js"></script>
	<script language="javascript" type="text/javascript" src="/javascripts/jquery.noisy.min.js"></script>
	<script language="javascript" type="text/javascript" src="/javascripts/jquery.idle-timer.js"></script>
	<script language="javascript" type="text/javascript" src="/javascripts/jquery.tablesorter.min.js"></script>
	<script language="javascript" type="text/javascript" src="/javascripts/jquery.stickytableheaders.js"></script>
	<script language="javascript" type="text/javascript" src="/javascripts/jquery-ui-1.8.18.custom.min.js"></script>
	<script language="javascript" type="text/javascript" src="/javascripts/slimScroll.min.js"></script>
	<script language="javascript" type="text/javascript" src="/javascripts/jquery.easing.1.3.js"></script>
	<script language="javascript" type="text/javascript" src="/javascripts/prefixfree.min.js"></script>
	<script language="javascript" type="text/javascript" src="/javascripts/flot/jquery.flot.js"></script>
	<script language="javascript" type="text/javascript" src="/javascripts/flot/jquery.flot.selection.js"></script>
	<script language="javascript" type="text/javascript" src="/javascripts/flot/jquery.flot.pie.min.js"></script>
	<script language="javascript" type="text/javascript" src="/javascripts/flot/jquery.flot.resize.js"></script>
	<script language="javascript" type="text/javascript" src="/javascripts/flot/jquery.flot.stack.js"></script>
	<script language="javascript" type="text/javascript" src="/javascripts/moment.min.js"></script>
	<script language="javascript" type="text/javascript" src="/javascripts/jquery.peity.min.js"></script>
	<script language="javascript" type="text/javascript" src="/javascripts/handlebars.js"></script>
	<script language="javascript" type="text/javascript" src="/javascripts/underscore-min.js"></script>
	<script language="javascript" type="text/javascript" src="/javascripts/backbone-min.js"></script>
	<script language="javascript" type="text/javascript" src="/javascripts/countly/countly.common.js"></script>
	<script language="javascript" type="text/javascript" src="/javascripts/countly/countly.config.js"></script>
	<script language="javascript" type="text/javascript" src="/javascripts/countly/countly.session.js"></script>
	<script language="javascript" type="text/javascript" src="/javascripts/countly/countly.location.js"></script>
	<script language="javascript" type="text/javascript" src="/javascripts/countly/countly.user.js"></script>
	<script language="javascript" type="text/javascript" src="/javascripts/countly/countly.device.js"></script>
	<script language="javascript" type="text/javascript" src="/javascripts/countly/countly.device.detail.js"></script>
	<script language="javascript" type="text/javascript" src="/javascripts/countly/countly.carrier.js"></script>
	<script language="javascript" type="text/javascript" src="/javascripts/countly/countly.template.js"></script>
</body>
</html>
