<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<!--
   ______                  __  __
  / ____/___  __  ______  / /_/ /_  __
 / /   / __ \/ / / / __ \/ __/ / / / /
/ /___/ /_/ / /_/ / / / / /_/ / /_/ /
\____/\____/\__,_/_/ /_/\__/_/\__, /
              http://count.ly/____/
-->
<html>
<head>
    <meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate" />
    <meta http-equiv="Pragma" content="no-cache" />
    <meta http-equiv="Expires" content="0" />
    <meta name="referrer" content="no-referrer">
	<link href='stylesheets/pre-login/main.css' rel='stylesheet' type='text/css'>
	<link rel="stylesheet" href="stylesheets/vue/clyvue.css" type='text/css'>
	<link rel="icon" type="image/png" href="<%- countlyFavicon %>">
    <% if (themeFiles && themeFiles.css) { %>
        <% for(var i=0, l=themeFiles.css.length; i<l; i++) {%>
    <link href='<%= themeFiles.css[i]%>' rel='stylesheet' type='text/css'>
        <% } %>
    <% } %>
	<title><%- countlyTitle %></title>
	<script>window.countlyGlobal = window.countlyGlobal || {}; countlyGlobal["cdn"] = "<%- cdn %>";</script>
    <% if (typeof inject_template.css != 'undefined') { %>
	<style><%- inject_template.css %></style>
	<% } %>
</head>
<body>
	<div class="wrapper">
		<div id="top-container">
			<div class="top-button" id="select-lang">
				<div id="active-lang">EN</div>
				<div id="langs">
					<div class="group">
						<% for(var i=0, l=(languages.length/2); i<l; i++) {%>
						<a data-language-code="<%=languages[i].code%>" class="item"><%=languages[i].name%></a>
				<% } %>
					</div>
					<div class="group">
						<% for(var i=(parseInt(languages.length/2) + 1), l=languages.length; i<l; i++) {%>
						<a data-language-code="<%=languages[i].code%>" class="item"><%=languages[i].name%></a>
				<% } %>
					</div>
				</div>
			</div>
			<div id="login-logo"></div>
		</div>
		<div class="cly-vue-notification__alert-box cly-vue-notification__alert-box__alert-text--light-destructive" style="display: none; min-width: 300px; max-width: fit-content; margin:auto;">
			<div style="display: flex;justify-content: space-between; margin:8px; overflow: hidden;">
				<div style="display: flex;">
					<img src="images/icons/notification-toast-destructive.svg" class="cly-vue-notification__alert-box-alert-image"/>
					<span style="margin-block: auto; margin-left: 16px; white-space:nowrap" id ="message">
					</span>
				</div>
			</div>
		</div>
		<img src="/images/icons/checked.svg" style="margin:auto;display:none;" id="checked"/>
		<h1 style="font-weight: 500; text-align: center; line-height: 48px;" id="header" data-localize="login.forgot"></h1>
		<div style="height: 40px; font-size: 14px; color: #333C48; text-align: center; width: 332px; margin: 0 auto 16px; line-height: 21px;" id="headerExp" data-localize="forgot.explanation"></div>
		<div id="forgot-form" style="width:304px; margin:auto;">
			<div>
				<form method="POST" id="remember-password-form">
					<div>
						<p style="float:left;color: #333C48;font-weight: 500;margin-bottom:8px" data-localize="login.email-adress"></p>
						<input id="remember-password-email" autocapitalize="off" type="text" name="email" placeholder="Email" data-localize="placeholder.email" oninput="this.value = this.value.toLowerCase();"/>
					</div>
					<% if (typeof inject_template.form != "undefined") { %>
						<%- inject_template.form %>
					<% } %>
					<div>
						<input type="hidden" value="<%= csrf %>" name="_csrf" />
						<input type="hidden" value="en" name="lang" id="form-lang" />
						<input id="login-button" value="Send" type="submit" data-localize="forgot.button"/>
					</div>
				</form>
			</div>
			<% if (typeof inject_template.html != "undefined") { %>
				<%- inject_template.html %>
			<% } %>
			<div class="back-button">
				<a href="./login">Back to Login</a>
			</div>
			<div style="height: 100px;"></div>
		</div>
		<div class="footer">
			<div>
				<p style="margin: 0px;">© <%= new Date().getFullYear() %> <%- countlyTitle %></p>
				<div style="margin: 0px; color: #0166D6;">
					<% if (countlyPage) { %> <a href="<%- countlyPage %>"> <%- countlyTitle %> </a> <% }%>
                    <% if (featureRequestLink) { %> <a href="<%- featureRequestLink %>" data-localize="login.terms"></a> <% }%>
                    <% if (feedbackLink) { %> <a href="<%- feedbackLink %>" data-localize="login.privacy"></a> <% }%>
                    <% if (documentationLink) { %> <a href="<%- documentationLink %>" data-localize="login.documentation"></a> <% }%>
                    <% if (helpCenterLink) { %> <a href="<%- helpCenterLink %>" data-localize="login.help-center"></a> <% }%>
				</div>
			</div>
		</div>
	</div>	
	<script language="javascript" type="text/javascript" src="javascripts/dom/jquery/jquery.js"></script>
	<script language="javascript" type="text/javascript" src="javascripts/utils/prefixfree.min.js"></script>
	<script language="javascript" type="text/javascript" src="javascripts/utils/store+json2.min.js"></script>
	<script language="javascript" type="text/javascript" src="javascripts/utils/jquery.i18n.properties-min-1.0.9.js"></script>
	<script language="javascript" type="text/javascript" src="javascripts/utils/jquery.xss.js"></script>
	<script language="javascript" type="text/javascript" src="javascripts/countly/countly.helpers.js"></script>
	<script language="javascript" type="text/javascript" src="javascripts/pre-login.js"></script>
	<script>
        var countlyTitle = "<%- countlyTitle %>";
		$(document).ready(function() {
			<% if (message && message.length >0 ){ %>
				$('.cly-vue-notification__alert-box').show();
				showMessage("<%= message %>");
			<% } 
			else{ %>
				$(".cly-vue-notification__alert-box").css('display','none');
				$('#header').css("margin-top","72px");
			<% } %>
			if (jQuery.i18n.map["forgot.title"]) {
                document.title = countlyTitle + " | " + jQuery.i18n.map["forgot.title"];
			}
			
			$('#remember-password-form').on('submit', function(e) {
				e.preventDefault();
				
				if (CountlyHelpers.validateEmail($('#remember-password-email').val())) {
					$.ajax({
						url: './forgot',
						type: 'POST',
						data: {
							email: $('#remember-password-email').val(),
							_csrf: '<%= csrf %>'
						},
						success: function(res) {
							if (res === 'invalid_email_format') {
								$("#message").html($.i18n.map['forgot.invalid-email']);
							}
							else {
								$('#message').html($.i18n.map['forgot.result']);
								var prepareEmail = $('#remember-password-email').val();
								prepareEmail = prepareEmail.replace(/(\w{1})[\w.-]+@([\w.]+\w)/, "$1***@$2");
								var emailmessage = $.i18n.prop("forgot.sent-email",prepareEmail);
								$('.cly-vue-notification__alert-box').hide();
								$("#forgot-form").hide();
								$('#checked').css('display','flex');
								$('#header').css("margin-top","24px");
								$("#header").html($.i18n.map['forgot.sent-email-title']);
								$("#headerExp").css("width", "422px");
								$("#headerExp").text(emailmessage);
								$("#headerExp").append('<div style="margin:auto;width:300px"><a href="./login"><div id="login-button" class="back-to-login">Back to Login</div></a></div>');
							}
						},
						error: function() {
							$('#message').html($.i18n.map['forgot.error']);
						}
					})
				} else {
					$('.cly-vue-notification__alert-box').show();
					$('#header').css("margin-top","18px");
					$("#message").html($.i18n.map['forgot.invalid-email']);
				}
			});
		});
		$(document).ready(function() {
			$("*").click(function(event){
				if ($(".top-button").hasClass("active") && !$(event.target).is(".top-button") && !$(event.target).is("#active-lang")) {
					$('.top-button').removeClass('active');
				}
			});
		});
		$(document).ready(function() {
			$("*").click(function(event){
				if ($(event.target).is(".top-button") || $(event.target).is("#active-lang") && $(".top-button").hasClass("active")) {
					$('#active-lang').css('border','1px solid #81868D');
				}
				else{
					$('#active-lang').css('border','');
				}
			});
		});
		$(document).bind('clyLangChange', function() {
			if (jQuery.i18n.map["forgot.title"]) {
                document.title = countlyTitle + " | " + jQuery.i18n.map["forgot.title"];
            }
		});
	</script>
	<% if (typeof inject_template.js != 'undefined') { %>
	<script><%- inject_template.js %></script>
	<% } %>
    <% if (themeFiles && themeFiles.js) { %>
        <% for(var i=0, l=themeFiles.js.length; i<l; i++) {%>
    <script language="javascript" type="text/javascript" src="<%=themeFiles.js[i]%>"></script>
        <% } %>
    <% } %>
</body>
</html>