<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<!--
   ______                  __  __
  / ____/___  __  ______  / /_/ /_  __
 / /   / __ \/ / / / __ \/ __/ / / / /
/ /___/ /_/ / /_/ / / / / /_/ / /_/ /
\____/\____/\__,_/_/ /_/\__/_/\__, /
              http://count.ly/____/
-->
<html>
<head>
    <meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate" />
    <meta http-equiv="Pragma" content="no-cache" />
    <meta http-equiv="Expires" content="0" />
    <meta name="referrer" content="no-referrer">
	<link href='stylesheets/pre-login/main.css' rel='stylesheet' type='text/css'>
	<link rel="stylesheet" href="stylesheets/vue/clyvue.css" type='text/css'>
	<link rel="icon" type="image/png" href="<%- countlyFavicon %>">
    <% if (themeFiles && themeFiles.css) { %>
        <% for(var i=0, l=themeFiles.css.length; i<l; i++) {%>
    <link href='<%= themeFiles.css[i]%>' rel='stylesheet' type='text/css'>
        <% } %>
    <% } %>
	<title><%- countlyTitle %></title>
	<script>window.countlyGlobal = window.countlyGlobal || {}; countlyGlobal["cdn"] = "<%- cdn %>";</script>
    <% if (typeof inject_template.css != 'undefined') { %>
	<style><%- inject_template.css %></style>
	<% } %>
</head>
<body>
	<div class="wrapper">
		<div id="top-container">
			<div class="top-button" id="select-lang">
				<div id="active-lang">EN</div>
				<div id="langs">
					<div class="group">
						<% for(var i=0, l=(languages.length/2); i<l; i++) {%>
						<a data-language-code="<%=languages[i].code%>" class="item"><%=languages[i].name%></a>
				<% } %>
					</div>
					<div class="group">
						<% for(var i=(parseInt(languages.length/2) + 1), l=languages.length; i<l; i++) {%>
						<a data-language-code="<%=languages[i].code%>" class="item"><%=languages[i].name%></a>
				<% } %>
					</div>
				</div>
			</div>
			<div id="login-logo"></div>
		</div>
		<% if (message){ %>
			<div class="cly-vue-notification__alert-box" style="display: none; min-width: 300px; max-width: fit-content; margin:auto;">
				<div style="display: flex;justify-content: space-between; margin:8px; overflow: hidden;">
					<div style="display: flex;">
						<img id="notification-image" class="cly-vue-notification__alert-box-alert-image"/>
						<span style="margin-block: auto; margin-left: 16px; white-space:nowrap" id ="message">
						</span>
					</div>
				</div>
			</div>
		<% } %>
		<div id="login-form">
			<div>
				<!--
				Community Edition license doesn't include the right to remove Countly branding.
				If you wish to implement your own branding (e.g. your own logo, colors, etc.), you must license Countly Enterprise Edition.
				-->
				<form method="POST" id="formRegister" style="width:300px; margin:auto;">
					<h1 style="font-weight: 500;" id="header" data-localize="login.form-header">Sign In</h1>
					<div></div>
					<div>
						<p style="float:left;color: #333C48;font-weight: 500;margin-bottom:8px" data-localize="login.email-adress-or-username"></p>
						<input type="text" autocapitalize="off" name="username" placeholder="Enter your username or email" data-localize="placeholder.username-email" autocomplete="<% if(security.autocomplete) {%>on<%} else { %>off<%}%>"/>
						</div>
					<div>
						<div style="display: flex; justify-content: space-between;"><p style="color: #333C48;font-weight: 500;margin-bottom: 8px;" data-localize="login.password"></p><p style="margin-bottom: 8px;"><a id="forgot-password" href="./forgot" data-localize="login.forgot"></a></p></div>
						<input name="password" type="password" placeholder="Enter your password" data-localize="placeholder.password" autocomplete="<% if(security.autocomplete) {%>on<%} else { %>off<%}%>"/>
					</div>
					<% if (typeof inject_template.form != "undefined") { %>
						<%- inject_template.form %>
					<% } %>
					<div>
						<input type="hidden" value="<%= csrf %>" name="_csrf" />
						<input type="hidden" value="en" name="lang" id="form-lang" />
						<input id="login-button" value="Login" type="submit" data-localize="login.button"/>
					</div>
				</form>
			</div>
			<% if (typeof inject_template.html != "undefined") { %>
				<%- inject_template.html %>
			<% } %>
			<div style="height: 100px;"></div>
		</div>
		<div class="footer">
			<div>
				<p style="margin: 0px;">© <%= new Date().getFullYear() %> <%- countlyTitle %></p>
				<div style="margin: 0px; color: #0166D6;">
					<% if (countlyPage) { %> <a href="<%- countlyPage %>"> <%- countlyTitle %> </a> <% }%>
                    <% if (featureRequestLink) { %> <a href="<%- featureRequestLink %>" data-localize="login.terms"></a> <% }%>
                    <% if (feedbackLink) { %> <a href="<%- feedbackLink %>" data-localize="login.privacy"></a> <% }%>
                    <% if (documentationLink) { %> <a href="<%- documentationLink %>" data-localize="login.documentation"></a> <% }%>
                    <% if (helpCenterLink) { %> <a href="<%- helpCenterLink %>" data-localize="login.help-center"></a> <% }%>
				</div>
			</div>
		</div>
	</div>
	<script language="javascript" type="text/javascript" src="javascripts/dom/jquery/jquery.js"></script>
	<script language="javascript" type="text/javascript" src="javascripts/utils/prefixfree.min.js"></script>
	<script language="javascript" type="text/javascript" src="javascripts/utils/store+json2.min.js"></script>
	<script language="javascript" type="text/javascript" src="javascripts/utils/jquery.i18n.properties-min-1.0.9.js"></script>
	<script language="javascript" type="text/javascript" src="javascripts/utils/jquery.xss.js"></script>
	<script language="javascript" type="text/javascript" src="javascripts/pre-login.js"></script>
	<script language="javascript" type="text/javascript" src="javascripts/utils/jquery.validate.min.js"></script>
	<script language="javascript" type="text/javascript" src="javascripts/utils/additional-methods.min.js"></script>
	<script>
        var countlyTitle = "<%- countlyTitle %>";
		var resetResultMessage = "<%= message %>";
		$(document).ready(function() {
			<% if (message && message.length >0){ %>
				$('.cly-vue-notification__alert-box').show();
				$('#header').css("margin-top","18px");
				if (resetResultMessage.indexOf("reset.result") !== -1 && resetResultMessage.length === 12){
					$('.cly-vue-notification__alert-box').addClass('cly-vue-notification__alert-box__alert-text--light-successful');
					$('#notification-image').attr("src", "images/icons/notification-toast-successful.svg")
				}
				else{
					$('.cly-vue-notification__alert-box').addClass('cly-vue-notification__alert-box__alert-text--light-destructive');
					$('#notification-image').attr("src", "images/icons/notification-toast-destructive.svg")
				}
				showMessage(resetResultMessage);
			<% } 
			else{ %>
				$('#header').css("margin-top","72px");
				$(".cly-vue-notification__alert-box").css('display','none');
			<% } %>
            if (jQuery.i18n.map["login.title"]) {
                document.title = countlyTitle + " | " + jQuery.i18n.map["login.title"];
            }
		});
		$(document).bind('clyLangChange', function() {
            if (jQuery.i18n.map["login.title"]) {
                document.title = countlyTitle + " | " + jQuery.i18n.map["login.title"];
            }
		});
		$(document).ready(function() {
			$("*").click(function(event){
				if ($(".top-button").hasClass("active") && !$(event.target).is(".top-button") && !$(event.target).is("#active-lang")) {
					$('.top-button').removeClass('active');
				}
			});
		});
		$(document).ready(function() {
			$("*").click(function(event){
				if ($(event.target).is(".top-button") || $(event.target).is("#active-lang") && $(".top-button").hasClass("active")) {
					$('#active-lang').css('border','1px solid #81868D');
				}
				else{
					$('#active-lang').css('border','');
				}
			});
		});
		$(document).ready(function(){
			$("#formRegister").validate({
				rules: {
					username: {
						required: true,
					}
				},
				messages: {
					username: {
						required: jQuery.i18n.map["login.error-message"]
					}
				}
			});
		});
	</script>
	<% if (typeof inject_template.js != 'undefined') { %>
	<script><%- inject_template.js %></script>
	<% } %>
     <% if (themeFiles && themeFiles.js) { %>
        <% for(var i=0, l=themeFiles.js.length; i<l; i++) {%>
    <script language="javascript" type="text/javascript" src="<%=themeFiles.js[i]%>"></script>
        <% } %>
    <% } %>
</body>
</html>