<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<!--
   ______                  __  __     
  / ____/___  __  ______  / /_/ /_  __
 / /   / __ \/ / / / __ \/ __/ / / / /
/ /___/ /_/ / /_/ / / / / /_/ / /_/ / 
\____/\____/\__,_/_/ /_/\__/_/\__, /  
              http://count.ly/____/   
-->
<html>
<head>
	<link href='http://fonts.googleapis.com/css?family=Ubuntu:400,500&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
	<link href='/stylesheets/pre-login/main.css' rel='stylesheet' type='text/css'>
	<link rel="icon" type="image/png" href="/images/favicon.png">
	<title>Countly</title>
</head>
<body>
	 <% if (message){ %>
		<div id="message"></div>
	 <% } %>
	<a id="home-button" type="button" href="http://count.ly">Countly</a>
	<div id="reset-form">
		<div id="forgot-left">
			<div id="forgot-logo"></div>
		</div>
		<div style="font-size: 18px; color: #eee; margin-bottom: 39px; text-align: center; text-shadow: 0 -1px #000;" data-localize="reset.explanation"></div>
		<div id="create-account">
			<form id="reset-password-form" method="POST" action="/reset">
				<div>
					<input type="password" name="password" placeholder="Password" data-localize="placeholder.password"/>
				</div>
				<div>
					<input type="password" name="again" placeholder="Again" data-localize="placeholder.again"/>
				</div>
				<div>
					<input type="hidden" value="<%= prid %>" name="prid" />
					<input type="hidden" value="<%= csrf %>" name="_csrf" />
					<input id="login-button" value="Reset my password" type="submit" data-localize="reset.button"/>
				</div>
			</form>
		</div>
	</div>
	<script language="javascript" type="text/javascript" src="/javascripts/jquery-1.7.2.min.js"></script>
	<script language="javascript" type="text/javascript" src="/javascripts/prefixfree.min.js"></script>
	<script language="javascript" type="text/javascript" src="/javascripts/jquery.noisy.min.js"></script>
	<script language="javascript" type="text/javascript" src="/javascripts/jquery.i18n.properties-min-1.0.9.js"></script>
	<script language="javascript" type="text/javascript" src="/javascripts/pre-login.js"></script>
	<script>
		$(document).ready(function() {
			<% if (message){ %>
				showMessage("<%= message %>");
			<% } %>
			document.title = "Countly | " + jQuery.i18n.map["forgot.title"];
		});
	</script>
</body>
</html>