<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<!--
   ______                  __  __     
  / ____/___  __  ______  / /_/ /_  __
 / /   / __ \/ / / / __ \/ __/ / / / /
/ /___/ /_/ / /_/ / / / / /_/ / /_/ / 
\____/\____/\__,_/_/ /_/\__/_/\__, /  
              http://count.ly/____/   
-->
<html>
<head>
	<link href='http://fonts.googleapis.com/css?family=Ubuntu:400,500&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
	<style>
	body {padding:20px; background-color:#1A1A1A; font-family: "Ubuntu";}
	input {outline:none;}
	input[type=text], input[type=password] { font-size:20px; box-shadow:inset 0 0px 4px 0 #333, 0 1px 0 0 #555; border-radius:5px; border:1px solid #000; padding:8px; background-color:#E0EDE0; font-family: "Ubuntu"; color:#CCC; width:210px; margin-bottom:5px; } 
	input[type=text]:active, input[type=text]:focus, input[type=password]:active, input[type=password]:focus{ background-color:#FFF; box-shadow:inset 0 2px 2px 0 #BBB, 0 0 20px 0px #000; transition: background-color 1s; outline:none; color:#666; }
	#login-form { width:704px; height:218px; margin-left:-352px; left:50%; top:50%; margin-top:-109px; position:absolute; } 
	#login-left { margin-bottom:28px; }
	#login-button { font-size:16px; font-weight:normal; box-shadow:inset 0 1px 0 0 #AFE7B3; border-radius:5px; border:1px solid #1A691C; padding:12px 26px; padding-top:11px; padding-left:0; background-color:#6BB96E; background-image: url('/images/login/cly_login.png'), linear-gradient(top, #6BB96E 10%, #58985A 100%); background-position:right; background-repeat:no-repeat; font-family: "Ubuntu"; color:#FFF; text-shadow:0 -1px #666; font-weight:400; cursor:pointer; width:227px; margin-top:2px; } 	
	#login-button:hover { background-image:url('/images/login/cly_login.png'), linear-gradient(top, #76CC79 10%, #58985A 100%); }
	#login-button:active { box-shadow:inset 0 0 3px 0 #145016; }
	#home-button{ color: #888; padding: 9px 20px; display: block; text-shadow: 0 -1px #000000; background: linear-gradient(top, #242424 0%, #111111 100%); position:absolute; top:20px; right:20px; border-radius:6px; cursor: pointer; font-size: 15px; box-shadow: inset 0 1px 0 #2e2e2e; border: 1px #080808 solid;}
	#home-button:hover{ background: linear-gradient(top, #1a1a1a 0%, #1b1b1b 100%); }
	#home-button:active{ background: #161616; box-shadow: inset 0 0 2px #010101; }
	#logo {margin:0 auto; width:189px; height:57px; font-size:30px; background-image:url('/images/login/logo.png');}
	a {color:inherit; text-decoration:none;}
	a:visited {color:inherit;}
	a:hover {color:inherit;}
	a:active {color:inherit;}
	#create-account { overflow:auto; }
	#create-account div{ float:left; margin-right:10px;}
	#create-account div:last-child {margin-right:0px;}
	
	#message { position:absolute; top:50px; text-align:center; left:50%; width:400px; margin-left:-200px; font-family:Ubuntu; color:#CCC; font-size:20px; }
	</style>
	<link rel="icon" type="image/png" href="/images/favicon.png">
	<title>Countly | Reset Password</title>
</head>
<body>
	 <% if (message){ %>
		<div id="message"><%= message %></div>
	 <% } %>
	<a id="home-button" type="button" href="http://count.ly">Countly</a>
	<div id="login-form">
		<div id="login-left">
			<div id="logo"></div>
		</div>
		<div style="font-size: 18px; color: #eee; margin-bottom: 39px; text-align: center; text-shadow: 0 -1px #000;">
			Create your new account password below.
		</div>
		<div id="create-account">
			<form id="reset-form" method="POST" action="/reset">
				<div>
					<input type="password" name="password" placeholder="Password"/>
				</div>
				<div>
					<input type="password" name="again" placeholder="Again"/>
				</div>
				<div>
					<input type="hidden" value="<%= prid %>" name="prid" />
					<input type="hidden" value="<%= csrf %>" name="_csrf" />
					<input id="login-button" value="Reset my password" type="submit" />
				</div>
			</form>
		</div>
	</div>
	<script language="javascript" type="text/javascript" src="/javascripts/jquery-1.7.1.min.js"></script>
	<script language="javascript" type="text/javascript" src="/javascripts/prefixfree.min.js"></script>
	<script language="javascript" type="text/javascript" src="/javascripts/jquery.noisy.min.js"></script>
	<script>
	$(document).ready(function(){
		$('body').noisy({
			intensity: 0.9, 
			size: 50, 
			opacity: 0.02,
			monochrome: true
		});
		
		$("#reset-form").submit(function() {
			if ($("input[name=password]").val() != $("input[name=again]").val()) {
				$("body").prepend($("<div>").attr("id", "message").text("Passwords don't match!"));
				return false;
			}
		});
	});
	</script>
</body>
</html>