
.preset-table {

    .el-table {
        background-color: unset;

        &__body {
            border-collapse: separate;
            border-spacing: 0 8px;
        }

        &__row {
            cursor: pointer;
    
            td {
                cursor: pointer;
                height: 56px;
                border-top: 1px solid #ECECEC !important;
                border-bottom: 2px solid #ECECEC !important;
                background-color: #FFF !important;
                padding: 18px 0px;
    
                &:first-child {
                    border-left: 1px solid #ECECEC !important;
                    border-radius: 4px 0 0 4px !important;
                }
    
                &:last-child {
                    border-right: 1px solid #ECECEC !important;
                    border-radius: 0 4px 4px 0 !important;
                }

                .cell {
                    line-height: 20px;
                }

                &.drag-icon  {
                    .cell {
                        text-overflow: unset !important;
                    }
                }
            }
        }

        // tr:hover {
        //     td {
        //         border-top: 1px solid #0166D6 !important;
        //         border-bottom: 2px solid #0166D6 !important;
        //         background-color: #FFF !important;
    
        //         &:first-child {
        //             border-left: 1px solid #0166D6 !important;
        //         }
    
        //         &:last-child {
        //             border-right: 1px solid #0166D6 !important;
        //         }
        //     }
        // }     
        
        // .cly-vue-more-options {
        //     position: absolute;
        //     top: calc(50% - 16px);
        //     right: calc(50% - 20px);

        //     .el-select-dropdown {
        //         //display: block !important;
        //     }
        // }

        .sortable-chosen {
            .cly-vue-more-options {
                display: none !important;
            }
        }

        thead {
            tr {
                background-color: unset !important;
            }
        }

        th {
            background-color: unset !important;
            border: none !important;
            padding: 0 !important;
            color: #81868D !important;
        }

        &__fixed-right::before {
            height: 0 !important;
        }
    }
}

.preset-list {
    
    display: inline-block;
    position: absolute;
    left: 170px;
    border: 1px solid #A7AEB8;
    border-radius: 4px;
    background-color: #FFF;

    &__header {
        z-index: 1997;
        position: relative;
        padding: 8px 16px;
        &::after {
            content: "";
            position: absolute;
            width: 100%;
            height: 16px;
            background: linear-gradient(180deg, #333c48 0%, rgba(51, 60, 72, 0.0001) 100%);
            left: 0;
            opacity: 0.12;
            top: 100%;
        }

        .el-button--primary {
            border: unset;
            font-weight: 500;
            box-shadow: none;
            &:hover {
                background-color: #CCE0F7;
                color: #0166D6;
            }
        }

        .el-button--text {
            font-weight: 500;
            font-size: 14px;
        }
    }

    &__body {
        background-color: #f9f9f9;
        //padding: 16px 16px 0 16px;
        height: 400px;
        border-radius: 4px;

        &::after {
            content: "";
            position: absolute;
            width: 100%;
            height: 16px;
            background: linear-gradient(0deg, #333c48 0%, rgba(51, 60, 72, 0.0001) 100%);
            opacity: 0.12;
            left: 0;
            bottom: 0;
        }

        .preset {
            display: flex;
            flex-direction: column;
            justify-content: center;
            width: 300px;
            background-color: #FFF;
            border: 1px solid #ECECEC;
            border-radius: 4px;
            padding: 12px;
            margin-bottom: 8px;
            cursor: pointer;

            &:first-child {
                margin-top: 16px;
            }

            &:last-child {
                margin-bottom: 16px;
            }
        
            &:hover {
                border: 1px solid #0166D6;
                background-color: #E1EFFF;
            }

            &--selected {
                border: 1px solid #0166D6;
            }
        }
    }

    .sortable-chosen {
        background-color: #E1EFFF !important;
    }

}

#preset-drawer {

    .el-radio__label {
        display: flex;
        align-items: center;
    }

    .el-radio__input {
        display: flex;
    }

    .el-checkbox {
        
        font-weight: 400;

        &__label {
            padding-left: 8px;
            color: #333C48;
        }

        &:hover {
            &__label {
                color: #333C48;
            }
        }
    }
}