# Common Global Sensitive Configuration - applies to all services  

COUNTLY_CONFIG__ENCRYPTION_REPORTS_KEY=PLEASE_UPDATE_THIS_VALUE
COUNTLY_CONFIG__WEB_SESSION_SECRET=PLEASE_UPDATE_THIS_VALUE
COUNTLY_CONFIG__PASSWORDSECRET=PLEASE_UPDATE_THIS_VALUE
