.tipsy { opacity:1 !important; font-size: 11px; position: absolute; padding: 5px; z-index: 100000; font-family:'Ubuntu'; line-height:14px; }
  .tipsy-inner { background-color:rgba(60, 63, 64, 0.86); color: #FFF; max-width: 150px; padding: 5px 8px 4px 8px; text-align: center; }
  .tipsy.yellow  .tipsy-inner{background-color: #F6F792; color:#444; max-width:420px; font-size:14px; line-height:19px; text-align: left;}
  .tipsy.yellow.narrow {max-width:240px;}


  /* Rounded corners */
  .tipsy-inner { border-radius: 2px; -moz-border-radius: 2px; -webkit-border-radius: 2px; }

  /* Uncomment for shadow */
  /*.tipsy-inner { box-shadow: 0 0 5px #000000; -webkit-box-shadow: 0 0 5px #000000; -moz-box-shadow: 0 0 5px #000000; }*/

  .tipsy-arrow { position: absolute; width: 0; height: 0; line-height: 0; border: 5px dashed rgba(60, 63, 64, 0.86); }

  /* Rules to colour arrows */
  .tipsy-arrow-n { border-bottom-color: rgba(60, 63, 64, 0.86); }
  .tipsy-arrow-s { border-top-color: rgba(60, 63, 64, 0.86); }
  .tipsy-arrow-e { border-left-color: rgba(60, 63, 64, 0.86); }
  .tipsy-arrow-w { border-right-color: rgba(60, 63, 64, 0.86); }
  .tipsy.yellow  .tipsy-arrow-n { border-bottom-color: #F6F792;}
  .tipsy.yellow  .tipsy-arrow-s { border-top-color: #F6F792; }
  .tipsy.yellow  .tipsy-arrow-e { border-left-color: #F6F792; }
  .tipsy.yellow  .tipsy-arrow-w { border-right-color: #F6F792; }
  
	.tipsy-n .tipsy-arrow { top: 0px; left: 50%; margin-left: -5px; border-bottom-style: solid; border-top: none; border-left-color: transparent; border-right-color: transparent; }
    .tipsy-nw .tipsy-arrow { top: 0; left: 10px; border-bottom-style: solid; border-top: none; border-left-color: transparent; border-right-color: transparent;}
    .tipsy-ne .tipsy-arrow { top: 0; right: 10px; border-bottom-style: solid; border-top: none;  border-left-color: transparent; border-right-color: transparent;}
  .tipsy-s .tipsy-arrow { bottom: 0; left: 50%; margin-left: -5px; border-top-style: solid; border-bottom: none;  border-left-color: transparent; border-right-color: transparent; }
    .tipsy-sw .tipsy-arrow { bottom: 0; left: 10px; border-top-style: solid; border-bottom: none;  border-left-color: transparent; border-right-color: transparent; }
    .tipsy-se .tipsy-arrow { bottom: 0; right: 10px; border-top-style: solid; border-bottom: none; border-left-color: transparent; border-right-color: transparent; }
  .tipsy-e .tipsy-arrow { right: 0; top: 50%; margin-top: -5px; border-left-style: solid; border-right: none; border-top-color: transparent; border-bottom-color: transparent; }
  .tipsy-w .tipsy-arrow { left: 0; top: 50%; margin-top: -5px; border-right-style: solid; border-left: none; border-top-color: transparent; border-bottom-color: transparent; }
