/*
    This file contains CSS overrides for elements CSS
*/

@use "../base/typography-variables" as t;
@use "../base/colors" as c;
@use "sass:map";

//Element Table overrides
.el-table {

    th {
        padding: 9px 0px;
        box-sizing: border-box;
        text-transform: uppercase;
        font-size: t.$text-sm-size;
        font-style: normal;
        font-weight: 500;
        border-bottom-width: 2px;

        .cell {
            line-height: 16px;
            letter-spacing: 0.5px;
        }

        &:hover {
            .sort-caret.ascending {
                border-bottom-color: #005DEF;
            }

            .sort-caret.descending {
                border-top-color: #005DEF;
            }
        }

        &.is-leaf {
            border-bottom-width: 2px;
        }
    }

    td {
        padding: 14px 0px;
        font-style: normal;
        font-weight: normal;
        font-size: t.$text-md-size;
        box-sizing: border-box;

        .cell {
            line-height: 20px;
        }
    }

    &.el-table--has-options td {
        .cell {
            line-height: 23px;
        }
    }

    th:first-child .cell,
    td:first-child .cell {
        padding-left: 16px;
    }

    th:last-child .cell,
    td:last-child .cell {
        padding-right: 16px;
    }

    .caret-wrapper {
        height: 15px;
    }

    .sort-caret {
        border-width: 4px;
    }

    .sort-caret.ascending {
        top: -2px;
    }

    .sort-caret.descending {
        bottom: -1px;
    }

    .ascending .sort-caret.ascending {
        border-bottom-color: #005DEF;
    }

    .descending .sort-caret.descending {
        border-top-color: #005DEF;
    }

    .cell {
        word-break: normal;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        vertical-align: middle;
    }

    .cell > .el-checkbox,
    .cell > .el-switch,
    .cell > .el-radio {
        overflow: unset;
    }
}

.el-radio {
    &.is-autosized {
        padding: 12px;
        display: flex;
        width: 100%;
        margin-right: 0;
        height: unset;
        background-color: white;
    }
    &.is-autosized.is-bordered + &.is-autosized.is-bordered {
        margin-left: 10px;
    }
    &.is-autosized.is-bordered {
        border-color: #CFD6E4;
    }   
    &.is-autosized-vstack {
        padding: 12px;
        display: flex;
        width: 100%;
        margin-right: 0;
        height: unset;
        background-color: white;
        .el-radio__label {
            justify-content: space-between;
            display: flex;
            width: 100%;
            align-items: baseline;
        }
    }
    &.is-autosized-vstack.is-bordered + &.is-autosized-vstack.is-bordered {
        margin-left: 0;
        margin-top: 7px;
    }
	&.is-bordered {
		border: 1px solid #CFD6E4;
	}
}

.el-collapse {
    &.is-bordered-box {
        border: 1px solid #ECECEC;
        box-sizing: border-box;
        box-shadow: 0px 1px 0px #ECECEC;
        border-radius: 4px;
    
        .el-collapse-item__header {
            border-radius: 4px;
            padding: 0rem 1.5rem 0rem 1.5rem;
            &.is-active {
                border-bottom-color: #ececec;
            }
        }
        .el-collapse-item__wrap {
            background-color: transparent;
        }
        .el-collapse-item__content {
            margin: 0rem 1.5rem 0rem 1.5rem;
        }
    }
}

.el-switch {
	&__label {
		font-weight: normal;
		color: #A7AEB8;
	}
}

.el-input {
    &.is-adaptive {
        .el-input__inner {
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
            padding-right: 10px;
            vertical-align: middle;
        }
    }
}

.el-select .el-input.is-arrow .el-input__inner {
    padding-right: 30px;
}

.el-button {
    &.is-wireframe {
        background: transparent;
        border: 1px dotted #0166D6;
        box-sizing: border-box;
        box-shadow: 0px 2px 4px rgb(1 122 255 / 7%);
    }
    &.el-button--text.is-danger {
        color: #D23F00;
        &:hover {
            background-color: #F6F6F6;
        }
    }
}

.el-button-group  {
    > .el-select {
        float: left;
        &:first-child .el-button {
            border-top-right-radius: 0;
            border-bottom-right-radius: 0;
            -webkit-box-shadow: none;
            box-shadow: none;
        }
        &:not(:last-child) {
            margin-right: -1px;
        }
        &:active, &:focus, &:hover {
            z-index: 1;
            .el-button  {
                z-index: 1;
            }
        }
    }
}