/*
    This file contains CSS overrides for elements CSS
*/

@use "../base/typography-variables" as t;
@use "../base/colors" as c;
@use "sass:map";

//Element Table overrides
.el-table {
    color: c.$table-text-color;
}

.el-table th {
    padding: 10px 0px;
    box-sizing: border-box;
    text-transform: uppercase;
    font-size: t.$text-sm-size;
    font-style: normal;
    font-weight: 500;
    background-color: c.$table-th-bgcolor;
    border-bottom-width: 2px;
    color: map.get(c.$colors, "cool-gray-100");
}

.el-table th .cell {
    line-height: 15px;
    letter-spacing: 0.5px;
}

.el-table td {
    padding: 14px 0px;
    font-style: normal;
    font-weight: normal;
    font-size: t.$text-md-size;
    box-sizing: border-box;
}

.el-table td .cell {
    line-height: 20px;
}

.el-table th:first-child .cell,
.el-table td:first-child .cell {
    padding-left: 23px;
}

.el-table th:last-child .cell,
.el-table td:last-child .cell {
    padding-right: 23px;
}

.el-table .caret-wrapper {
    height: 15px;
}

.el-table .sort-caret {
    border-width: 4px;
}

.el-table .sort-caret.ascending {
    top: -2px;
}

.el-table .sort-caret.descending {
    bottom: -1px;
}

.el-radio {
    &.is-autosized {
        padding: 12px;
        display: flex;
        width: 100%;
        margin-right: 0;
        height: unset;
    }
    .el-radio.is-autosized.is-bordered + .el-radio.is-autosized.is-bordered {
        margin-left: 10px;
    }
}


.el-collapse {
    &.is-bordered-box {
        border: 1px solid #ECECEC;
        box-sizing: border-box;
        box-shadow: 0px 1px 0px #ECECEC;
        border-radius: 4px;
    
        .el-collapse-item__header {
            border-radius: 4px;
            padding: 0rem 1.5rem 0rem 1.5rem;
            &.is-active {
                border-bottom-color: #ececec;
            }
        }
        .el-collapse-item__wrap {
            background-color: transparent;
        }
        .el-collapse-item__content {
            margin: 0rem 1.5rem 0rem 1.5rem;
        }
    }
}

.el-input {
    &.is-adaptive {
        .el-input__inner {
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
            padding-right: 10px;
            vertical-align: middle;
        }
    }
}