<div id="consent" class="centered-content">
    <div class="bu-is-flex bu-is-flex-direction-column bu-is-align-items-center">
        <div class="bu-is-size-4 bu-mb-6">{{ i18n('initial-setup.consent-title') }}</div>
        <cly-form
            :initial-edited-object="newConsent"
            class="consent-form"
            @submit="handleSubmit">
            <template v-slot="formScope">
                <cly-form-step :id="'consent'">
                    <cly-form-field v-for="item in consentItems">
                        <template v-if="item.type !== tracking || !isCountlyHosted">
                            <div class="consent-blurb bu-mb-5">{{ item.description }}</div>
                            <div class="consent-question bu-mb-5">{{ item.question }}</div>
                            <div class="cly-vue-drawer-step__line cly-vue-drawer-step__line--aligned">
                                <el-radio
                                    v-model="formScope.editedObject['countly_' + item.type]"
                                    :label="true"
                                    class="is-autosized"
                                    border>
                                    <div class="text-medium">{{ item.optinText }}</div>
                                </el-radio>
                                <el-radio
                                    v-model="formScope.editedObject['countly_' + item.type]"
                                    :label="false"
                                    class="is-autosized"
                                    border>
                                    <div class="text-medium">{{ item.optoutText }}</div>
                                </el-radio>
                            </div>
                        </template>
                    </cly-form-field>
                </cly-form-step>
                <el-button
                    :disabled="!formScope.isSubmissionAllowed"
                    @click="formScope.submit()"
                    class="bu-is-block bu-mt-5 bu-mx-auto"
                    size="medium"
                    type="success">
                    {{i18n('common.continue')}}
                </el-button>
            </template>
        </cly-form>
    </div>
</div>
