/*
    File : manifest.scss
*/

// All "Global" sass partials
@use "base/typography-variables";
@use "base/element-variables";
@use "base/colors";
@use "base/variables";
@use "base/mixins";
@use "base/icons";
@use "base/base";

// All "Overrides" specific SASS partials
@use "overrides/element-override";
@use "overrides/bulma-overrides";
@use "overrides/vue-json-pretty-override";

// All "Blocks" SASS partials
@use "blocks/content";
@use "blocks/header";
@use "blocks/select";
@use "blocks/dropdown";
@use "blocks/table";
@use "blocks/charts";
@use "blocks/progress";
@use "blocks/nav";
@use "blocks/vis";
@use "blocks/helpers";
@use "blocks/sidebar";
@use "blocks/notification-toasts";

// All "States" specific SASS partials
// Defined at the last to increase specificity

@use "states/state";

// All core "Plugins" views specific SASS partials
@use "../../core/user-activity/stylesheets/main" as user-activity-main-style;
@use "../../core/session-overview/stylesheets/main" as session-overview-main-style;
@use "../../core/session-durations/stylesheets/main" as session-durations-main-style;
@use "../../core/session-frequency/stylesheets/main" as session-frequency-main-style;
@use "../../core/events/stylesheets/main" as events-overview-main-style;
@use "../../core/platform/stylesheets/main" as analytics-platform-main-style;
@use "../../core/app-version/stylesheets/main" as analytics-appversion-main-style;
@use "../../core/app-resolution/stylesheets/main" as analytics-resolution-main-style;
@use "../../core/carrier/stylesheets/main" as analytics-carrier-main-style;
@use "../../core/device-and-type/stylesheets/main" as analytics-device-and-type-main-style;
@use "../../core/geo-countries/stylesheets/main" as geo-countries-main-style;
@use "../../core/user-management/stylesheets/main" as user-management-main-style;
@use "../../core/home/stylesheets/main" as home-main-style;
@use "../../core/app-management/stylesheets/main" as app-management-main-style;
@use "../../core/report-manager/stylesheets/main" as report-manager-main-style;