#analytics-main-view .content-container {
  min-width: 768px;
  min-height: 400px;
  margin-left: 224px;
  padding: 59px 0 35px 0 !important;
  transition: margin-left 0.55s;
  will-change: margin-left;
}
