.cly-vue-theme-clydef {
  /* Element Chalk Variables */
  /* Transition
  -------------------------- */
  /* Color
  -------------------------- */
  /* 53a8ff */
  /* 66b1ff */
  /* 79bbff */
  /* 8cc5ff */
  /* a0cfff */
  /* b3d8ff */
  /* c6e2ff */
  /* d9ecff */
  /* ecf5ff */
  /* Link
  -------------------------- */
  /* Border
  -------------------------- */
  /* Fill
  -------------------------- */
  /* Typography
  -------------------------- */
  /* Size
  -------------------------- */
  /* z-index
  -------------------------- */
  /* Disable base
  -------------------------- */
  /* Icon
  -------------------------- */
  /* Checkbox
  -------------------------- */
  /* Radio
  -------------------------- */
  /* Select
  -------------------------- */
  /* Alert
  -------------------------- */
  /* MessageBox
  -------------------------- */
  /* Message
  -------------------------- */
  /* Notification
  -------------------------- */
  /* Input
  -------------------------- */
  /* Cascader
  -------------------------- */
  /* Group
  -------------------------- */
  /* Tab
  -------------------------- */
  /* Button
  -------------------------- */
  /* cascader
  -------------------------- */
  /* Switch
  -------------------------- */
  /* Dialog
  -------------------------- */
  /* Table
  -------------------------- */
  /* Pagination
  -------------------------- */
  /* Popup
  -------------------------- */
  /* Popover
  -------------------------- */
  /* Tooltip
  -------------------------- */
  /* Tag
  -------------------------- */
  /* Tree
  -------------------------- */
  /* Dropdown
  -------------------------- */
  /* Badge
  -------------------------- */
  /* Card
  --------------------------*/
  /* Slider
  --------------------------*/
  /* Steps
  --------------------------*/
  /* Menu
  --------------------------*/
  /* Rate
  --------------------------*/
  /* DatePicker
  --------------------------*/
  /* Loading
  --------------------------*/
  /* Scrollbar
  --------------------------*/
  /* Carousel
  --------------------------*/
  /* Collapse
  --------------------------*/
  /* Transfer
  --------------------------*/
  /* Header
    --------------------------*/
  /* Footer
  --------------------------*/
  /* Main
  --------------------------*/
  /* Timeline
  --------------------------*/
  /* Backtop
  --------------------------*/
  /* Link
  --------------------------*/
  /* Calendar
  --------------------------*/
  /* Form
  -------------------------- */
  /* Avatar
  --------------------------*/
  /* Break-point
  --------------------------*/
}
.cly-vue-theme-clydef button {
  font-family: Inter !important;
}
.cly-vue-theme-clydef h1 {
  font-size: 32px;
  line-height: 48px;
  font-weight: 500;
  margin: 0;
  padding: 0;
}
.cly-vue-theme-clydef h2 {
  font-size: 24px;
  line-height: 32px;
  font-weight: 500;
  margin: 0;
  padding: 0;
}
.cly-vue-theme-clydef h3 {
  font-size: 20px;
  line-height: 30px;
  font-weight: 500;
  margin: 0;
  padding: 0;
}
.cly-vue-theme-clydef h4 {
  font-size: 16px;
  line-height: 24px;
  font-weight: 500;
  margin: 0;
  padding: 0;
}
.cly-vue-theme-clydef h5 {
  font-size: 14px;
  line-height: 20px;
  font-weight: 500;
  margin: 0;
  padding: 0;
}
.cly-vue-theme-clydef h6 {
  font-size: 14px;
  line-height: 18px;
  font-weight: 500;
  margin: 0;
  padding: 0;
}
.cly-vue-theme-clydef .el-table {
  color: #333C48;
}
.cly-vue-theme-clydef .el-table th {
  padding: 10px 0px;
  box-sizing: border-box;
  text-transform: uppercase;
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  background-color: #F6F6F6;
  border-bottom-width: 2px;
}
.cly-vue-theme-clydef .el-table th .cell {
  line-height: 15px;
  letter-spacing: 0.5px;
}
.cly-vue-theme-clydef .el-table td {
  padding: 14px 0px;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  box-sizing: border-box;
}
.cly-vue-theme-clydef .el-table td .cell {
  line-height: 20px;
}
.cly-vue-theme-clydef .el-table th:first-child .cell,
.cly-vue-theme-clydef .el-table td:first-child .cell {
  padding-left: 23px;
}
.cly-vue-theme-clydef .el-table th:last-child .cell,
.cly-vue-theme-clydef .el-table td:last-child .cell {
  padding-right: 23px;
}
.cly-vue-theme-clydef .el-table .caret-wrapper {
  height: 15px;
}
.cly-vue-theme-clydef .el-table .sort-caret {
  border-width: 4px;
}
.cly-vue-theme-clydef .el-table .sort-caret.ascending {
  top: -2px;
}
.cly-vue-theme-clydef .el-table .sort-caret.descending {
  bottom: -1px;
}
.cly-vue-theme-clydef .bu-level:not(:last-child) {
  margin-bottom: 0px;
}
.cly-vue-theme-clydef #analytics-main-view .content-container {
  min-width: 768px;
  min-height: 400px;
  margin-left: 224px;
  padding: 59px 0 35px 0 !important;
  transition: margin-left 0.55s;
  will-change: margin-left;
}
.cly-vue-theme-clydef .main {
  padding: 0px 24px;
  margin: 0;
}
.cly-vue-theme-clydef .cly-vue-section__content {
  background-color: white;
  border-top: 1px solid #ECECEC;
  border-bottom: 2px solid #ECECEC;
}
.cly-vue-theme-clydef .cly-vue-section:not(:last-child) {
  margin-bottom: 32px;
}
.cly-vue-theme-clydef .header {
  padding: 12px 0px 12px;
  border-bottom: 1px solid #ECECEC;
}
.cly-vue-theme-clydef .header:not(:last-child) {
  margin-bottom: 32px;
}
.cly-vue-theme-clydef .header--white {
  background-color: #FFFFFF;
}
.cly-vue-theme-clydef .header--no-bg {
  background-color: none;
}
.cly-vue-theme-clydef .header .bu-level {
  padding: 0px 24px 12px;
}
.cly-vue-theme-clydef .cly-vue-eldatatable.silent-loading .el-loading-spinner {
  visibility: hidden;
}
.cly-vue-theme-clydef .cly-vue-eldatatable__header {
  height: 56px;
  border: 1px solid #ECECEC;
  border-left: none;
  border-right: none;
  box-sizing: border-box;
  padding: 12px;
}
.cly-vue-theme-clydef .cly-vue-eldatatable__header--white {
  background-color: #FFFFFF;
  color: #333C48;
  font-size: 13px;
}
.cly-vue-theme-clydef .cly-vue-eldatatable__search--grey input {
  background-color: #F6F6F6;
}
.cly-vue-theme-clydef .cly-vue-eldatatable__footer {
  height: 40px;
  border: 1px solid #ECECEC;
  border-left: none;
  border-right: none;
  box-sizing: border-box;
  padding: 0px 12px;
}
.cly-vue-theme-clydef .cly-vue-eldatatable__footer--white {
  background-color: #FFFFFF;
  color: #81868D;
  font-size: 13px;
}
.cly-vue-theme-clydef .cly-vue-eldatatable__footer .el-select {
  width: 70px;
}
.cly-vue-theme-clydef .cly-vue-eldatatable__vertical-divider {
  border: 1px solid #ECECEC;
  height: 38px;
}
.cly-vue-theme-clydef .cly-vue-eldatatable .undo-row {
  position: absolute;
  left: 0;
  padding: 9px 0px;
  background-color: #FFD7D6;
  color: #2b2b2b;
  width: 100%;
  height: 100%;
  top: 0;
  z-index: 999;
  vertical-align: middle;
  display: flex;
  align-items: center;
  justify-content: center;
}
.cly-vue-theme-clydef .cly-vue-eldatatable .undo-row a {
  color: #017AFF;
  cursor: pointer;
}
.cly-vue-theme-clydef .font-weight-bold {
  font-weight: 600 !important;
}
.cly-vue-theme-clydef .font-weight-normal {
  font-weight: 400 !important;
}
.cly-vue-theme-clydef .font-italic {
  font-style: italic !important;
}
.cly-vue-theme-clydef .text-lowercase {
  text-transform: lowercase !important;
}
.cly-vue-theme-clydef .text-uppercase {
  text-transform: uppercase !important;
}
.cly-vue-theme-clydef .text-big {
  font-size: 16px;
  font-weight: 400;
  line-height: 22px;
}
.cly-vue-theme-clydef .text-big.font-weight-bold {
  font-weight: 500 !important;
}
.cly-vue-theme-clydef .text-medium {
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
}
.cly-vue-theme-clydef .text-medium.font-weight-bold {
  font-weight: 500 !important;
}
.cly-vue-theme-clydef .text-small {
  font-size: 12px;
  font-weight: 400;
  line-height: 18px;
}
.cly-vue-theme-clydef .text-small.font-weight-bold {
  font-weight: 500 !important;
}
