.session-overview-date-picker-container {
    margin-bottom: 32px;
}

.session-home-widget .el-tabs__item {
    height: auto;
    text-align: left;
}
.session-home-widget .el-tabs--card>.el-tabs__header {
	margin: 0;
}
.session-home-widget .cly-vue-chart__echart {
	padding: 20px 25px 32px 15px;
}

.session-home-widget .el-tabs__nav-wrap.is-scrollable{
	border-bottom: 0px;
}
.session-home-widget .el-tabs--card .trend-up {
    font-size: 14px;
	font-weight: 500;
    position: relative;
    top: -4px;
    color: #12af51;
	.fas {
		background-color: #ebfaee;
	    margin: 3px 3px 3px 7px;
		border-radius: 16px;
		padding: 4px;
		font-size: 9px;
	}
	span {
		position: relative;
		top: 2px;
	}
}

.session-home-widget .el-tabs--card .trend-down {
    font-size: 14px;
	font-weight: 500;
    color: #d23f00;
    position: relative;
    top: -4px;
	.fas {
		background-color: #fbece5;
		margin: 3px 3px 3px 7px;
		border-radius: 16px;
		padding: 4px;
		font-size: 9px;
	}
	span {
		position: relative;
		top: 2px;
	}
}