<div v-bind:class="[componentId]">
    <cly-header
        :title="i18n('session-frequency.title')"
        :tooltip="{description: i18n('session-frequency.description')}"
    >
    </cly-header>
    <cly-main>
        <cly-date-picker-g in-the-last-hours class="session-frequency-date-picker-container"></cly-date-picker-g>
        <cly-section>
            <cly-chart-bar :option="sessionFrequencyOptions" :height="400" v-loading="isLoading" :force-loading="isLoading"></cly-chart-bar>
        </cly-section>
        <cly-section>
            <cly-datatable-n  :rows="sessionFrequencyRows" :resizable="true" :force-loading="isLoading">
                <template v-slot="scope">
                    <el-table-column :sortable="true" prop="frequency" :label="i18n('session-frequency.table.frequency')" :sort-method="sortFrequencyBuckets">
                    </el-table-column>
                    <el-table-column sortable="custom" prop="numberOfSessions" :label="i18n('common.number-of-sessions')">
                        <template slot-scope="scope">
                            {{formatNumber(scope.row.numberOfSessions)}}
                        </template>
                    </el-table-column>
                    <el-table-column sortable="custom" prop="numberOfSessions" column-key="percentage" :label="i18n('common.percent')">
                        <template slot-scope="scope">
                            <div class="bu-level-left">
                                <div class="bu-level-item slipping-away-users-table-data-item">
                                    <span>{{scope.row.percentage}}%</span>
                                </div>
                                <cly-progress-bar  :percentage="parseInt(scope.row.percentage)" :color="progressBarColor" > </cly-progress-bar>
                            </div>
                        </template>
                    </el-table-column>
                </template>
            </cly-datatable-n>
        </cly-section>       
    </cly-main>
</div>