<div v-bind:class="[componentId]">
	<clyd-home-widget-header :widget="headerData"></clyd-home-widget-header>
	<div class="session-home-widget">	
		<el-tabs v-model="sessionGraphTab" type="card" stretch v-loading="isLoading">
			<el-tab-pane :name="item.value" :key="idx" v-for="(item, idx) in chooseProperties" >
				<div slot="label">
					<div class="color-cool-gray-100 bu-p-5" :data-test-id="`tab-box-${item.label.toLowerCase().replace('.', '').replace(/\s/g, '-')}`">
						<div class="bu-is-flex bu-is-flex-direction-column bu-is-justify-content-space-between" :data-test-id="`tab-box-label-tooltip-container-${item.label.toLowerCase().replace('.', '').replace(/\s/g, '-')}`">
							<div class="text-medium" :data-test-id="`tab-box-label-tooltip-${item.label.toLowerCase().replace('.', '').replace(/\s/g, '-')}`">
								<span :data-test-id="`tab-box-label-${item.label.toLowerCase().replace('.', '').replace(/\s/g, '-')}`">{{item.label}}</span>
								<span v-if="item.description" class="cly-vue-tooltip-icon ion ion-help-circled bu-ml-1" :data-test-id="`tab-box-tooltip-${item.label.toLowerCase().replace('.', '').replace(/\s/g, '-')}`" v-tooltip.top-center="item.description"></span>
							</div>
						</div>
						<div class="bu-is-flex bu-is-align-items-center number" :data-test-id="`tab-box-center-${item.label.toLowerCase().replace('.', '').replace(/\s/g, '-')}`">
							<h2 :data-test-id="`tab-box-center-item-number-${item.label.toLowerCase().replace('.', '').replace(/\s/g, '-')}`">{{item.number}}</h2>
							<div v-if="item.trend == 'u'" class="cly-trend-up" :data-test-id="`tab-box-center-item-trend-${item.label.toLowerCase().replace('.', '').replace(/\s/g, '-')}`">
								<i class="cly-trend-up-icon ion-android-arrow-up bu-ml-2" :data-test-id="`tab-box-center-item-trend-up-icon-${item.label.toLowerCase().replace('.', '').replace(/\s/g, '-')}`"></i><span :data-test-id="`tab-box-center-item-trend-up-value-${item.label.toLowerCase().replace('.', '').replace(/\s/g, '-')}`">{{item.trendValue}}</span>
							</div>
							<div v-if="item.trend == 'd'" class="cly-trend-down" :data-test-id="`tab-box-center-item-trend-d-down-icon-${item.label.toLowerCase().replace('.', '').replace(/\s/g, '-')}`">
								<i class="cly-trend-down-icon ion-android-arrow-down bu-ml-2" :data-test-id="`tab-box-center-item-trend-down-icon-${item.label.toLowerCase().replace('.', '').replace(/\s/g, '-')}`"></i><span :data-test-id="`tab-box-center-item-trend-down-value-${item.label.toLowerCase().replace('.', '').replace(/\s/g, '-')}`">{{item.trendValue}}</span>
							</div>
						</div>
					</div>
				</div>
				<div class="bu-pb-4" :data-test-id="`tab-box-chart-${item.label.toLowerCase().replace('.', '').replace(/\s/g, '-')}`" style="border-radius: 0 0px 4px 4px; background-color: #ffffff; border: 1px solid #ececec ">
               <cly-chart-time :val-formatter="item.formatter" :test-id="`${item.label.toLowerCase().replace('.', '').replace(/\s/g, '-')}`" :option="chartData(item.value)" category="sessionHomeWidget"></cly-chart-time>
				</div>
			</el-tab-pane>	              
        </el-tabs>			
	</div>
</div>