@use "../../../stylesheets/styles/base/_typography-variables.scss" as t;

.cly-vue-events-overview-date-picker {
    margin:7px 24px 16px 24px;
}

.cly-events-breakdown-horizontal-tile {
    &__wrapper {
        border-right: 1px solid #ECECEC; 
        border-top: 1px solid #ECECEC; 
        border-bottom: 1px solid #ECECEC;
        padding: 24px 24px 0px 24px;
    }
    &__titleoverview {
        color: #333c48;
        font-size: 14px;
        font-weight: 400;
        line-height: 20px;
        font-family: t.$font-family;
    }
    &:nth-of-type(3n) {
        .cly-events-breakdown-horizontal-tile__wrapper {
            border-right: 0;
        }
    }
    &__values-list {
        align-items: center;
    }
    &__item {
        height: 33.3333333%;
        padding: 0px 0px 16px 0px;
    }
    &__item-title {
        padding: 4px 0px 8px 0px;
    }
    &__value {
    font-weight: 500;
    font-size: 20px;
    line-height: 30px;
    font-family: t.$font-family;
    color: #333c48;
    letter-spacing: 0.003em;
    }
    &__overviewvalue {
        font-weight: 500;
        font-size: 24px;
        line-height: 32px;
        }
    &__percentage {
        font-size: 14px;
        font-weight: 400;
        line-height: 20px;
        font-family: t.$font-family;
        color: #333c48;
    }
    &--green {
        color: #12AF51;
        padding-left: 8px;
        font-size: 14px;
        font-weight: 500;
        line-height: 14px;
    }
    &--red {
        padding-left: 8px;
        color: red;
        font-size: 14px;
        font-weight: 500;
        line-height: 14px;
    }
}
.cly-vue-events-overview-top-events {
    padding-left: 24px;
    padding-bottom: 16.5px;
}
.cly-vue-events-overview-monitor-events {
    border: 1px solid #ECECEC;
    &--grey {
      color: #A7AEB8 
    }
    &__heading {
      padding:8px 0px 16px 0px  
    }
    &__datepicker-section {
        padding-left:24px
    }
}

.cly-monitor-events-breakdown-horizontal-tile {
    &__wrapper {
        border-right: 1px solid #ECECEC; 
        border-top: 1px solid #ECECEC; 
        border-bottom: 1px solid #ECECEC;
        padding: 24px 24px 0px 24px;
    }
    &__title {
        font-size: 12px;
        font-weight: 400;
        line-height: 20px;
        padding-bottom: 8px;
    }
    &__titleoverview {
        font-size: 12px;
        font-weight: 400;
        line-height: 20px;
    }
    &__eventproperty {
        font-size: 12px;
        font-weight: 400;
        line-height: 20px;
        color:#81868D;
    }
    &:nth-of-type(2n) {
        .cly-monitor-events-breakdown-horizontal-tile__wrapper {
            border-right: 0;
        }
    }
    &__values-list {
        align-items: center;
    }
    &__item {
        height: 33.3333333%;
        padding: 0px 0px 16px 0px;
    }
    &__item-title {
        padding-top: 4px;
    }
    &__value {
    font-weight: 500;
    font-size: 20px;
    line-height: 30px;
    }
    &__overviewvalue {
        font-weight: 500;
        font-size: 24px;
        line-height: 32px;
        }
    &__percentage {
        font-size: 14px;
        font-weight: 300;
        line-height: 20px;
    }
    &--green {
        color: #12AF51;
        padding-left: 8px;
        font-size: 14px;
        font-weight: 500;
        line-height: 14px;
    }
    &--red {
        padding-left: 8px;
        color: red;
        font-size: 14px;
        font-weight: 500;
        line-height: 14px;
    }
}

.cly-vue-events-all-name {
    font-size: 24px;
    line-height: 32px;
    font-weight: 500;
    padding-bottom: 12px;
    letter-spacing: .003em;
    font-family: t.$font-family;
    color: #333c48;
} 

.cly-vue-events-group {
    color: #FFFFFF;
    background-color: #A7AEB8;
    font-size: 10px;
    line-height: 10px;
    font-weight: 500;
    margin-left: 19.5px;
    vertical-align: middle
} 

.cly-vue-events-all-period {
    color: #A7AEB8;
    font-size: 12px;
    line-height: 14.52px;
    font-weight: 500;
    padding-left: 32px;
} 
.cly-vue-events-all-segmentation {
    color: #A7AEB8;
    font-size: 12px;
    line-height: 14.52px;
    font-weight: 500;
} 
.cly-vue-events-all-date-picker {
    margin-right:26px
} 
.cly-vue-events-all-tooltip {
    margin-left:10px
} 
.cly-vue-events-header {
    padding-right: 9.5px;
    letter-spacing: .003em;
    font-family: t.$font-family;
    &__subheading {
        &--widget {
            padding-right: 5.33px;
            color: #81868d;
        }
        &--text {
            font-family: t.$font-family;
            line-height: 20px;
            font-size: 14px;
            color: #81868d;
        }
    }
}
.cly-vue-events-overview-subheadings {
    padding-right: 9.5px;
    letter-spacing: .003em;
    font-family: t.$font-family;
    &--tooltip {
        padding-top:3px;
    }
    &--font {
        font-family: t.$font-family;
    }
}

.el-select__tags{
    .el-tag--info{
    background-color: #81868D;
    border-color: #e9e9eb;
    color: #FFFFFF;
    .el-tag__close{
        color: #F6F6F6;
    }
    }
}
.cly-vue-compare-events {
    &__header {
        padding: 8px 24px 24px 24px;
        letter-spacing: .003em;
        font-family: t.$font-family;
        line-height: 32px;
        background-color: #fff;
    margin-bottom: 32px;
    border-bottom: 1px solid #ececec;

    &--tooltip{
        padding-left: 9.5px;
    }
        
    }
    &__button {
        background-color: #12AF51;
        color:#FFFFFF
    }
    &__graph-section {
		margin: 0px 24px 0px 24px;
        &__dropdown {
			padding: 22px 0px 32px 0px;
		}
		&--text{
			padding-right: 12px;
			font-weight:500;
			font-size:12px;
			color: #333C48;
			letter-spacing: 0.5px;
			font-family:  t.$font-family;
			line-height: 14.52px;
        }
    }
}