<div v-bind:class="[componentId]">
    <cly-header :title="i18n('session-durations.title')"
        :tooltip="{description: i18n('session-durations.description')}">
    </cly-header>
    <cly-main>
        <cly-date-picker-g class="session-durations-date-picker-container"></cly-date-picker-g>
        <cly-section>
            <cly-chart-bar test-id="chart-session-durations" :option="sessionDurationsOptions" :height="400"
                v-loading="isLoading" :force-loading="isLoading"></cly-chart-bar>
        </cly-section>
        <cly-section>
            <cly-datatable-n test-id="datatable-session-durations" :rows="sessionDurationsRows" :resizable="true"
                :force-loading="isLoading">
                <template v-slot="scope">
                    <el-table-column :sortable="true" prop="duration" :label="i18n('common.session-duration')"
                        :sort-method="sortDurationBuckets">
                        <template #default="scope">
                            <div :data-test-id="'datatable-session-durations-session-duration-' + scope.$index">
                                {{scope.row.duration}}</div>
                        </template>
                    </el-table-column>
                    <el-table-column sortable="custom" prop="numberOfSessions"
                        :label="i18n('common.number-of-sessions')">
                        <template #default="scope">
                            <div :data-test-id="'datatable-session-durations-number-of-sessions-' + scope.$index">
                                {{formatNumber(scope.row.numberOfSessions)}}</div>
                        </template>
                    </el-table-column>
                    <el-table-column sortable="custom" prop="numberOfSessions" column-key="percentage"
                        :label="i18n('common.percent')">
                        <template #default="scope">
                            <div class="bu-level-left">
                                <div class="bu-level-item slipping-away-users-table-data-item"
                                    :data-test-id="'datatable-session-durations-percent-' + scope.$index">
                                    <span>{{scope.row.percentage}}%</span>
                                </div>
                                <cly-progress-bar
                                    :data-test-id="'datatable-session-durations-progress-bar-' + scope.$index" :percentage="parseInt(scope.row.percentage)" :color="progressBarColor">
                                </cly-progress-bar>
                            </div>
                        </template>
                    </el-table-column>
                </template>
            </cly-datatable-n>
        </cly-section>
    </cly-main>
</div>