<div v-bind:class="[componentId]">
    <cly-header>
        <template v-slot:header-left>
            <h2> {{i18n('platforms.title')}} 
            </h2>
            <span class="el-icon-info" style="margin-left:10px" v-tooltip.top-center="description">
            </span>
        </template>
    </cly-header>
    <cly-main>
		<cly-date-picker v-model="selectedDatePeriod" timestampFormat="ms" class="app-resolution-date-picker-container"></cly-date-picker>
		<div class="bu-columns bu-is-gapless">
			<h4>{{i18n('platforms.platforms-for')}}</h4>
			<div class ="selector_wrapper">
				<el-select v-model="selectedProperty">
                    <el-option :key="item.value" :value="item.value" :label="item.name" v-for="item in chooseProperties"></el-option>
                </el-select>
			</div>
        </div>
		<cly-section >
			<div class="bu-columns bu-is-gapless"  >
				<div class="bu-column bu-is-3 platformDonuts" :key="idx" v-for="(item, idx) in platformItems">
					<div class="bu-p-5 bu-is-flex">
						<cly-progress-donut :percentage=item.percent :color=item.color></cly-progress-donut>
						<div class="bu-pl-5 bu-is-flex bu-is-flex-direction-column bu-is-justify-content-space-between">
							<div class="bu-level-left">
								<span class="text-medium">{{item.name}}</span>
								<span class="el-icon-info" style="margin-left:10px" v-tooltip.top-center="item.info"></span>
							</div>
							<h2>{{item.value}} <span>{{item.percentText}}</span></h2>
						</div>
					</div>
				</div>
			</div>
		</cly-section>
		<h5> {{i18n('platforms.version-distribution')}} </h5>
		<cly-section >
			<div class="bu-columns bu-is-gapless">
				<div class="bu-column bu-is-3 " :key="idx" v-for="(item, idx) in platformVersions">
					<div class="emptyVersions" v-if="item.itemCn === 0">
						<div>{{i18n('common.table.no-data')}}</div>
					</div>
					<div class="allPlatformVersions bu-p-3" v-else>
						<vue-scroll :ops="scrollOptions">
							<div :key="idx2" v-for="(item2, idx2) in item.data" >
								<div class="version-graph-block bu-p-3">
									<div class="bu-columns version-graph-title">
										<div class="bu-column">{{item2.name}}</div>
										<div class="bu-column">{{item2.value}} | {{item2.percent}} % </div>
									</div>
									<cly-progress-bar :entities="item2.bar" :height=8></cly-progress-bar>
								</div>
							</div>
						</vue-scroll>
					</div>
				</div>
			</div>
		</cly-section>
		<cly-dynamic-tabs v-model="dynamicTab" skin="secondary" :tabs="tabs"></cly-dynamic-tabs>
    </cly-main>
</div>