@font-face {
  font-family: 'countly-icons-outline';
  src:  url('fonts/countly-icons-outline.eot?txbamt');
  src:  url('fonts/countly-icons-outline.eot?txbamt#iefix') format('embedded-opentype'),
    url('fonts/countly-icons-outline.ttf?txbamt') format('truetype'),
    url('fonts/countly-icons-outline.woff?txbamt') format('woff'),
    url('fonts/countly-icons-outline.svg?txbamt#countly-icons-outline') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

.cly-io-16 {
  font-size:16px;
  line-height: 16px;
}

.cly-io {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'countly-icons-outline' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.cly-io-trash:before {
  content: "\e900";
}
.cly-io-adjust:before {
  content: "\e901";
}
.cly-io-zoom-out:before {
  content: "\e902";
}
.cly-io-adjustments:before {
  content: "\e903";
}
.cly-io-airplane:before {
  content: "\e904";
}
.cly-io-align-center:before {
  content: "\e905";
}
.cly-io-align-justify:before {
  content: "\e906";
}
.cly-io-align-left:before {
  content: "\e907";
}
.cly-io-align-right:before {
  content: "\e908";
}
.cly-io-annotation:before {
  content: "\e909";
}
.cly-io-archive:before {
  content: "\e90a";
}
.cly-io-arrow-circle-down:before {
  content: "\e90b";
}
.cly-io-arrow-circle-left:before {
  content: "\e90c";
}
.cly-io-arrow-circle-right:before {
  content: "\e90d";
}
.cly-io-arrow-circle-up:before {
  content: "\e90e";
}
.cly-io-arrow-down:before {
  content: "\e90f";
}
.cly-io-arrow-left:before {
  content: "\e910";
}
.cly-io-arrow-narrow-left:before {
  content: "\e911";
}
.cly-io-arrow-narrow-right:before {
  content: "\e912";
}
.cly-io-arrow-narrow-up:before {
  content: "\e913";
}
.cly-io-arrow-narrow-up-1:before {
  content: "\e914";
}
.cly-io-arrow-right:before {
  content: "\e915";
}
.cly-io-arrows-expand:before {
  content: "\e916";
}
.cly-io-arrow-sm-down:before {
  content: "\e917";
}
.cly-io-arrow-sm-left:before {
  content: "\e918";
}
.cly-io-arrow-sm-right:before {
  content: "\e919";
}
.cly-io-arrow-sm-up:before {
  content: "\e91a";
}
.cly-io-arrow-up:before {
  content: "\e91b";
}
.cly-io-at-symbol:before {
  content: "\e91c";
}
.cly-io-backspace:before {
  content: "\e91d";
}
.cly-io-badge-check:before {
  content: "\e91e";
}
.cly-io-ban:before {
  content: "\e91f";
}
.cly-io-beaker:before {
  content: "\e920";
}
.cly-io-bell:before {
  content: "\e921";
}
.cly-io-bold:before {
  content: "\e922";
}
.cly-io-bookmark:before {
  content: "\e923";
}
.cly-io-bookmark-alt:before {
  content: "\e924";
}
.cly-io-book-open:before {
  content: "\e925";
}
.cly-io-briefcase:before {
  content: "\e926";
}
.cly-io-bullet-list:before {
  content: "\e927";
}
.cly-io-cake:before {
  content: "\e928";
}
.cly-io-calculator:before {
  content: "\e929";
}
.cly-io-calendar:before {
  content: "\e92a";
}
.cly-io-camera:before {
  content: "\e92b";
}
.cly-io-cash:before {
  content: "\e92c";
}
.cly-io-chart-bar:before {
  content: "\e92d";
}
.cly-io-chart-pie:before {
  content: "\e92e";
}
.cly-io-chart-square-bar:before {
  content: "\e92f";
}
.cly-io-chat:before {
  content: "\e930";
}
.cly-io-chat-alt:before {
  content: "\e931";
}
.cly-io-chat-alt-2:before {
  content: "\e932";
}
.cly-io-check:before {
  content: "\e933";
}
.cly-io-check-circle:before {
  content: "\e934";
}
.cly-io-chevron-double-down:before {
  content: "\e935";
}
.cly-io-chevron-double-left:before {
  content: "\e936";
}
.cly-io-chevron-double-right:before {
  content: "\e937";
}
.cly-io-chevron-double-up:before {
  content: "\e938";
}
.cly-io-chevron-down:before {
  content: "\e939";
}
.cly-io-chevron-left:before {
  content: "\e93a";
}
.cly-io-chevron-right:before {
  content: "\e93b";
}
.cly-io-chevron-up:before {
  content: "\e93c";
}
.cly-io-chip:before {
  content: "\e93d";
}
.cly-io-clear-formatting:before {
  content: "\e93e";
}
.cly-io-clipboard:before {
  content: "\e93f";
}
.cly-io-clipboard-check:before {
  content: "\e940";
}
.cly-io-clipboard-copy:before {
  content: "\e941";
}
.cly-io-clipboard-list:before {
  content: "\e942";
}
.cly-io-clock:before {
  content: "\e943";
}
.cly-io-cloud:before {
  content: "\e944";
}
.cly-io-cloud-download:before {
  content: "\e945";
}
.cly-io-cloud-upload:before {
  content: "\e946";
}
.cly-io-code:before {
  content: "\e947";
}
.cly-io-cog:before {
  content: "\e948";
}
.cly-io-cohorts:before {
  content: "\e949";
}
.cly-io-collection:before {
  content: "\e94a";
}
.cly-io-color:before {
  content: "\e94b";
}
.cly-io-color-swatch:before {
  content: "\e94c";
}
.cly-io-credit-card:before {
  content: "\e94d";
}
.cly-io-cube:before {
  content: "\e94e";
}
.cly-io-cube-transparent:before {
  content: "\e94f";
}
.cly-io-currency-bangladeshi:before {
  content: "\e950";
}
.cly-io-currency-dollar:before {
  content: "\e951";
}
.cly-io-currency-euro:before {
  content: "\e952";
}
.cly-io-currency-pound:before {
  content: "\e953";
}
.cly-io-currency-rupee:before {
  content: "\e954";
}
.cly-io-currency-yen:before {
  content: "\e955";
}
.cly-io-cursor-click:before {
  content: "\e956";
}
.cly-io-database:before {
  content: "\e957";
}
.cly-io-desktop-computer:before {
  content: "\e958";
}
.cly-io-device-mobile:before {
  content: "\e959";
}
.cly-io-device-tablet:before {
  content: "\e95a";
}
.cly-io-document:before {
  content: "\e95b";
}
.cly-io-document-add:before {
  content: "\e95c";
}
.cly-io-document-download:before {
  content: "\e95d";
}
.cly-io-document-duplicate:before {
  content: "\e95e";
}
.cly-io-document-remove:before {
  content: "\e95f";
}
.cly-io-document-report:before {
  content: "\e960";
}
.cly-io-document-search:before {
  content: "\e961";
}
.cly-io-document-text:before {
  content: "\e962";
}
.cly-io-dots-circle-horizontal:before {
  content: "\e963";
}
.cly-io-dots-horizontal:before {
  content: "\e964";
}
.cly-io-dots-vertical:before {
  content: "\e965";
}
.cly-io-download:before {
  content: "\e966";
}
.cly-io-drag:before {
  content: "\e967";
}
.cly-io-duplicate:before {
  content: "\e968";
}
.cly-io-emoji-happy:before {
  content: "\e969";
}
.cly-io-emoji-sad:before {
  content: "\e96a";
}
.cly-io-exclamation:before {
  content: "\e96b";
}
.cly-io-exclamation-circle:before {
  content: "\e96c";
}
.cly-io-external-link:before {
  content: "\e96d";
}
.cly-io-eye:before {
  content: "\e96e";
}
.cly-io-eye-off:before {
  content: "\e96f";
}
.cly-io-fast-forward:before {
  content: "\e970";
}
.cly-io-film:before {
  content: "\e971";
}
.cly-io-filter:before {
  content: "\e972";
}
.cly-io-finger-print:before {
  content: "\e973";
}
.cly-io-fire:before {
  content: "\e974";
}
.cly-io-flag:before {
  content: "\e975";
}
.cly-io-folder:before {
  content: "\e976";
}
.cly-io-folder-add:before {
  content: "\e977";
}
.cly-io-folder-download:before {
  content: "\e978";
}
.cly-io-folder-open:before {
  content: "\e979";
}
.cly-io-folder-remove:before {
  content: "\e97a";
}
.cly-io-gift:before {
  content: "\e97b";
}
.cly-io-globe:before {
  content: "\e97c";
}
.cly-io-globe-alt:before {
  content: "\e97d";
}
.cly-io-hand:before {
  content: "\e97e";
}
.cly-io-hashtag:before {
  content: "\e97f";
}
.cly-io-heart:before {
  content: "\e980";
}
.cly-io-home:before {
  content: "\e981";
}
.cly-io-icon-user-remove:before {
  content: "\e982";
}
.cly-io-identification:before {
  content: "\e983";
}
.cly-io-inbox:before {
  content: "\e984";
}
.cly-io-inbox-in:before {
  content: "\e985";
}
.cly-io-information-circle:before {
  content: "\e986";
}
.cly-io-italic:before {
  content: "\e987";
}
.cly-io-key:before {
  content: "\e988";
}
.cly-io-library:before {
  content: "\e989";
}
.cly-io-light-bulb:before {
  content: "\e98a";
}
.cly-io-lightning-bolt:before {
  content: "\e98b";
}
.cly-io-line-height:before {
  content: "\e98c";
}
.cly-io-link:before {
  content: "\e98d";
}
.cly-io-location-marker:before {
  content: "\e98e";
}
.cly-io-lock-closed:before {
  content: "\e98f";
}
.cly-io-lock-open:before {
  content: "\e990";
}
.cly-io-login:before {
  content: "\e991";
}
.cly-io-logout:before {
  content: "\e992";
}
.cly-io-mail:before {
  content: "\e993";
}
.cly-io-mail-open:before {
  content: "\e994";
}
.cly-io-map:before {
  content: "\e995";
}
.cly-io-menu:before {
  content: "\e996";
}
.cly-io-menu-alt-1:before {
  content: "\e997";
}
.cly-io-menu-alt-2:before {
  content: "\e998";
}
.cly-io-menu-alt-3:before {
  content: "\e999";
}
.cly-io-menu-alt-4:before {
  content: "\e99a";
}
.cly-io-merge:before {
  content: "\e99b";
}
.cly-io-microphone:before {
  content: "\e99c";
}
.cly-io-minus:before {
  content: "\e99d";
}
.cly-io-minus-circle:before {
  content: "\e99e";
}
.cly-io-minus-sm:before {
  content: "\e99f";
}
.cly-io-moon:before {
  content: "\e9a0";
}
.cly-io-music-note:before {
  content: "\e9a1";
}
.cly-io-newspaper:before {
  content: "\e9a2";
}
.cly-io-office-building:before {
  content: "\e9a3";
}
.cly-io-ordered-list:before {
  content: "\e9a4";
}
.cly-io-paper-clip:before {
  content: "\e9a5";
}
.cly-io-pause:before {
  content: "\e9a6";
}
.cly-io-pencil:before {
  content: "\e9a7";
}
.cly-io-pencil-alt:before {
  content: "\e9a8";
}
.cly-io-phone:before {
  content: "\e9a9";
}
.cly-io-phone-incoming:before {
  content: "\e9aa";
}
.cly-io-phone-missed-call:before {
  content: "\e9ab";
}
.cly-io-phone-outgoing:before {
  content: "\e9ac";
}
.cly-io-photograph:before {
  content: "\e9ad";
}
.cly-io-pin:before {
  content: "\e9ae";
}
.cly-io-play:before {
  content: "\e9af";
}
.cly-io-plus:before {
  content: "\e9b0";
}
.cly-io-plus-circle:before {
  content: "\e9b1";
}
.cly-io-plus-sm:before {
  content: "\e9b2";
}
.cly-io-presentation-chart-bar:before {
  content: "\e9b3";
}
.cly-io-presentation-chart-line:before {
  content: "\e9b4";
}
.cly-io-printer:before {
  content: "\e9b5";
}
.cly-io-puzzle:before {
  content: "\e9b6";
}
.cly-io-qrcode:before {
  content: "\e9b7";
}
.cly-io-question-mark-circle:before {
  content: "\e9b8";
}
.cly-io-quote:before {
  content: "\e9b9";
}
.cly-io-receipt-refund:before {
  content: "\e9ba";
}
.cly-io-receipt-tax:before {
  content: "\e9bb";
}
.cly-io-redo:before {
  content: "\e9bc";
}
.cly-io-refresh:before {
  content: "\e9bd";
}
.cly-io-reply:before {
  content: "\e9be";
}
.cly-io-rewind:before {
  content: "\e9bf";
}
.cly-io-rss:before {
  content: "\e9c0";
}
.cly-io-save:before {
  content: "\e9c1";
}
.cly-io-save-as:before {
  content: "\e9c2";
}
.cly-io-scale:before {
  content: "\e9c3";
}
.cly-io-scissors:before {
  content: "\e9c4";
}
.cly-io-search:before {
  content: "\e9c5";
}
.cly-io-search-circle:before {
  content: "\e9c6";
}
.cly-io-selector:before {
  content: "\e9c7";
}
.cly-io-server:before {
  content: "\e9c8";
}
.cly-io-share:before {
  content: "\e9c9";
}
.cly-io-shield-check:before {
  content: "\e9ca";
}
.cly-io-shield-exclamation:before {
  content: "\e9cb";
}
.cly-io-shopping-bag:before {
  content: "\e9cc";
}
.cly-io-shopping-cart:before {
  content: "\e9cd";
}
.cly-io-slide:before {
  content: "\e9ce";
}
.cly-io-sm-view-grid-add:before {
  content: "\e9cf";
}
.cly-io-sort-ascending:before {
  content: "\e9d0";
}
.cly-io-sort-descending:before {
  content: "\e9d1";
}
.cly-io-sparkles:before {
  content: "\e9d2";
}
.cly-io-speakerphone:before {
  content: "\e9d3";
}
.cly-io-star:before {
  content: "\e9d4";
}
.cly-io-status-offline:before {
  content: "\e9d5";
}
.cly-io-status-online:before {
  content: "\e9d6";
}
.cly-io-stop:before {
  content: "\e9d7";
}
.cly-io-strikethrough:before {
  content: "\e9d8";
}
.cly-io-sun:before {
  content: "\e9d9";
}
.cly-io-support:before {
  content: "\e9da";
}
.cly-io-switch-horizontal:before {
  content: "\e9db";
}
.cly-io-switch-vertical:before {
  content: "\e9dc";
}
.cly-io-table:before {
  content: "\e9dd";
}
.cly-io-tag:before {
  content: "\e9de";
}
.cly-io-template:before {
  content: "\e9df";
}
.cly-io-terminal:before {
  content: "\e9e0";
}
.cly-io-text-highlight:before {
  content: "\e9e1";
}
.cly-io-thumb-down:before {
  content: "\e9e2";
}
.cly-io-thumb-up:before {
  content: "\e9e3";
}
.cly-io-ticket:before {
  content: "\e9e4";
}
.cly-io-todo-list:before {
  content: "\e9e5";
}
.cly-io-translate:before {
  content: "\e9e6";
}
.cly-io-trending-down:before {
  content: "\e9e7";
}
.cly-io-trending-up:before {
  content: "\e9e8";
}
.cly-io-truck:before {
  content: "\e9e9";
}
.cly-io-underline:before {
  content: "\e9ea";
}
.cly-io-undo:before {
  content: "\e9eb";
}
.cly-io-upload:before {
  content: "\e9ec";
}
.cly-io-user:before {
  content: "\e9ed";
}
.cly-io-user-add:before {
  content: "\e9ee";
}
.cly-io-user-circle:before {
  content: "\e9ef";
}
.cly-io-user-group:before {
  content: "\e9f0";
}
.cly-io-users:before {
  content: "\e9f1";
}
.cly-io-variable:before {
  content: "\e9f2";
}
.cly-io-video-camera:before {
  content: "\e9f3";
}
.cly-io-view-boards:before {
  content: "\e9f4";
}
.cly-io-view-grid:before {
  content: "\e9f5";
}
.cly-io-view-list:before {
  content: "\e9f6";
}
.cly-io-volume-off:before {
  content: "\e9f7";
}
.cly-io-volume-up:before {
  content: "\e9f8";
}
.cly-io-wifi:before {
  content: "\e9f9";
}
.cly-io-x:before {
  content: "\e9fa";
}
.cly-io-x-circle:before {
  content: "\e9fb";
}
.cly-io-zoom-in:before {
  content: "\e9fc";
}

@font-face {
  font-family: 'countly-icons-solid';
  src:  url('fonts/countly-icons-solid.eot?jtbuh4');
  src:  url('fonts/countly-icons-solid.eot?jtbuh4#iefix') format('embedded-opentype'),
    url('fonts/countly-icons-solid.ttf?jtbuh4') format('truetype'),
    url('fonts/countly-icons-solid.woff?jtbuh4') format('woff'),
    url('fonts/countly-icons-solid.svg?jtbuh4#countly-icons-solid') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

.cly-is {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'countly-icons-solid' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.cly-is-academic-cap.cly-is:before {
  content: "\e900";
}
.cly-is-adjustments.cly-is:before {
  content: "\e901";
}
.cly-is-annotation.cly-is:before {
  content: "\e902";
}
.cly-is-archive.cly-is:before {
  content: "\e903";
}
.cly-is-arrow-circle-down.cly-is:before {
  content: "\e904";
}
.cly-is-arrow-circle-drop-down.cly-is .path1:before {
  content: "\e905";
  color: rgb(51, 60, 72);
}
.cly-is-arrow-circle-drop-down.cly-is .path2:before {
  content: "\e906";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.cly-is-arrow-circle-drop-up.cly-is .path1:before {
  content: "\e907";
  color: rgb(51, 60, 72);
}
.cly-is-arrow-circle-drop-up.cly-is .path2:before {
  content: "\e908";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.cly-is-arrow-circle-left.cly-is:before {
  content: "\e909";
}
.cly-is-arrow-circle-right.cly-is:before {
  content: "\e90a";
}
.cly-is-arrow-circle-up.cly-is:before {
  content: "\e90b";
}
.cly-is-arrow-down.cly-is:before {
  content: "\e90c";
}
.cly-is-arrow-drop-down.cly-is:before {
  content: "\e90d";
}
.cly-is-arrow-drop-left.cly-is:before {
  content: "\e90e";
}
.cly-is-arrow-drop-right.cly-is:before {
  content: "\e90f";
}
.cly-is-arrow-drop-up.cly-is:before {
  content: "\e910";
}
.cly-is-arrow-narrow-down.cly-is:before {
  content: "\e911";
}
.cly-is-arrow-narrow-left.cly-is:before {
  content: "\e912";
}
.cly-is-arrow-narrow-right.cly-is:before {
  content: "\e913";
}
.cly-is-arrow-narrow-up.cly-is:before {
  content: "\e914";
}
.cly-is-arrow-right.cly-is:before {
  content: "\e915";
}
.cly-is-arrow-sm-down.cly-is:before {
  content: "\e916";
}
.cly-is-arrow-sm-left.cly-is:before {
  content: "\e917";
}
.cly-is-arrow-sm-right.cly-is:before {
  content: "\e918";
}
.cly-is-arrow-sm-up.cly-is:before {
  content: "\e919";
}
.cly-is-arrow-up.cly-is:before {
  content: "\e91a";
}
.cly-is-arrown-left.cly-is:before {
  content: "\e91b";
}
.cly-is-arrows-expand.cly-is:before {
  content: "\e91c";
}
.cly-is-at-symbol.cly-is:before {
  content: "\e91d";
}
.cly-is-backspace.cly-is:before {
  content: "\e91e";
}
.cly-is-badge-check.cly-is:before {
  content: "\e91f";
}
.cly-is-ban.cly-is:before {
  content: "\e920";
}
.cly-is-beaker.cly-is:before {
  content: "\e921";
}
.cly-is-bell.cly-is:before {
  content: "\e922";
}
.cly-is-book-open.cly-is:before {
  content: "\e923";
}
.cly-is-bookmark-alt.cly-is:before {
  content: "\e924";
}
.cly-is-bookmark.cly-is:before {
  content: "\e925";
}
.cly-is-briefcase.cly-is:before {
  content: "\e926";
}
.cly-is-cake.cly-is:before {
  content: "\e927";
}
.cly-is-calculator.cly-is:before {
  content: "\e928";
}
.cly-is-calendar.cly-is:before {
  content: "\e929";
}
.cly-is-camera.cly-is:before {
  content: "\e92a";
}
.cly-is-cash.cly-is:before {
  content: "\e92b";
}
.cly-is-chart-bar.cly-is:before {
  content: "\e92c";
}
.cly-is-chart-line.cly-is:before {
  content: "\e92d";
}
.cly-is-chart-pie.cly-is:before {
  content: "\e92e";
}
.cly-is-chart-square-bar.cly-is:before {
  content: "\e92f";
}
.cly-is-chart-stacked-bar.cly-is .path1:before {
  content: "\e930";
  color: rgb(51, 60, 72);
}
.cly-is-chart-stacked-bar.cly-is .path2:before {
  content: "\e931";
  margin-left: -1em;
  color: rgb(51, 60, 72);
}
.cly-is-chart-stacked-bar.cly-is .path3:before {
  content: "\e932";
  margin-left: -1em;
  color: rgb(51, 60, 72);
}
.cly-is-chart-stacked-bar.cly-is .path4:before {
  content: "\e933";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.cly-is-chart-stacked-bar.cly-is .path5:before {
  content: "\e934";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.cly-is-chart-stacked-bar.cly-is .path6:before {
  content: "\e935";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.cly-is-chat-alt-2.cly-is:before {
  content: "\e936";
}
.cly-is-chat-alt.cly-is:before {
  content: "\e937";
}
.cly-is-chat.cly-is:before {
  content: "\e938";
}
.cly-is-check-circle.cly-is:before {
  content: "\e939";
}
.cly-is-check.cly-is:before {
  content: "\e93a";
}
.cly-is-chevron-double-down.cly-is:before {
  content: "\e93b";
}
.cly-is-chevron-double-left.cly-is:before {
  content: "\e93c";
}
.cly-is-chevron-double-right.cly-is:before {
  content: "\e93d";
}
.cly-is-chevron-double-up.cly-is:before {
  content: "\e93e";
}
.cly-is-chevron-down.cly-is:before {
  content: "\e93f";
}
.cly-is-chevron-left.cly-is:before {
  content: "\e940";
}
.cly-is-chevron-right.cly-is:before {
  content: "\e941";
}
.cly-is-chevron-up.cly-is:before {
  content: "\e942";
}
.cly-is-chip.cly-is:before {
  content: "\e943";
}
.cly-is-clipboard-check.cly-is:before {
  content: "\e944";
}
.cly-is-clipboard-copy.cly-is:before {
  content: "\e945";
}
.cly-is-clipboard-list.cly-is:before {
  content: "\e946";
}
.cly-is-clipboard.cly-is:before {
  content: "\e947";
}
.cly-is-clock.cly-is:before {
  content: "\e948";
}
.cly-is-cloud-download.cly-is:before {
  content: "\e949";
}
.cly-is-cloud-upload.cly-is:before {
  content: "\e94a";
}
.cly-is-cloud.cly-is:before {
  content: "\e94b";
}
.cly-is-code.cly-is:before {
  content: "\e94c";
}
.cly-is-cog.cly-is:before {
  content: "\e94d";
}
.cly-is-collection.cly-is:before {
  content: "\e94e";
}
.cly-is-color-swatch.cly-is:before {
  content: "\e94f";
}
.cly-is-color.cly-is:before {
  content: "\e950";
}
.cly-is-crashes.cly-is:before {
  content: "\e951";
}
.cly-is-credit-card.cly-is:before {
  content: "\e952";
}
.cly-is-cube-transparent.cly-is:before {
  content: "\e953";
}
.cly-is-cube.cly-is:before {
  content: "\e954";
}
.cly-is-currency-bangladeshi.cly-is:before {
  content: "\e955";
}
.cly-is-currency-dollar.cly-is:before {
  content: "\e956";
}
.cly-is-currency-euro.cly-is:before {
  content: "\e957";
}
.cly-is-currency-pound.cly-is:before {
  content: "\e958";
}
.cly-is-currency-yen.cly-is:before {
  content: "\e959";
}
.cly-is-currency-yenn.cly-is:before {
  content: "\e95a";
}
.cly-is-cursor-click.cly-is:before {
  content: "\e95b";
}
.cly-is-database.cly-is:before {
  content: "\e95c";
}
.cly-is-desktop-computer.cly-is:before {
  content: "\e95d";
}
.cly-is-device-mobile.cly-is:before {
  content: "\e95e";
}
.cly-is-device-tablet.cly-is:before {
  content: "\e95f";
}
.cly-is-document-add.cly-is:before {
  content: "\e960";
}
.cly-is-document-download.cly-is:before {
  content: "\e961";
}
.cly-is-document-duplicate.cly-is:before {
  content: "\e962";
}
.cly-is-document-remove.cly-is:before {
  content: "\e963";
}
.cly-is-document-report.cly-is:before {
  content: "\e964";
}
.cly-is-document-search.cly-is:before {
  content: "\e965";
}
.cly-is-document-text.cly-is:before {
  content: "\e966";
}
.cly-is-document.cly-is:before {
  content: "\e967";
}
.cly-is-dots-circle-horizontal.cly-is:before {
  content: "\e968";
}
.cly-is-dots-horizontal.cly-is:before {
  content: "\e969";
}
.cly-is-dots-vertical.cly-is:before {
  content: "\e96a";
}
.cly-is-download.cly-is:before {
  content: "\e96b";
}
.cly-is-drill.cly-is:before {
  content: "\e96c";
}
.cly-is-duplicate.cly-is:before {
  content: "\e96d";
}
.cly-is-emoji-angry.cly-is:before {
  content: "\e96e";
}
.cly-is-emoji-happiest.cly-is:before {
  content: "\e96f";
}
.cly-is-emoji-happy.cly-is:before {
  content: "\e970";
}
.cly-is-emoji-neatural.cly-is:before {
  content: "\e971";
}
.cly-is-emoji-sad.cly-is:before {
  content: "\e972";
}
.cly-is-exclamation-circle.cly-is:before {
  content: "\e973";
}
.cly-is-exclamation.cly-is:before {
  content: "\e974";
}
.cly-is-external-link.cly-is:before {
  content: "\e975";
}
.cly-is-eye-off.cly-is:before {
  content: "\e976";
}
.cly-is-eye.cly-is:before {
  content: "\e977";
}
.cly-is-fast-forward.cly-is:before {
  content: "\e978";
}
.cly-is-film.cly-is:before {
  content: "\e979";
}
.cly-is-filter.cly-is:before {
  content: "\e97a";
}
.cly-is-finger-print.cly-is:before {
  content: "\e97b";
}
.cly-is-fire.cly-is:before {
  content: "\e97c";
}
.cly-is-flag.cly-is:before {
  content: "\e97d";
}
.cly-is-folder_shared.cly-is .path1:before {
  content: "\e97e";
  color: rgb(51, 60, 72);
}
.cly-is-folder_shared.cly-is .path2:before {
  content: "\e97f";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.cly-is-folder_shared.cly-is .path3:before {
  content: "\e980";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.cly-is-folder-add.cly-is:before {
  content: "\e981";
}
.cly-is-folder-download.cly-is:before {
  content: "\e982";
}
.cly-is-folder-open.cly-is:before {
  content: "\e983";
}
.cly-is-folder-remove.cly-is:before {
  content: "\e984";
}
.cly-is-folder.cly-is:before {
  content: "\e985";
}
.cly-is-gift.cly-is:before {
  content: "\e986";
}
.cly-is-globe-alt.cly-is:before {
  content: "\e987";
}
.cly-is-globe.cly-is:before {
  content: "\e988";
}
.cly-is-hand.cly-is:before {
  content: "\e989";
}
.cly-is-hashtag.cly-is:before {
  content: "\e98a";
}
.cly-is-heart.cly-is:before {
  content: "\e98b";
}
.cly-is-home.cly-is:before {
  content: "\e98c";
}
.cly-is-icon-user-online.cly-is:before {
  content: "\e98d";
}
.cly-is-icon-user-remove.cly-is:before {
  content: "\e98e";
}
.cly-is-identification.cly-is:before {
  content: "\e98f";
}
.cly-is-inbox-in.cly-is:before {
  content: "\e990";
}
.cly-is-inbox.cly-is:before {
  content: "\e991";
}
.cly-is-information-circle.cly-is:before {
  content: "\e992";
}
.cly-is-jira.cly-is:before {
  content: "\e993";
}
.cly-is-key.cly-is:before {
  content: "\e994";
}
.cly-is-light-bulb.cly-is:before {
  content: "\e995";
}
.cly-is-lightning-bolt.cly-is:before {
  content: "\e996";
}
.cly-is-link.cly-is:before {
  content: "\e997";
}
.cly-is-location-marker.cly-is:before {
  content: "\e998";
}
.cly-is-lock-closed.cly-is:before {
  content: "\e999";
}
.cly-is-lock-open.cly-is:before {
  content: "\e99a";
}
.cly-is-logout-1.cly-is:before {
  content: "\e99b";
}
.cly-is-logout.cly-is:before {
  content: "\e99c";
}
.cly-is-mail-open.cly-is:before {
  content: "\e99d";
}
.cly-is-mail.cly-is:before {
  content: "\e99e";
}
.cly-is-map.cly-is:before {
  content: "\e99f";
}
.cly-is-md-library.cly-is:before {
  content: "\e9a0";
}
.cly-is-menu-alt-1.cly-is:before {
  content: "\e9a1";
}
.cly-is-menu-alt-2.cly-is:before {
  content: "\e9a2";
}
.cly-is-menu-alt-3.cly-is:before {
  content: "\e9a3";
}
.cly-is-menu-alt-4.cly-is:before {
  content: "\e9a4";
}
.cly-is-menu.cly-is:before {
  content: "\e9a5";
}
.cly-is-microphone.cly-is:before {
  content: "\e9a6";
}
.cly-is-minus-circle.cly-is:before {
  content: "\e9a7";
}
.cly-is-minus-sm.cly-is:before {
  content: "\e9a8";
}
.cly-is-minus.cly-is:before {
  content: "\e9a9";
}
.cly-is-moon.cly-is:before {
  content: "\e9aa";
}
.cly-is-music-note.cly-is:before {
  content: "\e9ab";
}
.cly-is-newspaper.cly-is:before {
  content: "\e9ac";
}
.cly-is-number.cly-is:before {
  content: "\e9ad";
}
.cly-is-office-building.cly-is:before {
  content: "\e9ae";
}
.cly-is-paper-airplane.cly-is:before {
  content: "\e9af";
}
.cly-is-paper-clip.cly-is:before {
  content: "\e9b0";
}
.cly-is-pause.cly-is:before {
  content: "\e9b1";
}
.cly-is-pencil-alt.cly-is:before {
  content: "\e9b2";
}
.cly-is-pencil.cly-is:before {
  content: "\e9b3";
}
.cly-is-phone-incoming.cly-is:before {
  content: "\e9b4";
}
.cly-is-phone-missed-call.cly-is:before {
  content: "\e9b5";
}
.cly-is-phone-outgoing.cly-is:before {
  content: "\e9b6";
}
.cly-is-phone.cly-is:before {
  content: "\e9b7";
}
.cly-is-photograph.cly-is:before {
  content: "\e9b8";
}
.cly-is-pin.cly-is:before {
  content: "\e9b9";
}
.cly-is-play.cly-is:before {
  content: "\e9ba";
}
.cly-is-plus-sm.cly-is:before {
  content: "\e9bb";
}
.cly-is-plus.cly-is:before {
  content: "\e9bc";
}
.cly-is-presentation-chart-bar.cly-is:before {
  content: "\e9bd";
}
.cly-is-presentation-chart-line.cly-is:before {
  content: "\e9be";
}
.cly-is-printer.cly-is:before {
  content: "\e9bf";
}
.cly-is-punchcard.cly-is:before {
  content: "\e9c0";
}
.cly-is-puzzle.cly-is:before {
  content: "\e9c1";
}
.cly-is-qrcode.cly-is:before {
  content: "\e9c2";
}
.cly-is-question-mark-circle.cly-is:before {
  content: "\e9c3";
}
.cly-is-receipt-refund.cly-is:before {
  content: "\e9c4";
}
.cly-is-receipt-tax.cly-is:before {
  content: "\e9c5";
}
.cly-is-refresh.cly-is:before {
  content: "\e9c6";
}
.cly-is-reply.cly-is:before {
  content: "\e9c7";
}
.cly-is-retention.cly-is:before {
  content: "\e9c8";
}
.cly-is-rewind.cly-is:before {
  content: "\e9c9";
}
.cly-is-rss.cly-is:before {
  content: "\e9ca";
}
.cly-is-save-as.cly-is:before {
  content: "\e9cb";
}
.cly-is-save.cly-is:before {
  content: "\e9cc";
}
.cly-is-scale.cly-is:before {
  content: "\e9cd";
}
.cly-is-scissors.cly-is:before {
  content: "\e9ce";
}
.cly-is-search-circle.cly-is:before {
  content: "\e9cf";
}
.cly-is-search.cly-is:before {
  content: "\e9d0";
}
.cly-is-selector.cly-is:before {
  content: "\e9d1";
}
.cly-is-server.cly-is:before {
  content: "\e9d2";
}
.cly-is-share.cly-is:before {
  content: "\e9d3";
}
.cly-is-shield-check.cly-is:before {
  content: "\e9d4";
}
.cly-is-shield-exclamation.cly-is:before {
  content: "\e9d5";
}
.cly-is-shopping-bag.cly-is:before {
  content: "\e9d6";
}
.cly-is-shopping-cart.cly-is:before {
  content: "\e9d7";
}
.cly-is-sort-ascending.cly-is:before {
  content: "\e9d8";
}
.cly-is-sort-descending.cly-is:before {
  content: "\e9d9";
}
.cly-is-sparkles.cly-is:before {
  content: "\e9da";
}
.cly-is-speakerphone.cly-is:before {
  content: "\e9db";
}
.cly-is-star.cly-is:before {
  content: "\e9dc";
}
.cly-is-status-1.cly-is .path1:before {
  content: "\e9dd";
  color: rgb(249, 99, 0);
}
.cly-is-status-1.cly-is .path2:before {
  content: "\e9de";
  margin-left: -1em;
  color: rgb(226, 228, 232);
}
.cly-is-status-offline.cly-is:before {
  content: "\e9df";
}
.cly-is-status-online.cly-is:before {
  content: "\e9e0";
}
.cly-is-status.cly-is:before {
  content: "\e9e1";
}
.cly-is-stop.cly-is:before {
  content: "\e9e2";
}
.cly-is-sun.cly-is:before {
  content: "\e9e3";
}
.cly-is-support.cly-is:before {
  content: "\e9e4";
}
.cly-is-switch-horizontal.cly-is:before {
  content: "\e9e5";
}
.cly-is-switch-vertical.cly-is:before {
  content: "\e9e6";
}
.cly-is-table.cly-is:before {
  content: "\e9e7";
}
.cly-is-tag.cly-is:before {
  content: "\e9e8";
}
.cly-is-template.cly-is:before {
  content: "\e9e9";
}
.cly-is-terminal.cly-is:before {
  content: "\e9ea";
}
.cly-is-thumb-down.cly-is:before {
  content: "\e9eb";
}
.cly-is-thumb-up.cly-is:before {
  content: "\e9ec";
}
.cly-is-ticket.cly-is:before {
  content: "\e9ed";
}
.cly-is-transform.cly-is:before {
  content: "\e9ee";
}
.cly-is-translate.cly-is:before {
  content: "\e9ef";
}
.cly-is-trash.cly-is:before {
  content: "\e9f0";
}
.cly-is-trending-down.cly-is:before {
  content: "\e9f1";
}
.cly-is-trending-up.cly-is:before {
  content: "\e9f2";
}
.cly-is-truck.cly-is:before {
  content: "\e9f3";
}
.cly-is-upload.cly-is:before {
  content: "\e9f4";
}
.cly-is-user-add.cly-is:before {
  content: "\e9f5";
}
.cly-is-user-circle.cly-is:before {
  content: "\e9f6";
}
.cly-is-user-group.cly-is:before {
  content: "\e9f7";
}
.cly-is-user.cly-is:before {
  content: "\e9f8";
}
.cly-is-users.cly-is:before {
  content: "\e9f9";
}
.cly-is-variable.cly-is:before {
  content: "\e9fa";
}
.cly-is-video-camera.cly-is:before {
  content: "\e9fb";
}
.cly-is-view-boards.cly-is:before {
  content: "\e9fc";
}
.cly-is-view-grid-1.cly-is:before {
  content: "\e9fd";
}
.cly-is-view-grid.cly-is:before {
  content: "\e9fe";
}
.cly-is-view-list.cly-is:before {
  content: "\e9ff";
}
.cly-is-volume-off.cly-is:before {
  content: "\ea00";
}
.cly-is-volume-up.cly-is:before {
  content: "\ea01";
}
.cly-is-wifi.cly-is:before {
  content: "\ea02";
}
.cly-is-x-circle-1.cly-is:before {
  content: "\ea03";
}
.cly-is-x-circle.cly-is:before {
  content: "\ea04";
}
.cly-is-x.cly-is:before {
  content: "\ea05";
}
.cly-is-zoom-in.cly-is:before {
  content: "\ea06";
}
.cly-is-zoom-out.cly-is:before {
  content: "\ea07";
}