$icomoon-font-family: "countly-icons-outline" !default;
$icomoon-font-path: "fonts" !default;

$countly-icon-outline-adjustments: unquote('"\\e900"');
$countly-icon-outline-airplane: unquote('"\\e901"');
$countly-icon-outline-annotation: unquote('"\\e902"');
$countly-icon-outline-archive: unquote('"\\e903"');
$countly-icon-outline-arrow-circle-down: unquote('"\\e904"');
$countly-icon-outline-arrow-circle-left: unquote('"\\e905"');
$countly-icon-outline-arrow-circle-right: unquote('"\\e906"');
$countly-icon-outline-arrow-circle-up: unquote('"\\e907"');
$countly-icon-outline-arrow-down: unquote('"\\e908"');
$countly-icon-outline-arrow-left: unquote('"\\e909"');
$countly-icon-outline-arrow-narrow-left: unquote('"\\e90a"');
$countly-icon-outline-arrow-narrow-right: unquote('"\\e90b"');
$countly-icon-outline-arrow-narrow-up: unquote('"\\e90c"');
$countly-icon-outline-arrow-narrow-up-1: unquote('"\\e90d"');
$countly-icon-outline-arrow-right: unquote('"\\e90e"');
$countly-icon-outline-arrows-expand: unquote('"\\e90f"');
$countly-icon-outline-arrow-sm-down: unquote('"\\e910"');
$countly-icon-outline-arrow-sm-left: unquote('"\\e911"');
$countly-icon-outline-arrow-sm-right: unquote('"\\e912"');
$countly-icon-outline-arrow-sm-up: unquote('"\\e913"');
$countly-icon-outline-arrow-up: unquote('"\\e914"');
$countly-icon-outline-at-symbol: unquote('"\\e915"');
$countly-icon-outline-backspace: unquote('"\\e916"');
$countly-icon-outline-badge-check: unquote('"\\e917"');
$countly-icon-outline-ban: unquote('"\\e918"');
$countly-icon-outline-beaker: unquote('"\\e919"');
$countly-icon-outline-bell: unquote('"\\e91a"');
$countly-icon-outline-bookmark: unquote('"\\e91b"');
$countly-icon-outline-bookmark-alt: unquote('"\\e91c"');
$countly-icon-outline-book-open: unquote('"\\e91d"');
$countly-icon-outline-briefcase: unquote('"\\e91e"');
$countly-icon-outline-cake: unquote('"\\e91f"');
$countly-icon-outline-calculator: unquote('"\\e920"');
$countly-icon-outline-calendar: unquote('"\\e921"');
$countly-icon-outline-camera: unquote('"\\e922"');
$countly-icon-outline-cash: unquote('"\\e923"');
$countly-icon-outline-chart-bar: unquote('"\\e924"');
$countly-icon-outline-chart-pie: unquote('"\\e925"');
$countly-icon-outline-chart-square-bar: unquote('"\\e926"');
$countly-icon-outline-chat: unquote('"\\e927"');
$countly-icon-outline-chat-alt: unquote('"\\e928"');
$countly-icon-outline-chat-alt-2: unquote('"\\e929"');
$countly-icon-outline-check: unquote('"\\e92a"');
$countly-icon-outline-check-circle: unquote('"\\e92b"');
$countly-icon-outline-chevron-double-down: unquote('"\\e92c"');
$countly-icon-outline-chevron-double-left: unquote('"\\e92d"');
$countly-icon-outline-chevron-double-right: unquote('"\\e92e"');
$countly-icon-outline-chevron-double-up: unquote('"\\e92f"');
$countly-icon-outline-chevron-down: unquote('"\\e930"');
$countly-icon-outline-chevron-left: unquote('"\\e931"');
$countly-icon-outline-chevron-right: unquote('"\\e932"');
$countly-icon-outline-chevron-up: unquote('"\\e933"');
$countly-icon-outline-chip: unquote('"\\e934"');
$countly-icon-outline-clipboard: unquote('"\\e935"');
$countly-icon-outline-clipboard-check: unquote('"\\e936"');
$countly-icon-outline-clipboard-copy: unquote('"\\e937"');
$countly-icon-outline-clipboard-list: unquote('"\\e938"');
$countly-icon-outline-clock: unquote('"\\e939"');
$countly-icon-outline-cloud: unquote('"\\e93a"');
$countly-icon-outline-cloud-download: unquote('"\\e93b"');
$countly-icon-outline-cloud-upload: unquote('"\\e93c"');
$countly-icon-outline-code: unquote('"\\e93d"');
$countly-icon-outline-cog: unquote('"\\e93e"');
$countly-icon-outline-collection: unquote('"\\e93f"');
$countly-icon-outline-color-swatch: unquote('"\\e940"');
$countly-icon-outline-credit-card: unquote('"\\e941"');
$countly-icon-outline-cube: unquote('"\\e942"');
$countly-icon-outline-cube-transparent: unquote('"\\e943"');
$countly-icon-outline-currency-bangladeshi: unquote('"\\e944"');
$countly-icon-outline-currency-dollar: unquote('"\\e945"');
$countly-icon-outline-currency-euro: unquote('"\\e946"');
$countly-icon-outline-currency-pound: unquote('"\\e947"');
$countly-icon-outline-currency-rupee: unquote('"\\e948"');
$countly-icon-outline-currency-yen: unquote('"\\e949"');
$countly-icon-outline-cursor-click: unquote('"\\e94a"');
$countly-icon-outline-database: unquote('"\\e94b"');
$countly-icon-outline-desktop-computer: unquote('"\\e94c"');
$countly-icon-outline-device-mobile: unquote('"\\e94d"');
$countly-icon-outline-device-tablet: unquote('"\\e94e"');
$countly-icon-outline-document: unquote('"\\e94f"');
$countly-icon-outline-document-add: unquote('"\\e950"');
$countly-icon-outline-document-download: unquote('"\\e951"');
$countly-icon-outline-document-duplicate: unquote('"\\e952"');
$countly-icon-outline-document-remove: unquote('"\\e953"');
$countly-icon-outline-document-report: unquote('"\\e954"');
$countly-icon-outline-document-search: unquote('"\\e955"');
$countly-icon-outline-document-text: unquote('"\\e956"');
$countly-icon-outline-dots-circle-horizontal: unquote('"\\e957"');
$countly-icon-outline-dots-horizontal: unquote('"\\e958"');
$countly-icon-outline-dots-vertical: unquote('"\\e959"');
$countly-icon-outline-download: unquote('"\\e95a"');
$countly-icon-outline-duplicate: unquote('"\\e95b"');
$countly-icon-outline-emoji-happy: unquote('"\\e95c"');
$countly-icon-outline-emoji-sad: unquote('"\\e95d"');
$countly-icon-outline-exclamation: unquote('"\\e95e"');
$countly-icon-outline-exclamation-circle: unquote('"\\e95f"');
$countly-icon-outline-external-link: unquote('"\\e960"');
$countly-icon-outline-eye: unquote('"\\e961"');
$countly-icon-outline-eye-off: unquote('"\\e962"');
$countly-icon-outline-fast-forward: unquote('"\\e963"');
$countly-icon-outline-film: unquote('"\\e964"');
$countly-icon-outline-filter: unquote('"\\e965"');
$countly-icon-outline-finger-print: unquote('"\\e966"');
$countly-icon-outline-fire: unquote('"\\e967"');
$countly-icon-outline-flag: unquote('"\\e968"');
$countly-icon-outline-folder: unquote('"\\e969"');
$countly-icon-outline-folder-add: unquote('"\\e96a"');
$countly-icon-outline-folder-download: unquote('"\\e96b"');
$countly-icon-outline-folder-open: unquote('"\\e96c"');
$countly-icon-outline-folder-remove: unquote('"\\e96d"');
$countly-icon-outline-gift: unquote('"\\e96e"');
$countly-icon-outline-globe: unquote('"\\e96f"');
$countly-icon-outline-globe-alt: unquote('"\\e970"');
$countly-icon-outline-hand: unquote('"\\e971"');
$countly-icon-outline-hashtag: unquote('"\\e972"');
$countly-icon-outline-heart: unquote('"\\e973"');
$countly-icon-outline-home: unquote('"\\e974"');
$countly-icon-outline-icon-user-remove: unquote('"\\e975"');
$countly-icon-outline-identification: unquote('"\\e976"');
$countly-icon-outline-inbox: unquote('"\\e977"');
$countly-icon-outline-inbox-in: unquote('"\\e978"');
$countly-icon-outline-information-circle: unquote('"\\e979"');
$countly-icon-outline-key: unquote('"\\e97a"');
$countly-icon-outline-library: unquote('"\\e97b"');
$countly-icon-outline-light-bulb: unquote('"\\e97c"');
$countly-icon-outline-lightning-bolt: unquote('"\\e97d"');
$countly-icon-outline-link: unquote('"\\e97e"');
$countly-icon-outline-location-marker: unquote('"\\e97f"');
$countly-icon-outline-lock-closed: unquote('"\\e980"');
$countly-icon-outline-lock-open: unquote('"\\e981"');
$countly-icon-outline-login: unquote('"\\e982"');
$countly-icon-outline-logout: unquote('"\\e983"');
$countly-icon-outline-mail: unquote('"\\e984"');
$countly-icon-outline-mail-open: unquote('"\\e985"');
$countly-icon-outline-map: unquote('"\\e986"');
$countly-icon-outline-menu: unquote('"\\e987"');
$countly-icon-outline-menu-alt-1: unquote('"\\e988"');
$countly-icon-outline-menu-alt-2: unquote('"\\e989"');
$countly-icon-outline-menu-alt-3: unquote('"\\e98a"');
$countly-icon-outline-menu-alt-4: unquote('"\\e98b"');
$countly-icon-outline-microphone: unquote('"\\e98c"');
$countly-icon-outline-minus: unquote('"\\e98d"');
$countly-icon-outline-minus-circle: unquote('"\\e98e"');
$countly-icon-outline-minus-sm: unquote('"\\e98f"');
$countly-icon-outline-moon: unquote('"\\e990"');
$countly-icon-outline-music-note: unquote('"\\e991"');
$countly-icon-outline-newspaper: unquote('"\\e992"');
$countly-icon-outline-office-building: unquote('"\\e993"');
$countly-icon-outline-paper-clip: unquote('"\\e994"');
$countly-icon-outline-pause: unquote('"\\e995"');
$countly-icon-outline-pencil: unquote('"\\e996"');
$countly-icon-outline-pencil-alt: unquote('"\\e997"');
$countly-icon-outline-phone: unquote('"\\e998"');
$countly-icon-outline-phone-incoming: unquote('"\\e999"');
$countly-icon-outline-phone-missed-call: unquote('"\\e99a"');
$countly-icon-outline-phone-outgoing: unquote('"\\e99b"');
$countly-icon-outline-photograph: unquote('"\\e99c"');
$countly-icon-outline-pin: unquote('"\\e99d"');
$countly-icon-outline-play: unquote('"\\e99e"');
$countly-icon-outline-plus: unquote('"\\e99f"');
$countly-icon-outline-plus-circle: unquote('"\\e9a0"');
$countly-icon-outline-plus-sm: unquote('"\\e9a1"');
$countly-icon-outline-presentation-chart-bar: unquote('"\\e9a2"');
$countly-icon-outline-presentation-chart-line: unquote('"\\e9a3"');
$countly-icon-outline-printer: unquote('"\\e9a4"');
$countly-icon-outline-puzzle: unquote('"\\e9a5"');
$countly-icon-outline-qrcode: unquote('"\\e9a6"');
$countly-icon-outline-question-mark-circle: unquote('"\\e9a7"');
$countly-icon-outline-receipt-refund: unquote('"\\e9a8"');
$countly-icon-outline-receipt-tax: unquote('"\\e9a9"');
$countly-icon-outline-refresh: unquote('"\\e9aa"');
$countly-icon-outline-reply: unquote('"\\e9ab"');
$countly-icon-outline-rewind: unquote('"\\e9ac"');
$countly-icon-outline-rss: unquote('"\\e9ad"');
$countly-icon-outline-save: unquote('"\\e9ae"');
$countly-icon-outline-save-as: unquote('"\\e9af"');
$countly-icon-outline-scale: unquote('"\\e9b0"');
$countly-icon-outline-scissors: unquote('"\\e9b1"');
$countly-icon-outline-search: unquote('"\\e9b2"');
$countly-icon-outline-search-circle: unquote('"\\e9b3"');
$countly-icon-outline-selector: unquote('"\\e9b4"');
$countly-icon-outline-server: unquote('"\\e9b5"');
$countly-icon-outline-share: unquote('"\\e9b6"');
$countly-icon-outline-shield-check: unquote('"\\e9b7"');
$countly-icon-outline-shield-exclamation: unquote('"\\e9b8"');
$countly-icon-outline-shopping-bag: unquote('"\\e9b9"');
$countly-icon-outline-shopping-cart: unquote('"\\e9ba"');
$countly-icon-outline-sm-view-grid-add: unquote('"\\e9bb"');
$countly-icon-outline-sort-ascending: unquote('"\\e9bc"');
$countly-icon-outline-sort-descending: unquote('"\\e9bd"');
$countly-icon-outline-sparkles: unquote('"\\e9be"');
$countly-icon-outline-speakerphone: unquote('"\\e9bf"');
$countly-icon-outline-star: unquote('"\\e9c0"');
$countly-icon-outline-status-offline: unquote('"\\e9c1"');
$countly-icon-outline-status-online: unquote('"\\e9c2"');
$countly-icon-outline-stop: unquote('"\\e9c3"');
$countly-icon-outline-sun: unquote('"\\e9c4"');
$countly-icon-outline-support: unquote('"\\e9c5"');
$countly-icon-outline-switch-horizontal: unquote('"\\e9c6"');
$countly-icon-outline-switch-vertical: unquote('"\\e9c7"');
$countly-icon-outline-table: unquote('"\\e9c8"');
$countly-icon-outline-tag: unquote('"\\e9c9"');
$countly-icon-outline-template: unquote('"\\e9ca"');
$countly-icon-outline-terminal: unquote('"\\e9cb"');
$countly-icon-outline-thumb-down: unquote('"\\e9cc"');
$countly-icon-outline-thumb-up: unquote('"\\e9cd"');
$countly-icon-outline-ticket: unquote('"\\e9ce"');
$countly-icon-outline-translate: unquote('"\\e9cf"');
$countly-icon-outline-trash: unquote('"\\e9d0"');
$countly-icon-outline-trending-down: unquote('"\\e9d1"');
$countly-icon-outline-trending-up: unquote('"\\e9d2"');
$countly-icon-outline-truck: unquote('"\\e9d3"');
$countly-icon-outline-upload: unquote('"\\e9d4"');
$countly-icon-outline-user: unquote('"\\e9d5"');
$countly-icon-outline-user-add: unquote('"\\e9d6"');
$countly-icon-outline-user-circle: unquote('"\\e9d7"');
$countly-icon-outline-user-group: unquote('"\\e9d8"');
$countly-icon-outline-users: unquote('"\\e9d9"');
$countly-icon-outline-variable: unquote('"\\e9da"');
$countly-icon-outline-video-camera: unquote('"\\e9db"');
$countly-icon-outline-view-boards: unquote('"\\e9dc"');
$countly-icon-outline-view-grid: unquote('"\\e9dd"');
$countly-icon-outline-view-list: unquote('"\\e9de"');
$countly-icon-outline-volume-off: unquote('"\\e9df"');
$countly-icon-outline-volume-up: unquote('"\\e9e0"');
$countly-icon-outline-wifi: unquote('"\\e9e1"');
$countly-icon-outline-x: unquote('"\\e9e2"');
$countly-icon-outline-x-circle: unquote('"\\e9e3"');
$countly-icon-outline-zoom-in: unquote('"\\e9e4"');
$countly-icon-outline-zoom-out: unquote('"\\e9e5"');

