.technology-analytics-wrapper .devices-date-picker-container {
    margin-bottom:32px;
}
.technology-analytics-wrapper .version-graph-block .version-graph-title {
    margin:0px;
    padding-bottom:4px;
}

.version-graph-block:last-child {
    margin-bottom: 12px;
}

.technology-dashboard-widget> .bu-column:nth-child(odd)>.cly-vue-section {
    padding-right:8px;
}

.technology-dashboard-widget>.bu-column:nth-child(even)>.cly-vue-section {
    padding-left:8px;
}