button {
    font: $--font-weight-primary $--text-button-size $--font-family !important;
}

h1 {
    font-size: $--heading-1-size;
    line-height: $--heading-1-line-height;
    font-weight: $--heading-1-weight;
	margin: 0;
	padding: 0;
}

h2 {
    font-size: $--heading-2-size;
    line-height: $--heading-2-line-height;
    font-weight: $--heading-2-weight;
	margin: 0;
	padding: 0;
}

h3 {
    font-size: $--heading-3-size;
    line-height: $--heading-3-line-height;
    font-weight: $--heading-3-weight;
	margin: 0;
	padding: 0;
}

h4 {
    font-size: $--heading-4-size;
    line-height: $--heading-4-line-height;
    font-weight: $--heading-4-weight;
	margin: 0;
	padding: 0;
}

h5 {
    font-size: $--heading-5-size;
    line-height: $--heading-5-line-height;
    font-weight: $--heading-5-weight;
	margin: 0;
	padding: 0;
}

h6 {
    font-size: $--heading-6-size;
    line-height: $--heading-6-line-height;
    font-weight: $--heading-6-weight;
	margin: 0;
	padding: 0;
}