/*
    All countly color sass variables are in this file
*/

$color-white: #FFFFFF !default;
$color-black: #000000 !default;

$color-warm-gray-100: #24292E !default;
$color-warm-gray-90: #24292E !default;
$color-warm-gray-80: #383A3F !default;
$color-warm-gray-70: #424243 !default;
$color-warm-gray-60: #616165 !default;
$color-warm-gray-40: #D6D6D6 !default;
$color-warm-gray-30: #ECECEC !default;
$color-warm-gray-20: #F6F6F6 !default;
$color-warm-gray-10: #FCFCFC !default;

$color-cool-gray-100: #333C48 !default;
$color-cool-gray-50: #81868D !default;
$color-cool-gray-40: #A7AEB8 !default;
$color-cool-gray-20: #E2E4E8 !default;

$color-charts-blue: #017AFF !default;
$color-charts-turquoise: #39C0C8 !default;
$color-charts-amber: #F5C900 !default;
$color-charts-orange: #F96300 !default;
$color-charts-magenta: #F34971 !default;
$color-charts-coral: #FF9382 !default;
$color-charts-violet: #DA6EFC !default;
$color-charts-purple: #6C47FF !default;
$color-charts-tan: #CDAD7A !default;
$color-charts-olive: #AABB5D !default;
$color-charts-scarlet: #F62404 !default;
$color-charts-pink: #FFB6F5 !default;

$color-yellow-100: #E49700 !default;
$color-yellow-70: #FFC760 !default;
$color-yellow-20: #FFF4CE !default;
$color-yellow-10: #FCF5E5 !default;

$color-blue-100: #0166D6 !default;
$color-blue-90: #1A75DA !default;
$color-blue-80: #3485DE !default;
$color-blue-70: #4D94E2 !default;
$color-blue-60: #67A3E6 !default;
$color-blue-50: #80B3EB !default;
$color-blue-40: #99C2EF !default;
$color-blue-30: #B3D1F3 !default;
$color-blue-20: #CCE0F7 !default;
$color-blue-10: #E6F0FB !default;

$color-sky-blue-100: #3F9AFF !default;
$color-sky-blue-10: #E1EFFF !default;

$color-red-100: #D23F00 !default;
$color-red-10: #FBECE5 !default;

$color-green-100: #10A14A !default;
$color-green-80: #12AF51 !default;
$color-green-10: #EBFAEE !default;

$color-primary: #017AFF !default;
$color-primary-green: #12AF51 !default;
$color-success: #67C23A !default;
$color-warning: #E6A23C !default;
$color-danger: #F56C6C !default;
$color-info: #909399 !default;

//Data table colors
$table-th-bgcolor: #F6F6F6;
$table-text-color: #333C48;
$table-footer-text-color: #81868D;

//Text colors
$color-text-secondary: #81868D !default;
$color-text-custom-1-active: #333C48 !default;
$color-text-placeholder: #969FAD !default;
$color-text-primary: #303133 !default;
$color-text-regular: #03060C !default;
$border-color-light: #EBEBEF !default;
$border-color-lighter: #ECECEC !default;
$border-color-extra-light: #F2F6FC !default;
$color-text-custom-1-passive: #858A91 !default;

// Background
$background-color-base: #F5F7FA !default;

//Border colors
$border-color-base: #ECECEC !default;

//Action colors
$color-action-blue: #0166D6 !default;