.cly-icon-btn {
    height: 12px;
    width: 12px;
    display: inline-block;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;
}

.cly-icon-input {
    height: 20px;
    width: 20px;
    display: inline-block;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;
}


.cly-icon- {
    &zoom {
        background-image: url("../../../images/icons/zoom-icon.svg");
    }

    &arrow-down {
        background-image: url("../../../images/icons/arrow_drop_down.svg");
    }

    &arrow-up {
        background-image: url("../../../images/icons/arrow_drop_up.svg");
    }

    &sidebar-{
        &app {
            background-image: url("../../../images/sidebar/app.svg");
            height: 24px;
            width: 24px;
        }

        &analytics {
            background-image: url("../../../images/sidebar/analytics-icon.svg");
            height: 20px;
            width: 20px;
        }

        &dashboards {
            background-image: url("../../../images/sidebar/dashboards-icon.svg");
            height: 20px;
            width: 20px;
        }

        &divider {
            background-image: url("../../../images/sidebar/divider.svg");
            height: 20px;
            width: 32px;
        }

        &management {
            background-image: url("../../../images/sidebar/management.svg");
            height: 20px;
            width: 20px;
        }

        &report-manager {
            background-image: url("../../../images/sidebar/report-manager.svg");
            height: 18px;
            width: 20px;
        }

        &help-center {
            background-image: url("../../../images/sidebar/help-center.svg");
            height: 25px;
            width: 20px;
        }

        &notifications {
            background-image: url("../../../images/sidebar/notifications.svg");
            height: 23px;
            width: 20px;
        }
    }
}