.cly-icon-btn {
    height: 12px;
    width: 12px;
    display: inline-block;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;
}

.cly-icon-prefix-icon {
    height: 14px;
    width: 12px;
    margin-left: 7px;
    display: inline-block;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;
}

.cly-icon-input {
    height: 20px;
    width: 20px;
    display: inline-block;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;
}


.cly-icon- {
    &zoom {
        background-image: url("../../../images/icons/zoom-icon.svg");
    }

    &arrow-down {
        background-image: url("../../../images/icons/arrow_drop_down.svg");
    }

    &arrow-up {
        background-image: url("../../../images/icons/arrow_drop_up.svg");
    }

    &menu {
        background-image: url("../../../images/icons/menu.svg");
    }

    &date {
        background-image: url("../../../images/icons/date.svg");
    }

    &download {
        background-image: url("../../../images/icons/download-icon.svg");
    }

    &save {
        background-image: url("../../../images/icons/save.svg");
    }

    &load {
        background-image: url("../../../images/icons/load.svg");
    }

    &upload {
        background-image: url("../../../images/icons/upload.svg");
    }

    &arrow_forward-circled {
        background-image: url("../../../images/icons/arrow_forward-circled.svg");
    }

    &copy {
        background-image: url("../../../images/icons/copy.svg");
    }

    &copy_interactive{
        background-image: url("../../../images/icons/copy_inactive.svg");
    }
    &copy_interactive:hover{
        background-image: url("../../../images/icons/copy.svg");
    }
}

.el-button [class*=ion-]+span, [class*=cly-icon-]+span {
    margin-left: 6px;
}
.el-button-group > .el-button {
    display: flex;
    align-items: center;
}
.el-button-group>.el-select:first-child .el-button {
    display: flex;
    align-items: center;
}