/*
    All typography variables are in this file
*/

$heading-1-size: 32px !default;
$heading-1-line-height: 48px !default;
$heading-1-weight: 500 !default;

$heading-2-size: 24px !default;
$heading-2-line-height: 32px !default;
$heading-2-weight: 500 !default;

$heading-3-size: 20px !default;
$heading-3-line-height: 30px !default;
$heading-3-weight: 500 !default;

$heading-4-size: 16px !default;
$heading-4-line-height: 24px !default;
$heading-4-weight: 500 !default;

$heading-5-size: 14px !default;
$heading-5-line-height: 20px !default;
$heading-5-weight: 500 !default;

$heading-6-size: 14px !default;
$heading-6-line-height: 18px !default;
$heading-6-weight: 500 !default;

$text-big-size: 16px !default;
$text-big-line-height: 22px !default;

$text-medium-size: 14px !default;
$text-medium-line-height: 20px !default;

$text-button-size: 13px !default;
$text-button-line-height: 16px !default;

$text-small-size: 12px !default;
$text-small-line-height: 18px !default;

$text-smaller-size: 10px !default;
$text-smaller-line-height: 12px !default;

$text-2xl-size: 20px !default;
$text-xl-size: 18px !default;
$text-lg-size: 16px !default;
$text-md-size: 14px !default;
$text-smd-size: 13px !default;
$text-sm-size: 12px !default;
$text-xs-size: 10px !default;

$font-weight-primary: 500 !default;
$font-weight-secondary: 100 !default;
$font-weight-text: 400 !default;
$font-weight-bold: 600 !default;

$font-family: Inter !default;