.technology-analytics-wrapper .allPlatformVersions {
    border-left: 1px solid #ececec;
    height: 264px;
    border-top: 1px solid #ececec;
    border-bottom: 1px solid #ececec;
    background-color: #fff;
}

.technology-analytics-wrapper .emptyVersions {
    height: 264px;
    position:relative;
    border-left: 1px solid #ececec;
    border-top: 1px solid #ececec;
    border-bottom: 1px solid #ececec;
    background-color: #fff;
}
.technology-analytics-wrapper .emptyVersions div {
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 20px;
    color:#333C48;
    position: absolute;
    top: 50%;
    text-align: center;
    width: 100%;
    margin-top: -10px;
}

.technology-analytics-wrapper .version-graph-title {
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 20px;
    color: #333c48;
    
    .divider {
        color: #a7aeb8;
    }
}

.technology-analytics-wrapper .version-graph-title div:first-child {
    text-align:left;
}
.technology-analytics-wrapper .version-graph-title div:nth-child(2) {
    text-align:right;
}
.technology-analytics-wrapper .version-graph-block .version-graph-title{
    margin:0px;
    padding-bottom:4px;
}
.technology-analytics-wrapper .version-graph-title .bu-column {
    padding:0px;
}

.technology-analytics-wrapper .cly-vue-metric-card__wrapper .bu-is-flex-direction-column {
    margin-right: -1.5rem;
}

.technology-analytics-wrapper .selector_wrapper {
    position:relative;
    top:-5px;
    margin-left: 8px;
}

.technology-analytics-wrapper .app-resolution-date-picker-container {
    margin-bottom:32px;
}

.technology-analytics-wrapper .metricCardsWrapper {
    height: 115px;
}

.technology-analytics-wrapper .metricCardsWrapper .emptyCard{
    min-height: 107px;
    border-left:1px solid #ececec;
	width: 100%;
	position:relative;
	background-color: #ffffff;
	border-top:1px solid #ececec;
	border-bottom:1px solid #ececec;
}
.technology-analytics-wrapper .emptyCard div {
	position: absolute;
    top: 50%;
    text-align: center;
	width: 100%;
    line-height: 20px;
    margin-top: -10px;
}

.technology-analytics-wrapper .platformVersionsWrapper .emptyCard{
    min-height: 250px;
    border-left:1px solid #ececec;
	width: 100%;
	position:relative;
	background-color: #ffffff;
	border-top:1px solid #ececec;
	border-bottom:1px solid #ececec;
}

.technology-analytics-wrapper .platformVersionsWrapper {
    height: 309px;
    padding-bottom: 20px;
}

.technology-analytics-wrapper .metricCardsWrapper .bu-columns {
    flex-wrap: nowrap;
}

.technology-analytics-wrapper .metricCardsWrapper .__view {
    width: auto !important;
}
.technology-analytics-wrapper .metricCardsWrapper .cly-vue-metric-cards {
		border-bottom: none;
}

.technology-analytics-wrapper .metricCardsWrapper .cly-vue-metric-card {
    background-color: #fff;
	border-top:1px solid #ececec;
	border-bottom:1px solid #ececec;

}

.technology-analytics-wrapper {
    &__items {
        height: 115px;
    }

    &__versions {
        height: 291px; 
        padding-bottom: 20px;
    }

    &__empty-card {
        min-height: 107px;
        border-left: 1px solid #ececec;
        width: 100%;
        position: relative;
        background-color: #ffffff;
        top: 50%;
        text-align: center;
        border-bottom: 1px solid #ececec;
        
        div {
            position: absolute;
            top: 50%;
            text-align: center;
            width: 100%;
            line-height: 20px;
            margin-top: -10px;
        }
    }

    &__versions-empty-card {
        min-height: 250px;
        border-left: 1px solid #ececec;
        width: 100%;
        position: relative;
        background-color: #ffffff;
        border-top: 1px solid #ececec;
        border-right: 1px solid #ececec;
        border-bottom: 1px solid #ececec;

        div {
            position: absolute;
            top: 50%;
            text-align: center;
            width: 100%;
            line-height: 20px;
            margin-top: -10px;
        }
    }
}