#main_home_view .el-loading-parent--relative {
	min-height: 100px;
}
#main_home_view .bu-level-left:first-child > h2 {
	font-size: 20px !important;
}

#main_home_view .cly-back-link i {
	color:  #333C48;
}

#main_home_view .componentBlock>div {
	padding-top: 16px;
	padding-bottom: 20px;
}