<div v-bind:class="[componentId]">
	 <cly-header>
        <template v-slot:header-left>
            <h2> {{i18n('devices.devices-and-types.title')}} </h2>
            <cly-tooltip-icon :tooltip="description" icon="ion ion-help-circled" style="margin-left:8px" placement="bottom-end"> </cly-tooltip-icon>
        </template>
		<template v-slot:header-right>
          <cly-more-options v-if="topDropdown" size="small">
            <el-dropdown-item :key="idx" v-for="(item, idx) in topDropdown">
              <!--<span :class="item.icon"></span>-->
              <a :href="item.value" class="bu-ml-1">{{item.label}}</a>
            </el-dropdown-item>
          </cly-more-options>
        </template>
		 <template v-slot:header-tabs>
            <cly-dynamic-tabs v-model="dynamicTab" skin="secondary" :tabs="tabs">
            </cly-dynamic-tabs>
        </template>
    </cly-header>
</div>


